
block threadmeup
	.project.offset
		.shield
			img(src="/images/threadmeup/threadmeup.jpg")
		a.studylink(data-pathname="threadmeup")
			.preview.pleft
				.phone.right
					.top
						.camera
							span
						.speaker
							span
					img(src="/images/threadmeup/threadmeupb.jpg")
					.bottom
						div
							span
				.browser.cond
					.top
						ul
							li
							li
							li
						span threadmeup.com
					img(src="/images/threadmeup/threadmeup.jpg")
		.info.iright
			h1 ThreadMeUp
			.role
				h6.caps Role:
				div
					span pretty much everything
			p Nulla pharetra sagittis metus quisque luctus ipsum turpis, nec placerat sapien sodales vel, phasellus ac quam tempus luctor id.
			a.button.studylink(data-pathname="threadmeup") Button text

block dostoros
	.project.offset
		.shield
			img(src="/images/dostoros/dostoros.jpg")
		a.studylink(data-pathname="dostoros")
			.preview.pright
				.phone
					.top
						.camera
							span
						.speaker
							span
					img(src="/images/dostoros/dostorosb.jpg")
					.bottom
						div
							span
				.browser.cond
					.top
						ul
							li
							li
							li
						span dostoros.com
					img(src="/images/dostoros/dostoros.jpg")
		.info.ileft
			h1 Dos Toros
			.role
				h6.caps Role:
				div
					span storyteller <em>(deal with it <a class="texta" href="https://youtu.be/UlkIVIau1Nk", target="_blank">sagmeister</a>)</em>
			p Nulla pharetra sagittis metus quisque luctus ipsum turpis, nec placerat sapien sodales vel, phasellus ac quam tempus luctor id.
			a.button.studylink(data-pathname="dostoros") Button text
			a.button.livelink(href="http://dostoros.com", target="_blank") Button text

block coolhouse
	.project
		.shield.small
			img(src="/images/coolhouse/fountain.jpg")
		a.studylink(data-pathname="coolhouse")
			.preview.pleft
				.multibrowser.cycle.stepa
					.browser.stack.stacka
						.top
							ul
								li
								li
								li
							span fountaingreetings.com
						img(src="/images/coolhouse/fountain.jpg")
					.browser.stack.stackb
						.top
							ul
								li
								li
								li
							span localfu.com
						img(src="/images/coolhouse/localfu.jpg")
					.browser.stack.stackc
						.top
							ul
								li
								li
								li
							span outdoors.io
						img(src="/images/coolhouse/outdoors.jpg")
					.browser.stack.stackd
						.top
							ul
								li
								li
								li
							span rexpethealth.com
						img(src="/images/coolhouse/rex.jpg")
					.browser.under
						.top
							ul
								li
								li
								li
							span coolhouselabs.com
						img(src="/images/coolhouse/localfu.jpg")
		.info.iright
			h1 Coolhouse
			.role
				h6.caps Role:
				div
					span aliquam eget lectus
			p Nulla pharetra sagittis metus quisque luctus ipsum turpis, nec placerat sapien sodales vel, phasellus ac quam tempus luctor id.
			a.button.studylink(data-pathname="coolhouse") Button text

block huddlepass
	.project.offset
		.shield
			img(src="/images/huddlepass/huddlepass.jpg")
		a.studylink(data-pathname="huddlepass")
			.preview.pright
				.phone
					.top
						.camera
							span
						.speaker
							span
					img(src="/images/huddlepass/huddlepassb.jpg")
					.bottom
						div
							span
				.browser.cond
					.top
						ul
							li
							li
							li
						span huddlepass.com
					img(src="/images/huddlepass/huddlepass.jpg")
		.info.ileft
			h1 HuddlePass
			.role
				h6.caps Role:
				div
					span aliquam eget lectus
			p Nulla pharetra sagittis metus quisque luctus ipsum turpis, nec placerat sapien sodales vel, phasellus ac quam tempus luctor id.
			a.button.studylink(data-pathname="huddlepass") Button text

block socialcrunch
	.project.offset
		.shield
			img(src="/images/socialcrunch/socialcrunch.jpg")
		a.studylink(data-pathname="socialcrunch")
			.preview.pleft
				.phone.right
					.top
						.camera
							span
						.speaker
							span
					img(src="/images/socialcrunch/socialcrunchb.jpg")
					.bottom
						div
							span
				.browser.cond
					.top
						ul
							li
							li
							li
						span socialcrunch.com
					img(src="/images/socialcrunch/socialcrunch.jpg")
		.info.iright
			h1 SocialCrunch
			.role
				h6.caps Role:
				div
					span aliquam eget lectus
			p Nulla pharetra sagittis metus quisque luctus ipsum turpis, nec placerat sapien sodales vel, phasellus ac quam tempus luctor id.
			a.button.studylink(data-pathname="socialcrunch") Button text

block lifeis
	.project
		.shield.small
			img(src="/images/lifeis/lifeis.gif")
		a.studylink(data-pathname="lifeis")
			.preview.pright
				.browser
					.top
						ul
							li
							li
							li
						span life.is
					img(src="/images/lifeis/lifeis.gif")
		.info.ileft
			h1 Life.is
			.role
				h6.caps Role:
				div
					span aliquam eget lectus
			p Nulla pharetra sagittis metus quisque luctus ipsum turpis, nec placerat sapien sodales vel, phasellus ac quam tempus luctor id.
			a.button.studylink(data-pathname="lifeis") Button text

block overdog
	.project.triphone
		.shield
			img(src="/images/overdog/overdog.jpg")
		a.studylink(data-pathname="overdog")
			.preview.pleft
				.multiphone
					.phone.stack.stacka
						.top
							.camera
								span
							.speaker
								span
						img(src="/images/overdog/overdog.jpg")
						.bottom
							div
								span
					.phone.stack.stackb
						.top
							.camera
								span
							.speaker
								span
						img(src="/images/overdog/overdogb.jpg")
						.bottom
							div
								span
					.phone.stack.stackc
						.top
							.camera
								span
							.speaker
								span
						img(src="/images/overdog/overdogc.jpg")
						.bottom
							div
								span
					.phone.under
						.top
							.camera
								span
							.speaker
								span
						img(src="/images/overdog/overdog.jpg")
						.bottom
							div
								span
		.info.iright
			h1 OverDog
			.role
				h6.caps Role:
				div
					span aliquam eget lectus
			p Nulla pharetra sagittis metus quisque luctus ipsum turpis, nec placerat sapien sodales vel, phasellus ac quam tempus luctor id.
			a.button.studylink(data-pathname="overdog") Button text

block gennutrition
	.project
		.shield.small
			img(src="/images/gennutrition/gennutrition.jpg")
		a.studylink(data-pathname="gennutrition")
			.preview.pright
				.browser
					.top
						ul
							li
							li
							li
						span life.is
					img(src="/images/gennutrition/gennutrition.jpg")
		.info.ileft
			h1 Gen. Nutrition
			.role
				h6.caps Role:
				div
					span aliquam eget lectus
			p Nulla pharetra sagittis metus quisque luctus ipsum turpis, nec placerat sapien sodales vel, phasellus ac quam tempus luctor id.
			a.button.studylink(data-pathname="gennutrition") Button text

block 2old2play
	.project
		.shield.small
			img(src="/images/2old2play/2old2play.jpg")
		a.studylink(data-pathname="2old2play")
			.preview.pright
				.browser
					.top
						ul
							li
							li
							li
						span life.is
					img(src="/images/2old2play/2old2play.jpg")
		.info.ileft
			h1 2Old2Play
			.role
				h6.caps Role:
				div
					span aliquam eget lectus
			p Nulla pharetra sagittis metus quisque luctus ipsum turpis, nec placerat sapien sodales vel, phasellus ac quam tempus luctor id.
			a.button.studylink(data-pathname="2old2play") Button text

block toggle
	.project
		.shield.small
			img(src="/images/toggle/toggle.jpg")
		a.studylink(data-pathname="toggle")
			.preview.pright
				.browser
					.top
						ul
							li
							li
							li
						span life.is
					img(src="/images/toggle/toggle.jpg")
		.info.ileft
			h1 Toggle TV
			.role
				h6.caps Role:
				div
					span aliquam eget lectus
			p Nulla pharetra sagittis metus quisque luctus ipsum turpis, nec placerat sapien sodales vel, phasellus ac quam tempus luctor id.
			a.button.studylink(data-pathname="toggle") Button text

block recent
	.head
		span
		h5.caps More of my work
		span
	.project
		.shield.small
			img(src="/images/recent/vouch.jpg")
		a.studylink(data-pathname="recent")
			.preview.pright
				.multibrowser.cycle.stepa
					.browser.stack.stacka
						.top
							ul
								li
								li
								li
							span analytics8.com
						img(src="/images/recent/analytics8.jpg")
					.browser.stack.stackb
						.top
							ul
								li
								li
								li
							span vouch.com
						img(src="/images/recent/vouch.jpg")
					.browser.stack.stackc
						.top
							ul
								li
								li
								li
							span stump.social
						img(src="/images/recent/stump.jpg")
					.browser.stack.stackd
						.top
							ul
								li
								li
								li
							span justcapital.com
						img(src="/images/recent/justcapital.jpg")
					.browser.under
						.top
							ul
								li
								li
								li
							span isaacpvl.com
						img(src="/images/recent/vouch.jpg")
		.info.more.ileft
			h6.caps OMGNEW<span>!!!</span>
			h1 What I've been<br>up to recently.
			p Sed convallis mollis eros vel sagittis neque tristique ut, phasellus libero arcu imperdiet ut purus vitae.
			a.button.studylink(data-pathname="recent") Button text

block past
	.project
		.shield.small
			img(src="/images/socialcrunch/socialcrunch.jpg")
		a.studylink(data-pathname="past")
			.preview.pleft
				.multibrowser.cycle.stepa
					.browser.stack.stacka
						.top
							ul
								li
								li
								li
							span gennutrition.com
						img(src="/images/gennutrition/gennutrition.jpg")
					.browser.stack.stackb
						.top
							ul
								li
								li
								li
							span socialcrunch.com
						img(src="/images/socialcrunch/socialcrunch.jpg")
					.browser.stack.stackc
						.top
							ul
								li
								li
								li
							span 2old2play.com
						img(src="/images/2old2play/2old2playb.jpg")
					.browser.stack.stackd
						.top
							ul
								li
								li
								li
							span life.is
						img(src="/images/lifeis/lifeis.gif")
					.browser.under
						.top
							ul
								li
								li
								li
							span socialcrunch.com
						img(src="/images/socialcrunch/socialcrunch.jpg")
		.info.more.iright
			h1 More work I've<br>done in the past.
			p Sed convallis mollis eros vel sagittis neque tristique ut, phasellus libero arcu imperdiet ut purus vitae.
			a.button.studylink(data-pathname="past") Button text

block dribbble
	.project.dribs
		a(href="http://dribbble.com/isaacpvl", target="_blank")
			.preview.pright
				.shots
					img#a(src="/images/shots/dtcardr.jpg")
					img#b(src="/images/shots/justcap.jpg")
					img#c(src="/images/shots/comicb.jpg")
					img#d(src="/images/shots/waves.jpg")
				img(src="/images/shots/waves.jpg")
		.info.more.ileft
			h1 Shots I pull up<br>off the dribbble.
			p Sed convallis mollis eros vel sagittis neque tristique ut, phasellus libero arcu imperdiet ut purus vitae.
			a.button(href="http://dribbble.com/isaacpvl", target="_blank") Button text
