.project
	.pwrap
		.preview.pleft#navlink(data-pathname="2old2play")
			.browser
				.top
					ul
						li
						li
						li
					span 2old2play.com
				img(src="/_img/2old2play/2old2play.jpg")
		.info.iright
			h2 2Old2Play
			.role
				h6 Role: 
				| web design & brand
			p.small I took a large community&rsquo;s dated website and designed it to be a social hub that gets people to start playing together.
			a.button#navlink(data-pathname="2old2play") Full Project