.project
	.pwrap
		.shield.small
			img(src="/images/coolhouse/fountain.jpg")
		a#navlink(data-pathname="coolhouse")
			.preview.pleft
				.multibrowser.cycle.stepa
					.browser.stack.stacka
						.top
							ul
								li
								li
								li
							span fountaingreetings.com
						img(src="/images/coolhouse/fountain.jpg")
					.browser.stack.stackb
						.top
							ul
								li
								li
								li
							span localfu.com
						img(src="/images/coolhouse/localfu.jpg")
					.browser.stack.stackc
						.top
							ul
								li
								li
								li
							span outdoors.io
						img(src="/images/coolhouse/outdoors.jpg")
					.browser.stack.stackd
						.top
							ul
								li
								li
								li
							span rexpethealth.com
						img(src="/images/coolhouse/rex.jpg")
					.browser.under
						.top
							ul
								li
								li
								li
							span coolhouselabs.com
						img(src="/images/coolhouse/localfu.jpg")
		.info.iright
			h1 Coolhouse
			.role
				h6 Role:
				div
					span camp counselor
			p I traveled to a 'summer camp' style startup accelerator as the design lead (and more) for a group of startup campers.
			a.button#navlink(data-pathname="coolhouse") Full Project