.project.slides
	.pwrap
		.preview.pleft#navlink(data-pathname="coolhouse")
			.multibrowser.cycle.stepa
				.browser.stack.stacka
					.top
						ul
							li
							li
							li
						span fountaingreetings.com
					img(src="/_img/coolhouse/fountain.jpg")
				.browser.stack.stackb
					.top
						ul
							li
							li
							li
						span localfu.com
					img(src="/_img/coolhouse/localfu.jpg")
				.browser.stack.stackc
					.top
						ul
							li
							li
							li
						span outdoors.io
					img(src="/_img/coolhouse/outdoors.jpg")
				.browser.stack.stackd
					.top
						ul
							li
							li
							li
						span rexpethealth.com
					img(src="/_img/coolhouse/rex.jpg")
				.browser.under
					.top
						ul
							li
							li
							li
						span coolhouselabs.com
					img(src="/_img/coolhouse/localfu.jpg")
		.info.iright
			h2 Coolhouse
			.role
				h6 Role: 
				| camp counselor
			p.small I traveled to a &lsquo;summer camp&rsquo; style startup accelerator as the design lead (and more) for a group of startup campers.
			a.button#navlink(data-pathname="coolhouse") Full Project