.project.offset
	.pwrap
		.preview.pright#navlink(data-pathname="dostoros")
			.phone
				.top
					.camera
						span
					.speaker
						span
				img(src="/_img/dostoros/dostorosb.jpg")
				.bottom
					div
						span
			.browser.cond
				.top
					ul
						li
						li
						li
					span dostoros.com
				img(src="/_img/dostoros/dostoros.jpg")
		.info.ileft
			h2 Dos Toros
			.role
				h6 Role: 
				| storyteller <i>(deal with it <a href="https://youtu.be/UlkIVIau1Nk", target="_blank">sagmeister</a>)</i>
			p.small I helped two of the most passionate restaurant owners in NY take their off-the-wall culture and brand to a new level.
			a.button#navlink(data-pathname="dostoros") Full Project
			a.button#livelink(href="http://dostoros.com", target="_blank") Live Site