.project.offset
	.pwrap
		a#navlink(data-pathname="dostoros")
			.preview.pright
				.phone
					.top
						.camera
							span
						.speaker
							span
					img(src="/images/dostoros/dostorosb.jpg")
					.bottom
						div
							span
				.browser.cond
					.top
						ul
							li
							li
							li
						span dostoros.com
					img(src="/images/dostoros/dostoros.jpg")
		.info.ileft
			h2 Dos Toros
			.role
				h6 Role:
				div
					span storyteller <em>(deal with it <a  href="https://youtu.be/UlkIVIau1Nk", target="_blank">sagmeister</a>)</em>
			p.small I helped two of the most vibrant, passionate restaurant owners ever take their off-the-wall culture and brand to a new level.
			a.button#navlink(data-pathname="dostoros") Full Project
			a.button#livelink(href="http://dostoros.com", target="_blank") Live Site