.project
	.pwrap
		.preview.pright#navlink(data-pathname="gennutrition")
			.browser
				.top
					ul
						li
						li
						li
					span generationnutrition.com
				img(src="/_img/gennutrition/gennutrition.jpg")
		.info.ileft
			h2.short Generation<br> Nutrition
			.role
				h6 Role: 
				| web design & dev
			p.small I created a campaign site with strong visual messages for a coalition rallying against world hunger and gathering support.
			a.button#navlink(data-pathname="gennutrition") Full Project