.project
	.pwrap
		.shield.small
			img(src="/images/gennutrition/gennutrition.jpg")
		a#navlink(data-pathname="gennutrition")
			.preview.pright
				.browser
					.top
						ul
							li
							li
							li
						span generationnutrition.com
					img(src="/images/gennutrition/gennutrition.jpg")
		.info.ileft
			h2 Generation<br> Nutrition
			.role
				h6 Role:
				div
					span web design & dev
			p.small I created a campaign site with strong visual messages for a coalition rallying against world hunger and gathering support.
			a.button#navlink(data-pathname="gennutrition") Full Project