.project.offset
	.shield
		img(src="/images/huddlepass/huddlepass.jpg")
	a#navlink(data-pathname="huddlepass")
		.preview.pright
			.phone
				.top
					.camera
						span
					.speaker
						span
				img(src="/images/huddlepass/huddlepassb.jpg")
				.bottom
					div
						span
			.browser.cond
				.top
					ul
						li
						li
						li
					span huddlepass.com
				img(src="/images/huddlepass/huddlepass.jpg")
	.info.ileft
		h1 HuddlePass
		.role
			h6.caps Role:
			div
				span web/UI design & brand
		p I designed a community platform for the fans who just can't get enough and want to be on the inside with coaches and players.
		a.button#navlink(data-pathname="huddlepass") Full Project