.project.offset
	.pwrap
		.preview.pright#navlink(data-pathname="huddlepass")
			.phone
				.top
					.camera
						span
					.speaker
						span
				img(src="/_img/huddlepass/huddlepassb.jpg")
				.bottom
					div
						span
			.browser.cond
				.top
					ul
						li
						li
						li
					span huddlepass.com
				img(src="/_img/huddlepass/huddlepass.jpg")
		.info.ileft
			h2 HuddlePass
			.role
				h6 Role: 
				| web/UI design & brand
			p.small I designed a community platform for the fans who just can&rsquo;t get enough and want to be on the inside with coaches and players.
			a.button#navlink(data-pathname="huddlepass") Full Project