.project
	.pwrap
		.preview.pright#navlink(data-pathname="lifeis")
			.browser
				.top
					ul
						li
						li
						li
					span life.is
				img(src="/_img/lifeis/lifeis.gif")
		.info.ileft
			h2 Life.is
			.role
				h6 Role: 
				| web design & brand
			p.small I did a happy feel-good brand for this new e-magazine and fundraising platform, and then carried those vibes onto the web.
			a.button#navlink(data-pathname="lifeis") Full Project