.project.triphone
	.pwrap
		.preview.pleft#navlink(data-pathname="overdog")
			.multiphone
				.phone.stack.stacka
					.top
						.camera
							span
						.speaker
							span
					img(src="/_img/overdog/overdog.jpg")
					.bottom
						div
							span
				.phone.stack.stackb
					.top
						.camera
							span
						.speaker
							span
					img(src="/_img/overdog/overdogb.jpg")
					.bottom
						div
							span
				.phone.stack.stackc
					.top
						.camera
							span
						.speaker
							span
					img(src="/_img/overdog/overdogc.jpg")
					.bottom
						div
							span
				.phone.under
					.top
						.camera
							span
						.speaker
							span
					img(src="/_img/overdog/overdog.jpg")
					.bottom
						div
							span
		.info.iright
			h2 OverDog
			.role
				h6 Role: 
				| UI design & art direction
			p.small I made it easy and exciting for pro athletes to challenge their fans in video games, and for both parties to have a blast.
			a.button#navlink(data-pathname="overdog") Full Project