.project.slides
	.pwrap
		.preview.pleft#navlink(data-pathname="past")
			.multibrowser.cycle.stepa
				.browser.stack.stacka
					.top
						ul
							li
							li
							li
						span generationnutrition.com
					img(src="/_img/gennutrition/gennutrition.jpg")
				.browser.stack.stackb
					.top
						ul
							li
							li
							li
						span socialcrunch.com
					img(src="/_img/socialcrunch/socialcrunch.jpg")
				.browser.stack.stackc
					.top
						ul
							li
							li
							li
						span 2old2play.com
					img(src="/_img/2old2play/2old2playb.jpg")
				.browser.stack.stackd
					.top
						ul
							li
							li
							li
						span life.is
					img(src="/_img/lifeis/lifeis.jpg")
				.browser.under
					.top
						ul
							li
							li
							li
						span socialcrunch.com
					img(src="/_img/socialcrunch/socialcrunch.jpg")
		.info.more.iright
			h2 More stuff I&rsquo;ve<br> done in the past
			p.small A separate place for a bunch of random older projects from over 2 years ago that I keep around because why not.
			a.button#navlink(data-pathname="past") Old Projects