.project
	.shield.small
		img(src="/images/socialcrunch/socialcrunch.jpg")
	a#navlink(data-pathname="past")
		.preview.pleft
			.multibrowser.cycle.stepa
				.browser.stack.stacka
					.top
						ul
							li
							li
							li
						span generationnutrition.com
					img(src="/images/gennutrition/gennutrition.jpg")
				.browser.stack.stackb
					.top
						ul
							li
							li
							li
						span socialcrunch.com
					img(src="/images/socialcrunch/socialcrunch.jpg")
				.browser.stack.stackc
					.top
						ul
							li
							li
							li
						span 2old2play.com
					img(src="/images/2old2play/2old2playb.jpg")
				.browser.stack.stackd
					.top
						ul
							li
							li
							li
						span life.is
					img(src="/images/lifeis/lifeis.gif")
				.browser.under
					.top
						ul
							li
							li
							li
						span socialcrunch.com
					img(src="/images/socialcrunch/socialcrunch.jpg")
	.info.more.iright
		h1 More stuff I've<br> done in the past
		p A separate place for a bunch of random older projects from over 2 years ago that I keep around because why not.
		a.button#navlink(data-pathname="past") Old Projects