.project.slides
	.pwrap
		.preview.pright#navlink(data-pathname="recent")
			.multibrowser.cycle.stepa
				.browser.stack.stacka
					.top
						ul
							li
							li
							li
						span localhost:8000
					img(src="/_img/recent/analytics8.jpg")
				.browser.stack.stackb
					.top
						ul
							li
							li
							li
						span localhost:8000
					img(src="/_img/recent/vouch.jpg")
				.browser.stack.stackc
					.top
						ul
							li
							li
							li
						span localhost:8000
					img(src="/_img/recent/stump.jpg")
				.browser.stack.stackd
					.top
						ul
							li
							li
							li
						span localhost:8000
					img(src="/_img/recent/justcapital.jpg")
				.browser.under
					.top
						ul
							li
							li
							li
						span isaacpvl.com
					img(src="/_img/recent/vouch.jpg")
		.info.more.ileft
			h6 OMGNEW<span>!!!</span>
			h2 What I&rsquo;ve been<br> up to recently
			p.small A more casual place for me to throw up a few quick looks of newer things I&rsquo;ve been on, even if unorganized or unfinished.
			a.button#navlink(data-pathname="recent") New Projects