.project
	.pwrap
		.preview.free.pright(href="http://dribbble.com/isaacpvl", target="_blank")
			.shots
				img#a(src="/_img/shots/dtcardr.jpg")
				img#b(src="/_img/shots/justcap.jpg")
				img#c(src="/_img/shots/comicb.jpg")
				img#d(src="/_img/shots/waves.jpg")
			img.cover(src="/_img/shots/waves.jpg")
		.info.more.ileft
			h2 Shots I&rsquo;ve taken<br> on Dribbble
			p.small Nearly everything I post is animated, often a screen recording of a crazy front-end in motion, so click in if that&rsquo;s your thing.
			a.button(href="http://dribbble.com/isaacpvl", target="_blank") Dribbble Feed