.project.offset
	.shield
		img(src="/images/socialcrunch/socialcrunch.jpg")
	a#navlink(data-pathname="socialcrunch")
		.preview.pleft
			.phone.right
				.top
					.camera
						span
					.speaker
						span
				img(src="/images/socialcrunch/socialcrunchb.jpg")
				.bottom
					div
						span
			.browser.cond
				.top
					ul
						li
						li
						li
					span socialcrunch.com
				img(src="/images/socialcrunch/socialcrunch.jpg")
	.info.iright
		h1 SocialCrunch
		.role
			h6.caps Role:
			div
				span web/UI design
		p I made it easy for people to get addicted to giving this startup all kinds of data while they compare themselves to others.
		a.button#navlink(data-pathname="socialcrunch") Full Project