.project.offset
	.pwrap
		.preview.pleft#navlink(data-pathname="socialcrunch")
			.phone.right
				.top
					.camera
						span
					.speaker
						span
				img(src="/_img/socialcrunch/socialcrunchb.jpg")
				.bottom
					div
						span
			.browser.cond
				.top
					ul
						li
						li
						li
					span socialcrunch.com
				img(src="/_img/socialcrunch/socialcrunch.jpg")
		.info.iright
			h2 SocialCrunch
			.role
				h6 Role: 
				| web/UI design
			p.small I made it easy for people to get addicted to giving this startup all kinds of data while they compare themselves to others.
			a.button#navlink(data-pathname="socialcrunch") Full Project