.project.offset
	.pwrap
		.shield
			img(src="/images/threadmeup/threadmeup.jpg")
		a#navlink(data-pathname="threadmeup")
			.preview.pleft
				.phone.right
					.top
						.camera
							span
						.speaker
							span
					img(src="/images/threadmeup/threadmeupb.jpg")
					.bottom
						div
							span
				.browser.cond
					.top
						ul
							li
							li
							li
						span threadmeup.com
					img(src="/images/threadmeup/threadmeup.jpg")
		.info.iright
			h2 ThreadMeUp
			.role
				h6 Role:
				div
					span pretty much everything
			p.small I threw my chips in with an infant startup, and emerged a few months later with a real brand and deep custom apparel platform.
			a.button#navlink(data-pathname="threadmeup") Full Project