.project.offset
	.pwrap
		.preview.pleft#navlink(data-pathname="threadmeup")
			.phone.small.right
				.top
					.camera
						span
					.speaker
						span
				img(src="/_img/threadmeup/threadmeupb.jpg")
				.bottom
					div
						span
			.browser.cond
				.top
					ul
						li
						li
						li
					span threadmeup.com
				img(src="/_img/threadmeup/threadmeup.jpg")
		.info.iright
			h2 ThreadMeUp
			.role
				h6 Role: 
				| pretty much everything
			p.small I threw my chips in with an infant startup, and emerged a few months later with a real brand and deep custom apparel platform.
			a.button#navlink(data-pathname="threadmeup") Full Project