.project
	.pwrap
		.preview.pright#navlink(data-pathname="toggle")
			.shot
				img(src="/_img/toggle/toggle.jpg")
		.info.ileft
			h2 Toggle TV
			.role
				h6 Role: 
				| UI design & dev
			p.small I designed a native TV app for a dedicated device and built prototypes fleshing out unique but intuitive interactions.
			a.button#navlink(data-pathname="toggle") Full Project