.project
	.pwrap
		.shield.small
			img(src="/images/toggle/toggle.jpg")
		a(data-pathname="toggle")
			.preview.pright
				img.frame(src="/images/toggle/toggle.jpg")
		.info.ileft
			h1 Toggle TV
			.role
				h6 Role:
				div
					span UI design & dev
			p I designed a native TV app for a dedicated device and built prototypes fleshing out unique but intuitive interactions.
			a.button.disabled Unavailable