

// ThreadMeUp styles
// ------------------------------------------------------------

body.tmu.fade {
	.splash {
		opacity: 0;
		.vid {
			video { display: none; }
		}
	}
}
body.tmu {
	.base.study { background: #f46272; }
	.arrowb { @include arrow(27px, #f46272); }
	section.work { box-shadow: 0 -96px 84px -54px #f46272; }
}
.splash {
	position: fixed; top: 0; z-index: 1;
	width: 100%; min-width: 320px; max-width: 1440px;
	height: 92.5%; min-height: 600px; max-height: 960px;
	opacity: 1;
	@include trans(.2s, 0s);
	.wrap { position: absolute; width: 100%; height: 100%; overflow: hidden; }
	.fade {
		position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: -1;
		min-width: 1280px;
		height: 100%;
		overflow: hidden;
		@include trans(.6s, 0s);
		img { pointer-events: none; width: 100%; height: 100%; min-height: 540px; }
	}
	.vid {
		position: absolute; top: 0; bottom: 0; right: 0; z-index: -1000; @include trans(.6s, 0s);
		video {
			position: relative;
			width: auto; min-width: 100%;
			height: auto; height: 100%;
			background-color: #f46272 !important;
			@include animatereset(1.2s, 1.2s); @include atiming(ease-in); @include fadein;
		}
	}
}

// Next
body.study {
	section.next.tmu {
		&:hover {
			.peek { background: #f46272; }
			img { @include tmove(0, -24px); }
		}
		img {
			width: 384px;
			height: 96px;
			margin: 66px 0 0 2.5%;
		}
	}
}