doctype html
html
	head
		title Isaac Paavola | Huddlepass
		include ../../resource/head

	body.project.huddlepass
		.twrap
			a#project
			include ../../projects/huddlepass
		include ../../resource/base

	include ../../resource/loader

	script(src="/_scripts/plugins.js")
	script(src="/_scripts/project.js")