extends ../html/layout-study

block title
	title Isaac Paavola | Recent Work

block page
	body.study.recent
		a#home
		nav
			ul
				li#nava.nava
					a.initials.caps(href="#home")
						span P
						div
						span V
						div
						span L
					a.lastname.caps
						div
						span A
						span A
						div
						span O
						div
						span A
					h6 Isaac Paavola's creative
					h6 and design adventures!
				li.navb.caps.disabled
					a
						span &#8249;
						| Last thingy
				li.navc.caps
					a.nextstudy(data-nextstudy="threadmeup")
						| Next thingy
						span &#8250;

		header
			.wrap
				.logo
					span#logo(data-speed="5.55")
						img.fadeindownb(src="/images/overdog/logo.png")
				.title
					span#title(data-speed="2.85")
						h1.fadeinup Dishin' out that ass-whoopin' to avenge Uncle Lil' Bow Wow.
		.push
			div

		section.work.bgfade
			.arrowb
			.head
				span.fadeinleft
				h5.caps.fadeinup Overview
				span.fadeinright
			.wrap.hidden
				.overview
					.detail.single
						p If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push in the first place? Uh... If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push then? Uh...
					.context
						div
							h6.caps My Role:
							p pretty much everything
						div
							h6.caps When:
							p my whole life
						div
							h6.caps With:
							p my imaginary friends

				.itemhead.small
					h2 Huddle communities
						span
				.visual.full
					.browser.large
						.top
							ul
								li
								li
								li
							span huddlepass.com/isu/football
						video(preload="auto", autoplay="true", loop="true", poster="/images/huddlepass/hpass-huddles-poster.jpg")
							source(src="/images/huddlepass/hpass-huddles.webm", type="video/webm")
							source(src="/images/huddlepass/hpass-huddles.mp4", type="video/mp4")
				.itemhead.small
					h2 Landing page
						span
				.visual
					.browser.large
						.top
							ul
								li
								li
								li
							span huddlepass.com
						img(src="/images/huddlepass/hpass-02.jpg")
				.itemhead.small
					h2 Responsive for mobile
						span
				.visual.multiphone
					.phone
						.top
							.camera
								span
							.speaker
								span
						img.header(src="/images/huddlepass/hpass-04h.png")
						.frame.scroll
							img(src="/images/huddlepass/hpass-04.jpg")
						.bottom
							div
								span
					.phone
						.top
							.camera
								span
							.speaker
								span
						.frame.scroll.app
							img(src="/images/huddlepass/hpass-05.jpg")
						.bottom
							div
								span
					.phone
						.top
							.camera
								span
							.speaker
								span
						img.header(src="/images/huddlepass/hpass-04h.png")
						.frame.scroll
							img(src="/images/huddlepass/hpass-06.jpg")
						.bottom
							div
								span
				.itemhead.small
					h2 UI kit & style guide
						span
				.visual
					.shot
						img(src="/images/huddlepass/hpass-03.jpg")

				.footlink
					p you can also check out <a class="texta" href="https://dribbble.com/isaacpvl/projects/173459-HuddlePass", target="_blank">this project on dribbble</a>

		section.next.tmu.nextstudy(data-nextstudy="threadmeup")
			.head
				h5.caps Next thingy
			.peek
				img(src="/images/threadmeup/logo.png")
			.peekbg

		.base
		.base.study