

// Header styles
// ------------------------------------------------------------

header {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	min-width: 320px;
	max-width: 1600px;
	height: 85%;
	min-height: 588px;
	max-height: 828px;
	color: $wht;
	@include trans(.45s);
	.wrap {
		position: absolute;
		width: 100%;
		height: 100%;
		@include padding-x(8%);
		@include trans(.3s, 0s);
	}
	.wrapm {
		display: none;
	}
	.tagline {
		position: relative;
		display: inline-block;
		width: 740px;
		height: 84%;
		min-height: 516px;
		max-height: 720px;
		@include animatereset(.8s, .8s);
		@include fadeinup;
		> span {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			cursor: pointer;
		}
		h1 {
			position: relative;
			font-weight: 800;
			letter-spacing: 0;
			@include fadeinup;
			@include trans(.3s, 0s);
			&:nth-of-type(1) {
				height: 88px;
				@include lineh(7.5);
				font-size: 72px;
				@include animatereset(.8s, 1s);
			}
			&:nth-of-type(2) {
				height: 92px;
				@include lineh(7.5);
				font-size: 72px;
				@include animatereset(.65s, 1.15s);
			}
			&:nth-of-type(3) {
				height: 96px;
				@include lineh(8.5);
				font-size: 84px;
				@include animatereset(.5s, 1.3s);
			}
		}
		#comma, #super, #sweet, #unique, #design {
			position: absolute;
			@include trans(.5s, 0s);
			span {
				@include trans(.2s, 0s);
				}
			}
		#sweet {
			left: 248px;
		}
		#comma {
			left: 486px;
		}
		#comma {
			opacity: 1;
			@include trans(.4s, .2s);
		}
	}
	.taglinem {
		position: relative;
		height: 84%;
		min-height: 528px;
		max-height: 732px;
		@include animatereset(.8s, .8s);
		@include fadeinup;
		> span {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			@include trans(.4s, 0s);
		}
		h1 {
			position: relative;
			font-weight: 800;
			letter-spacing: 0;
			white-space: nowrap;
			@include fadeinup;
			@include trans(.3s, 0s);
			&:nth-of-type(1) {
				height: 78px;
				@include lineh(7);
				font-size: 62px;
				@include animatereset(.8s, 1s);
			}
			&:nth-of-type(2) {
				height: 78px;
				@include lineh(6.5);
				font-size: 62px;
				@include animatereset(.65s, 1.15s);
			}
			&:nth-of-type(3) {
				height: 90px;
				@include lineh(7.5);
				font-size: 72px;
				@include animatereset(.5s, 1.3s);
			}
		}
	}
	.tagline.face {
		>span {
			@include tfree (1.04, 0deg, -6px, -3px);
			@include trans(.4s, 0s);
		}
		#comma {
			opacity: 0;
			@include tfree(1, 0deg, 60px, -18px);
			@include trans(.2s, 0s);
		}
		#super {
			@include tfree(.65, -30deg, 60px, -240px);
		}
		#sweet {
			@include tfree(.65, -7.5deg, 140px, -344px);
		}
		#unique {
			@include tfree(.765, -14deg, -22px, -150px);
			span {
				margin: 0 5px;
			}
		}
		#design {
			@include tfree(.7, -15deg, 44px, 60px);
			.char9 {
				margin-left: -24px;
			}
		}
	}
	.tagline.face.wink {
		>span {
			@include tfree (1, 15deg, -6px, -21px);
		}
		#super {
			@include tfree(.55, -10deg, 0px, -318px);
			@include trans(.25s, 0s);
			span {
				margin: 0 3px;
				@include trans(.25s, 0s);
				} }
		#sweet {
			@include tfree(.7, 7.5deg, 66px, -130px);
			@include trans(.25s, 0s);
		}
		#unique {
			@include tfree(.75, 0deg, -100px, -84px);
			@include trans(.25s, 0s);
		}
		#design {
			@include tfree(.7, 0deg, -72px, 120px);
			@include trans(.25s, 0s);
		}
	}
	.tagline:not(.face).trigger {
		>span {
			@include trans(.3s, 0s);
			&:hover {
				@include trans(.2s, 0s);
				h1:nth-of-type(1) {
					@include tmove(0, -24px);
				}
				h1:nth-of-type(2) {
					@include tmove(0, -18px);
				}
				h1:nth-of-type(3) {
					@include tmove(0, -12px);
				}
			}
			&:active {
				@include tmovescale(.925, -24px, 18px);
				@include trans(.1s, 0s);
				h1:nth-of-type(1), h1:nth-of-type(2), h1:nth-of-type(3) {
					@include treset;
					@include trans(.1s, 0s);
				}
			}
		}
	}
	.speech {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: auto;
		height: 85%;
		min-height: 420px;
		max-height: 732px;
		text-align: center;
		color: $red;
		h4 {
			position: relative;
			z-index: 2;
			@include leader(2.75);
			@include trailer(1);
			padding-right: 30px;
			font-family: $caps;
			text-transform: uppercase;
			letter-spacing: 0.025em;
			font-weight: 600;
			opacity: 0;
			@include tmove(0, 24px);
			@include trans(.4s, .2s);
		}
		h1 {
			position: relative;
			z-index: 2;
			font-family: $script;
			@include lineh(5);
			font-size: 90px;
			font-weight: 400;
			opacity: 0;
			@include tmove(-100px, 0);
			@include trans(.4s, .2s);
		}
		span {
			position: absolute;
			top: 40%;
			left: -68px;
			opacity: 0;
			@include tfree(.7, 4deg, -200px, 160px);
			@include trans(.5s, .2s);
			.bubble {
				position: relative;
				display: inline-block;
				width: 420px;
				height: 216px;
				border-radius: 240px / 120px;
				background: $wht;
				img {
					position: absolute;
					top: 151px;
					left: -28px;
					width: 100px;
					height: 60px;
					pointer-events: none;
					@include tfree(1, -50deg, 120px, -36px);
					@include trans(.5s, .15s);
					@include noselect;
				}
			}
		}
	}
	.speech.face {
		h4 {
			@include treset;
			@include trans(.4s, .3s);
		}
		h1 {
			@include treset;
			@include trans(.6s, .3s);
		}
		span {
			opacity: 1;
			@include tfree(1, 8deg, 0, 0);
			@include trans(.5s, .2s);
			.bubble {
				@include animate(.6s, .2s);
				@include bouncein;
				img {
					@include treset;
					@include trans(.3s, .4s);
				}
			}
		}
	}
}
.push {
	position: relative;
	height: 85%;
	min-height: 588px;
	max-height: 828px;
	@include trans(.4s, 1.5s);
}
.push.hide {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}


// Media queries
@media screen and (max-height: 834px) {
	header {
		.tagline.face {
			>span {
				@include tfree (1, 0deg, 12px, 9px);
			}
		}
		.tagline.face.wink {
			>span {
				@include tfree (.97, 15deg, 27px, -3px);
			}
		}
	}
}
@media screen and (max-height: 810px) {
	header {
		height: 89%;
	}
	.push {
		height: 89%;
	}
}
@media screen and (max-height: 762px) {
	header {
		.tagline.face {
			>span {
				@include tfree (.95, 0deg, 0, 12px);
			}
		}
		.tagline.face.wink {
			>span {
				@include tfree (.925, 15deg, 30px, 0px);
			}
		}
	}
}
@media screen and (max-height: 720px) {
	header {
		.tagline {
			margin-left: -3%;
		}
		.tagline.face {
			>span {
				@include tfree(.875, 0deg, 6px, 30px);
			}
		}
		.tagline.face.wink {
			>span {
				@include tfree (.85, 15deg, 30px, 12px);
			}
		}
		.speech.face {
			span {
				@include tfree(.95, 8deg, 0, -12px);
			}
		}
	}
}
@media screen and (max-height: 654px) {
	header {
		.tagline.face {
			>span {
				@include tfree(.85, 0deg, -6px, 24px);
			}
		}
		.tagline.face.wink {
			>span {
				@include tfree (.825, 15deg, 21px, 3px);
			}
		}
	}
}
@media screen and (min-width: 1601px) {
	header {
		.wrap {
			@include padding-x(10%);
		}
	}
}
@media screen and (max-width: 1240px) {
	header {
		.tagline.face {
			> span {
				left: -6%;
			}
		}
		.speech {
			span {
				left: -120px;
			}
		}
	}
}
@media screen and (max-width: 1120px) {
	header {
		.tagline.face {
			> span {
				left: -6%;
			}
		}
		.speech {
			span {
				left: -180px;
			}
		}
		.speech.face {
			span {
			@include tfree(.9, 8deg, 0, 0);
			}
		}
	}
}
@media screen and (max-width: 1040px) {
	header {
		.tagline.face {
			> span {
				left: -6%;
			}
		}
		.speech {
			width: 0;
			span {
				left: -200px;
			}
		}
		.speech.face {
			span {
				@include tfree(.8, 8deg, 0, 0);
			}
		}
	}
}
@media screen and (max-width: 959px) {
	header {
		position: relative;
		.wrap {
			display: none;
		}
		.wrapm {
			display: block;
		}
		.tagline.face {
			> span {
				left: 5%;
			}
		}
		.speech {
			display: none;
		}
	}
	.push {
		position: absolute;
		top: 0;
		z-index: -1;
	}
}
@media screen and (max-width: 640px) {
	header {
		height: 100%;
		min-height: 360px;
		max-height: 100%;
		.taglinem {
			height: 90%;
			min-height: 0;
			h1 {
				&:nth-of-type(1) {
					height: 48px;
					line-height: 48px;
					font-size: 42px;
				}
				&:nth-of-type(2) {
					height: 48px;
					line-height: 48px;
					font-size: 42px;
				}
				&:nth-of-type(3) {
					height: 60px;
					line-height: 60px;
					font-size: 48px;
				}
			}
		}
	}
	.push {
		height: 100%;
		min-height: 360px;
		max-height: 100%;
	}
}
@media screen and (max-width: 420px) {
	header {
		.wrap {
			@include padding-x(5%);
		}
		.taglinem {
			h1 {
				&:nth-of-type(1) {
					height: 40px;
					line-height: 38px;
					font-size: 32px;
				}
				&:nth-of-type(2) {
					height: 44px;
					line-height: 38px;
					font-size: 32px;
				}
				&:nth-of-type(3) {
					height: 38px;
					line-height: 38px;
					font-size: 36px;
				}
			}
		}
	}
}