

// Projects
@import "projects/recent";
@import "projects/past";
@import "projects/threadmeup";
@import "projects/dostoros";
@import "projects/coolhouse";
@import "projects/huddlepass";
@import "projects/socialcrunch";
@import "projects/lifeis";
@import "projects/overdog";
@import "projects/gennutrition";
@import "projects/2old2play";
@import "projects/toggle";


// Project styles
// ------------------------------------------------------------

	body.project {
		text-align: center;
		section {
			@include trans(0.5s);
			.head {
				@include trans(0.5s);
			}
		}
		p {
			@extend .small;
		}
		section.work {
			min-height: 1600px;
			@include padding-trailer(15);
			background: $wht;
			.overview {
				max-width: 1140px;
			}
			.head, .overview, .itemhead, .visual, .point, .detail, .project, .footlink {
				@include trans(0.75s, 0.3s);
			}
		}
		section.work.bgfade {
			.head, .overview, .itemhead, .visual, .point, .detail, .project, .footlink {
				opacity: 0;
			}
		}
		.base.hide {
			background: $wht;
		}
	}
	body.project.fold {
		.arrow {
			@include tmove(0, -27px);
			@include trans(0.2s);
		}
	}
	.overview {
		.context {
			white-space: nowrap;
			h6 {
				@extend .caps-l;
			}
			i {
				white-space: nowrap;
				font-size: 18px;
				letter-spacing: -0.02em;
				margin-right: 4px;
				opacity: 0.6;
			}
			div {
				display: inline-block;
				vertical-align: top;
				text-align: left;
				margin-right: 8%;
				white-space: nowrap;
				&:last-of-type {
					margin-right: 2.5%;
				}
			}
		}
		.live {
			position: relative;
			width: 75%;
			max-width: 480px;
			margin: auto;
			@include padding-leader(6);
			.button {
				width: 100%;
			}
			p {
				display: block;
				width: 100%;
				height: 60px;
				@include leader(2);
				@include lineh(2.5);
				font-size: 18px;
				b {
					@extend .caps-l;
					font-size: 16px;
				}
				span {
					display: block;
					@include leader(1);
					font-style: italic;
					opacity: 0.6;
				}
			}
		}
	}
	.footlink {
		@include leader(12);
		@include trailer(-8);
		p {
			text-align: center;
		}
		a {
			&::after {
				content: '.';
			}
		}
	}

// visuals
	.visual {
		position: relative;
		z-index: 3;
		@include leader(3);
		@include trailer(3);
		@include trans(0s);
		img, video {
			position: relative;
			z-index: 9;
			width: 100%;
			max-width: 1280px;
			height: auto;
			@include noselect;
			@include trans(0.5s);
		}
		.shot {
			position: relative;
			width: 100%;
			margin: auto;
			overflow: hidden;
		}
		.browser {
			max-width: 1282px;
			margin: auto;
		}
		#video {
			cursor: pointer;
		}
	}
	.visual.single {
		.browser {
			width: 90%;
			max-width: 802px;
		}
		.shot {
			width: 90%;
			img, video {
				max-width: 800px;
			}
		}
		.shot.small {
			img, video {
				max-width: 660px;
			}
		}
	}
	.visual.two-col {
		.shot {
			width: 48.5%;
			display: inline-block;
			vertical-align: top;
			&:first-of-type {
				margin-right: 3%;
				text-align: right;
			}
			&:nth-of-type(2) {
				text-align: left;
			}
		}
		.shot.small {
			img, video {
				max-width: 540px;
			}
		}
		.shot.last {
			@include leader(-10);
			max-width: 400px;
		}
		.browser {
			width: 48.5%;
			display: inline-block;
			vertical-align: top;
			&:first-of-type {
				margin-right: 3%;
			}
		}
	}
	.visual.gap {
		@include padding-leader(4);
	}
	.visual.multiphone {
		position: relative;
		white-space: nowrap;
		.phone {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 348px;
			min-width: 0;
			max-width: none;
			margin-right: 2%;
			&:nth-of-type(1) {
				z-index: 3;
			}
			&:nth-of-type(2) {
				z-index: 2;
			}
			&:nth-of-type(3) {
				z-index: 1;
				margin-right: 0;
			}
		}
		.frame {
			position: relative;
			@include border(1px, $drk-l);
			img, video {
				width: 100%;
			}
		}
		.frame.scroll {
			overflow-y: scroll;
			height: 568px;
		}
		.frame.scroll.app {
			overflow: hidden;
		}
		img.header {
			position: absolute;
			z-index: 10;
			top: 79px;
			left: 13px;
			width: 320px;
			height: auto;
		}
	}


// Media queries
// ------------------------------------------------------------

	@media screen and (max-width: 1200px) {
		.overview {
			.context {
				@include leader(2);
				@include trailer(2);
				i {
					display: block;
					@include lineh(2);
				}
			}
		}
		.visual.single {
			.shot, .browser {
				width: 85%;
				max-width: 682px;
			}
		}
		.visual.gap {
			@include padding-leader(2.5);
		}
		.visual.multiphone {
			.phone {
				width: 348px;
				margin-right: -2%;
			}
			.frame.scroll {
				height: 568px;
			}
			img.header {
				top: 79px;
				left: 13px;
				width: 320px;
			}
		}
	}
	@media screen and (min-width: 960px) and (max-width: 1080px) {
		.visual.multiphone {
			.phone {
				width: 276px;
				margin-right: 2%;
				padding: 0 9px;
			}
			.frame.scroll {
				height: 450px;
			}
			img.header {
				top: 79px;
				left: 10px;
				width: 254px;
			}
		}
	}
	@media screen and (max-width: 959px) {
		.footlink {
			@include leader(8);
			@include trailer(-8);
		}
		.visual.two-col, .visual.single {
			.shot, .browser {
				display: block;
				width: 85%;
				margin: auto;
				&:first-of-type {
					margin: auto;
					@include trailer(4);
				}
				&:last-of-type {
					@include trailer(0);
				}
			}
			.shot.last {
				max-width: 540px;
				@include leader(4);
			}
			.shot {
				max-width: 640px;
			}
			.browser {
				max-width: 642px;
			}
		}
		.visual.two-col {
			.shot {
				&:first-of-type, &:nth-of-type(2) {
					@include margin-x(auto);
					text-align: center;
				}
			}
		}
		.visual.quad {
			@include padding-leader(1);
		}
		.visual.multiphone {
			left: -5%;
			width: 110%;
			.phone {
				margin-right: 3.5%;
				&:nth-of-type(2) {
					margin-right: 0;
				}
				&:nth-of-type(3) {
					display: none;
				}
			}
		}
		.visual.multiphone.triphone {
			.phone {
				&:nth-of-type(3) {
					display: block;
					z-index: 4;
					margin: auto;
					@include leader(-5.5);
				}
			}
		}
	}
	@media screen and (min-width: 641px) and (max-width: 720px) {
		.visual.multiphone {
			.phone {
				width: 276px;
				margin-right: 3.5%;
				padding: 0 9px;
			}
			.frame.scroll {
				height: 450px;
			}
			img.header {
				top: 79px;
				left: 10px;
				width: 254px;
			}
		}
	}
	@media screen and (max-width: 640px) {
		section.work {
			.head {
				@include padding-leader(1.5);
			}
			.overview {
				.detail {
					p {
						@include lineh(2.5);
						font-size: 16px;
					}
				}
			}
		}
		// overview
			.overview {
				.context, .live {
					width: 80%;
					max-width: 280px;
				}
				.context {
					display: inline-block;
					white-space: normal;
					i {
						display: inline-block;
						font-size: 14px;
					}
					div {
						display: block;
						@include leader(0.5);
						margin-right: 0;
						h6, p {
							display: inline-block;
						}
						h6 {
							margin-right: 4px;
						}
					}
				}
				.live {
					@include padding-leader(1.5);
					.button {
						width: 100%;
						span {
							display: none;
						}
					}
					p {
						width: 100%;
						height: auto;
						@include leader(1.5);
						@include lineh(1.75);
						font-size: 14px;
						text-align: center;
						b {
							font-size: 12px;
						}
						i {
							font-size: 12px;
							font-style: normal;
							white-space: nowrap;
						}
						span {
							@include padding-leader(1);
							margin: auto;
							text-align: left;
						}
					}
				}
			}
			.footlink {
				@include leader(6);
				@include trailer(-9);
				a {
					display: block;
				}
			}
		.visual {
			@include leader(1.5);
			@include trailer(1.5);
		}
		.visual, .visual.single, .visual.two-col, .visual.vport {
			.browser, .shot {
				left: -6%;
				width: 112%;
			}
			.shot.small, .shot.last {
				left: 0;
				width: 90%;
			}
		}
		.visual.two-col, .visual.single {
			.shot, .browser {
				&:first-of-type {
					@include trailer(2.5);
				}
			}
			.shot.last {
				@include leader(2.5);
			}
		}
		.visual.gap {
			@include padding-leader(5);
		}
		.visual.zoom, .visual.premier {
			.browser {
				background: $wht;
				@include trans(0.5s);
				@include animateinf(2.1s);
				@include ttiming(ease-out);
				@include browserzoom;
			}
			.shot {
				@include trans(0.5s);
				@include animateinf(2.1s);
				@include ttiming(ease-out);
				@include shotzoom;
			}
		}
		.visual.vzoom {
			.browser, .shot {
				overflow-x: visible;
				@include animatereset(0s);
			}
			.browser {
				box-shadow: 0 -24px rgba($blk, 0.05), 0 27px rgba($blk, 0.05);
			}
			.shot {
				box-shadow: 0 -24px rgba($blk, 0.05), 0 27px rgba($blk, 0.05), 0 0 0 1px $blk-15;
			}
			img {
				width: 200%;
				height: auto;
			}
			.browser .top {
				width: 200%;
			}
		}
		.visual.premier {
			.shot {
				left: -20%;
				width: 140%;
			}
		}
		.visual.premier.vzoom {
			.shot {
				left: -6%;
				width: 112%;
			}
		}
		.visual.multiphone {
			left: -10%;
			width: 120%;
			.phone {
				width: 258px;
				margin-right: 4%;
				padding: 0 7px;
			}
			.frame.scroll {
				height: 408px;
			}
			img.header {
				top: 45px;
				left: 8px;
				width: 240px;
			}
		}
	}
	@media screen and (max-width: 516px) {
		.visual.multiphone {
			.phone {
				margin-right: -2.5%;
			}
		}
	}
	@media screen and (max-width: 480px) {
		.visual.multiphone {
			.phone {
				width: 50%;
				margin-right: -4%;
			}
			.frame.scroll {
				height: 360px;
			}
			img.header {
				display: none;
			}
		}
	}
	@media screen and (max-width: 420px) {
		.visual.premier {
			.shot {
				left: -25%;
				width: 150%;
			}
		}
		.visual.multiphone {
			.phone {
				padding: 0 6px;
				.frame.scroll {
					height: 318px;
				}
			}
		}
	}
	@media screen and (max-width: 360px) {
		.visual.multiphone {
			.phone {
				padding: 0 5px;
				.frame.scroll {
					height: 282px;
				}
			}
		}
	}
	@media screen and (max-height: 900px) {
		.visual.vport {
			.shot {
				img, video {
					max-width: 1200px;
				}
			}
			.browser {
				max-width: 1142px;
			}
		}
	}
	@media screen and (max-height: 780px) {
		.visual.vport {
			.shot {
				img, video {
					max-width: 1080px;
				}
			}
			.browser {
				max-width: 1026px;
			}
		}
	}


// Next project styles
// ------------------------------------------------------------

	section.next {
		height: 144px;
		@include padding-leader(3);
		cursor: pointer;
		color: $wht;
		background: $wht;
		@include noselect;
		&:hover, &.active {
			.head {
				opacity: 0;
				@include tmove(0, -24px);
				@include trans(0.25s);
			}
			.peek {
				top: 0;
				background: none;
			}
			.peekbg {
				top: 0;
				opacity: 1;
			}
			img {
				opacity: 1;
				@include tmove(0, -24px);
			}
			h1 {
				@include tmove(0, -18px);
				opacity: 1;
			}
		}
		.head {
			z-index: 2;
			@include leader(0);
			@include trans(0.1s);
			h5 {
				color: $wht;
				@include padding-leader(2);
				@include padding-trailer(2);
				&::after {
					content: none;
				}
			}
		}
		.peek {
			position: absolute;
			z-index: 1;
			top: 36px;
			bottom: 0;
			left: 0;
			right: 0;
			background: $red;
			@include trans(0.35s);
		}
		.peekbg {
			position: absolute;
			top: 36px;
			bottom: 0;
			left: 0;
			right: 0;
			@include trans(0.35s);
		}
		img {
			margin: auto;
			opacity: 0.3;
			@include trans(0.6s);
		}
		h1 {
			@include leader(4.5);
			opacity: 0.3;
			@include trans(0.6s);
		}
	}
	body.out {
		section.next {
			.head {
				display: none;
			}
		}
	}

	// media queries
		@media screen and (max-width: 640px) {
			section.next {
				height: 120px;
				@include padding-leader(2);
				img {
					width: 60%;
					@include leader(4.5);
				}
				.peek, .peekbg {
					top: 24px;
				}
				&:hover, &.active {
					.head {
						@include tmove(0, -18px);
					}
					img {
						@include tmove(0, -24px);
					}
					h1 {
						@include tmove(0, -12px);
					}
				}
			}
		}
		@media screen and (max-width: 420px) {
			section.next {
				img {
					width: 90%;
				}
			}
		}
