

// Header tagline styles
// ------------------------------------------------------------

	header {
		.tagline {
			position: relative;
			z-index: 2;
			display: inline-block;
			width: 740px;
			height: 84%;
			@include animatereset(0.8s, 0.8s);
			@include fadeinup;
			> span {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
			}
			h1 {
				position: relative;
				@extend .caps-d;
				@include fadeinup;
				@include trans(0.3s);
				&:nth-of-type(1) {
					height: 88px;
					@include lineh(7.5);
					font-size: 72px;
					@include animatereset(0.8s, 1s);
				}
				&:nth-of-type(2) {
					height: 92px;
					@include lineh(7.5);
					font-size: 72px;
					@include animatereset(0.65s, 1.15s);
				}
				&:nth-of-type(3) {
					height: 96px;
					@include lineh(8.5);
					font-size: 84px;
					@include animatereset(0.5s, 1.3s);
				}
			}
			#comma, #super, #sweet, #unique, #design {
				position: absolute;
				@include trans(0.5s);
				span {
					@include trans(0.2s);
				}
			}
			#sweet {
				left: 256px;
			}
			#comma {
				left: 494px;
				opacity: 1;
				@include trans(0.4s, 0.2s);
			}
		}
		.tagline.trigger {
			> span {
				cursor: pointer;
			}
		}
		.tagline.face {
			>span {
				@include tfree(1.04, 0deg, -6px, -3px);
				@include trans(0.4s);
			}
			#comma {
				opacity: 0;
				@include tfree(1, 0deg, 60px, -18px);
				@include trans(0.2s);
			}
			#super {
				@include tfree(0.65, -30deg, 60px, -240px);
			}
			#sweet {
				@include tfree(0.65, -7.5deg, 140px, -344px);
			}
			#unique {
				@include tfree(0.765, -14deg, -22px, -150px);
				span {
					margin: 0 5px;
				}
			}
			#design {
				@include tfree(0.7, -15deg, 44px, 60px);
				.char9 {
					margin-left: -24px;
				}
			}
		}
		.tagline.face.wink {
			>span {
				@include tfree(1, 15deg, -6px, -21px);
			}
			#super {
				@include tfree(0.55, -10deg, 0px, -318px);
				@include trans(0.25s);
				span {
					margin: 0 3px;
					@include trans(0.25s);
					} }
			#sweet {
				@include tfree(0.7, 7.5deg, 66px, -130px);
				@include trans(0.25s);
			}
			#unique {
				@include tfree(0.75, 0deg, -100px, -84px);
				@include trans(0.25s);
			}
			#design {
				@include tfree(0.7, 0deg, -72px, 120px);
				@include trans(0.25s);
			}
		}
		.speech {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: auto;
			height: 85%;
			text-align: center;
			color: $red;
			h4 {
				position: relative;
				z-index: 2;
				@include leader(3);
				@include trailer(1.25);
				padding-right: 30px;
				@extend .caps-l;
				font-size: 22px;
				opacity: 0;
				@include tmove(0, 24px);
				@include trans(0.4s, 0.2s);
			}
			h1 {
				position: relative;
				z-index: 2;
				font-family: $script;
				@include lineh(5);
				font-size: 90px;
				font-weight: 400;
				opacity: 0;
				@include tmove(-100px, 0);
				@include trans(0.4s, 0.2s);
			}
			span {
				position: absolute;
				top: 40%;
				left: -68px;
				opacity: 0;
				@include tfree(0.7, 4deg, -200px, 160px);
				@include trans(0.5s, 0.2s);
				.bubble {
					position: relative;
					display: inline-block;
					width: 420px;
					height: 216px;
					border-radius: 240px / 120px;
					background: $wht;
					img {
						position: absolute;
						top: 151px;
						left: -28px;
						width: 100px;
						height: 60px;
						pointer-events: none;
						@include tfree(1, -50deg, 120px, -36px);
						@include trans(0.5s, 0.15s);
					}
				}
			}
		}
		.speech.face {
			h4 {
				@include treset;
				@include trans(0.4s, 0.3s);
			}
			h1 {
				@include treset;
				@include trans(0.6s, 0.3s);
			}
			span {
				opacity: 1;
				@include tfree(1, 8deg, 0, 0);
				@include trans(0.5s, 0.2s);
				.bubble {
					@include animate(0.6s, 0.2s);
					@include bouncein;
					img {
						@include treset;
						@include trans(0.3s, 0.4s);
					}
				}
			}
		}
	}


// Media queries
// ------------------------------------------------------------

	@media screen and (min-width: 960px) {
		header {
			.tagline:not(.face).trigger {
				>span {
					@include trans(0.3s);
					&:hover {
						@include trans(0.2s);
						h1:nth-of-type(1) {
							@include tmove(0, -24px);
						}
						h1:nth-of-type(2) {
							@include tmove(0, -18px);
						}
						h1:nth-of-type(3) {
							@include tmove(0, -12px);
						}
					}
					&:active {
						@include tmovescale(0.925, -24px, 18px);
						@include trans(0.1s);
						h1:nth-of-type(1), h1:nth-of-type(2), h1:nth-of-type(3) {
							@include treset;
							@include trans(0.1s);
						}
					}
				}
			}
		}
		body.fold {
			.tagline:not(.face) {
				>span, >span:hover {
					@include trans(0.2s);
					h1:nth-of-type(1) {
						@include tmove(-24px, -42px);
					}
					h1:nth-of-type(2) {
						@include tmovescale(0.96, -42px, -33px);
					}
					h1:nth-of-type(3) {
						@include tmovescale(0.92, -56px, -24px);
					}
				}
			}
		}
	}
	@media screen and (max-width: 959px) {
		header {
			.tagline {
				height: 89%;
				h1 {
					&:nth-of-type(1) {
						height: 78px;
						@include lineh(7);
						font-size: 62px;
					}
					&:nth-of-type(2) {
						height: 78px;
						@include lineh(6.5);
						font-size: 62px;
					}
					&:nth-of-type(3) {
						height: 90px;
						@include lineh(7.5);
						font-size: 72px;
					}
				}
				#comma, #super, #sweet, #unique, #design {
					position: relative;
					left: auto;
				}
				#sweet {
					&::before {
						content: ' ';
					}
				}
			}
		}
	}
	@media screen and (max-width: 640px) {
		header {
			.tagline {
				// height: 89%;
				h1 {
					&:nth-of-type(1) {
						height: 48px;
						@include lineh(4);
						font-size: 42px;
					}
					&:nth-of-type(2) {
						height: 48px;
						@include lineh(4);
						font-size: 42px;
					}
					&:nth-of-type(3) {
						height: 60px;
						@include lineh(4.75);
						font-size: 48px;
					}
				}
			}
		}
	}
	@media screen and (max-width: 420px) {
		header {
			.tagline {
				h1 {
					@include fadeinup;
					&:nth-of-type(1) {
						height: 40px;
						line-height: 38px;
						font-size: 32px;
					}
					&:nth-of-type(2) {
						height: 44px;
						line-height: 38px;
						font-size: 32px;
					}
					&:nth-of-type(3) {
						height: 38px;
						line-height: 38px;
						font-size: 36px;
					}
				}
			}
		}
	}

// face animation
	@media screen and (max-height: 834px) {
		header {
			.tagline.face {
				>span {
					@include tfree(1, 0deg, 12px, 9px);
				}
			}
			.tagline.face.wink {
				>span {
					@include tfree(0.97, 15deg, 27px, -3px);
				}
			}
		}
	}
	@media screen and (max-height: 762px) {
		header {
			.tagline.face {
				>span {
					@include tfree(0.95, 0deg, 0, 12px);
				}
			}
			.tagline.face.wink {
				>span {
					@include tfree(0.925, 15deg, 30px, 0px);
				}
			}
		}
	}
	@media screen and (max-height: 720px) {
		header {
			.tagline.face {
				>span {
					@include tfree(0.875, 0deg, 6px, 30px);
				}
			}
			.tagline.face.wink {
				>span {
					@include tfree(0.85, 15deg, 30px, 12px);
				}
			}
			.speech.face {
				span {
					@include tfree(0.95, 8deg, 0, -12px);
				}
			}
		}
	}
	@media screen and (max-height: 654px) {
		header {
			.tagline.face {
				>span {
					@include tfree(0.85, 0deg, -6px, 24px);
				}
			}
			.tagline.face.wink {
				>span {
					@include tfree(0.825, 15deg, 21px, 3px);
				}
			}
		}
	}
	@media screen and (max-width: 1280px) {
		header {
			.tagline.face {
				> span {
					left: -6%;
				}
			}
			.speech {
				span {
					left: -120px;
				}
			}
		}
	}
	@media screen and (max-width: 1120px) {
		header {
			.tagline.face {
				> span {
					left: -9%;
				}
			}
			.speech {
				span {
					left: -210px;
				}
			}
			.speech.face {
				span {
					@include tfree(0.9, 8deg, 0, 0);
				}
			}
		}
	}
	@media screen and (max-width: 1040px) {
		header {
			.speech {
				width: 0;
			}
			.speech.face {
				span {
					@include tfree(0.8, 8deg, 0, 0);
				}
			}
		}
	}
