

// Work section styles
// ------------------------------------------------------------

	section.work {
		z-index: 3;
		@include padding-trailer(18);
		text-align: center;
		background: $wht;
		.head {
			@include leader(13);
			@include trailer(6);
		}
		.project {
			position: relative;
			z-index: 1;
			display: inline-block;
			width: 100%;
			margin: auto;
			@include padding-leader(5);
			@include padding-trailer(9);
			@include padding-x(5%);
			overflow: hidden;
			&:first-of-type {
				@include leader(-27);
			}
			.pwrap {
				position: relative;
				max-width: 1280px;
				margin: auto;
			}
			.shield {
				position: absolute;
				left: -7.5%;
				right: -7.5%;
				z-index: 3;
				display: none;
				@include padding-trailer(2);
				opacity: 0;
				img {
					width: 100%;
					height: auto;
					opacity: 0;
					pointer-events: none;
				}
			}
			.preview {
				position: relative;
				z-index: 2;
				width: 62.5%;
				max-width: 782px;
				height: 100%;
				.left {
					left: 0;
				}
				.right {
					right: 0;
				}
				.browser {
					img {
						max-width: 780px;
					}
				}
				.browser.cond {
					width: 92.5%;
					max-width: 722px;
				}
				.shots {
					position: relative;
					width: 100%;
					img {
						position: relative;
						display: inline-block;
						float: left;
						width: 50%;
						max-width: 400px;
					}
				}
				img.shot {
					width: 100%;
					max-width: 780px;
				}
				img.frame {
					width: 100%;
					@include border(1px, $drk-l);
				}
				img.cover {
					width: 100%;
					max-width: 780px;
					display: none;
				}
			}
			.preview.free {
				max-width: 780px;
			}
			.info {
				width: 34%;
				@include leader(5.5);
				text-align: left;
				h1 {
					margin-left: -2px;
					@include lineh(5);
					@extend .caps;
					font-size: 48px;
					font-weight: 800;
					letter-spacing: 0;
					white-space: nowrap;
				}
				p {
					@include leader(1);
					@include trailer(3.5);
					@include lineh(3.5);
					font-size: 22px;
				}
				.role {
					position: relative;
					width: 105%;
					@include leader(2);
					h6 {
						position: absolute;
						top: 0;
						left: 0;
						@include lineh(2.5);
						@extend .caps;
					}
					div {
						margin-left: 57px;
					}
					span {
						@include lineh(2.5);
						font-size: 20px;
						font-weight: 500;
						white-space: nowrap;
						em {
							font-size: 16px;
							letter-spacing: -0.02em;
							margin-right: 4px;
							opacity: 0.6;
						}
					}
				}
				.role.weird {
					div {
						margin-left: 124px;
					}
				}
				.button {
					min-width: 60%;
				}
				.button#livelink {
					display: none;
				}
			}
			.info.more {
				@include leader(4.5);
				h1 {
					@include trailer(2.5);
					@include lineh(5.5);
					font-size: 50px;
					font-family: $serif;
					letter-spacing: -0.01em;
					text-transform: none;
					white-space: normal;
				}
				h6 {
					float: left;
					margin-left: 65%;
					@include leader(-5);
					@include lineh(2.75);
					@include padding-x(12px);
					font-family: $caps;
					font-size: 14px;
					font-weight: 700;
					letter-spacing: 0.03em;
					@include stroke(2px, $red);
					color: $red;
					span {
						letter-spacing: -0.04em;
					}
				}
			}
		}
		.project.offset {
			@include trailer(4);
			.info {
				@include leader(6.5);
			}
		}

		.ileft {
			float: left;
		}
		.iright {
			float: right;
		}
		.pleft {
			float: left;
			.browser.cond {
				margin-right: 7.5%;
			}
		}
		.pright {
			float: right;
			.browser.cond {
				margin-left: 7.5%;
			}
		}
	}
	body.home {
		section.work {
			overflow: visible;
			@include padding-x(0%);
		}
	}


// Media queries
// ------------------------------------------------------------

	@media screen and (min-width: 1601px) {
		section.work {
			.project {
				@include padding-x(9%);
			}
		}
	}
	@media screen and (max-width: 1320px) {
		section.work {
			.project {
				.info {
					@include leader(3.5);
					.button {
						min-width: 65%;
					}
				}
				.info.more {
					@include leader(3);
				}
			}
			.project.offset {
				.info {
					@include leader(4);
				}
			}		
		}
	}
	@media screen and (max-width: 1200px) {
		section.work {
			text-align: center;
			// .head {
			// 	@include leader(11);
			// 	@include trailer(5);
			// }
			.project.offset {
				@include trailer(0);
				.info {
					@include leader(6);
				}
			}
			.project {
				width: 100%;
				min-height: 480px;
				@include padding-leader(4);
				@include padding-trailer(9);
				&:first-of-type {
					@include leader(-22);
				}
				.pwrap {
					max-width: 782px;
				}
				.preview {
					width: 100%;
					margin: auto;
					.shots {
						position: absolute;
						img {
							opacity: 1;
						}
					}
					img.cover {
						display: block;
						width: 100%;
						height: auto;
						opacity: 0;
					}
				}
				.preview.free {
					float: none;
					width: 100%;
					@include trailer(4.5);
				}
				.info {
					display: block;
					width: 100%;
					min-width: 290px;
					max-width: 480px;
					@include margin-x(auto);
					@include leader(5.5);
					text-align: center;
					p {
						text-align: left;
						@include leader(2);
						@include trailer(4);
					}
					.role {
						@include leader(1.5);
						position: relative;
						width: auto;
						h6 {
							position: relative;
							display: inline-block;
						}
						div {
							display: inline-block;
							margin-left: 6px;
						}
					}
					.button {
						min-width: 70%;
					}
				}
				.info.more {
					@include leader(5.5);
					h1 {
						@include leader(-1.5);
						@include trailer(1.5);
						@include lineh(5);
						font-size: 44px;
					}
					h6 {
						display: none;
					}
				}
			}
			.ileft, .iright, .pleft, .pright {
				float: none;
				.browser.cond {
					@include margin-x(0%);
				}
			}
		}
	}
	@media screen and (max-width: 959px) {
		section.work {
			background: $wht;
			&::after {
				display: none;
			}
			.head {
				@include leader(11);
				@include trailer(5);
			}
			.project {
				@include padding-leader(4);
				@include padding-trailer(8);
				@include padding-x(5%);
				&:first-of-type {
					@include leader(0);
				}
				.preview.free {
					float: none;
					width: 100%;
					@include trailer(2.5);
				}
				.shield {
					display: block;
				}
				.info {
					.button#navlink {
						display: none;
					}
					.button#livelink {
						display: inline-block;
					}				
				}
			}
		}
	}
	@media screen and (max-width: 640px) {
		section.work {
			@include padding-trailer(10);
			.head {
				@include leader(8);
				@include trailer(3);
			}
			.project.offset {
				.info {
					@include leader(3);
				}
			}
			.project {
				@include padding-leader(4);
				@include padding-trailer(2);
				@include padding-x(2%);
				.pwrap {
					max-width: 542px;
				}
				.shield {
					display: block;
				}
				.info {
					width: 80%;
					min-width: 0;
					max-width: 330px;
					@include leader(2.5);
					h1 {
						@include lineh(4);
						font-size: 28px;
						@include leader(0);
						@include trailer(0);
					}
					h6 {
						font-size: 12px;
					}
					p {
						@include leader(1);
						@include trailer(0);
						@include lineh(2);
						font-size: 14px;
					}
					.role {
						margin: auto;
						div {
							margin-left: 4px;
						}
						span {
							line-height: 22px;
							font-size: 14px;
							em {
								font-size: 12px;
							}
						}
					}
					.button {
						min-width: 70%;
						@include leader(2);
						@include trailer(3);
					}
				}
				.info.more {
					@include leader(2.5);
					h1 {
						@include leader(-0.5);
						@include trailer(1);
						@include lineh(3);
						font-size: 28px;
					}
				}
			}
		}
	}
	@media screen and (max-width: 420px) {
		section.work {
			@include padding-trailer(10);
			.project {
				@include padding-trailer(-1);
			}
			.project.triphone {
				@include padding-leader(4);
				@include padding-trailer(2);
			}
		}
	}
