

// 2Old2Play styles
// ------------------------------------------------------------

	$pcolor:	#212833;
	body.toldtplay {
		header {
			background: $pcolor;
			.fade {
				display: none;
			}
		}
		.arrow {
			@include arrow(27px, $pcolor);
		}
		.base {
			background: $pcolor;
		}
	}

// next
	body.project {
		section.next.toldtplay {
			@media screen and (min-width: 641px) {
				img {
					width: 480px;
					height: 120px;
					@include leader(4.5);
				}
			}
			&:hover, &.active {
				.peek {
					background: $pcolor;
				}
			}
		}
	}