

// Life.is styles
// ------------------------------------------------------------

	$pcolor:	rgba(#ff1414, 0.3);
	$pcolorb:	#ffb8b8;

	body.lifeis {
		header {
			background: $wht;
			.logo {
				@include leader(4);
			}
			.title {
				z-index: 4;
			}
			.fade {
				display: none;
				z-index: 3;
				@include gradient-vert-d(rgba($pcolor, 0), 30%, $pcolor, 100%);
			}
		}
		.arrow {
			@include arrow(27px, $pcolor);
		}
		.base {
			background: $pcolorb;
		}
		.lifebg {
			position: absolute;
			z-index: 5;
			top: 100%;
			left: 0;
			right: 0;
			height: 900px;
			margin-top: -900px;
			overflow: hidden;
			@include trans(0.3s);
			img {
				position: relative;
				top: 360px;
				width: 100%;
				height: 600px;
				@include trans(0.5s);
				@include ttimingcb(0.4, 0.7, 0.4, 0.9);
				@include animatereset(0.8s);
				@include lifebgin;
			}
		}
	}
	body.lifeis.fold {
		.lifebg {
			background: rgba(#890b0b, 0.12);
			img {
				@include tmove(0, -660px);
				height: 1200px;
			}
		}
	}
	@media screen and (max-width: 640px) {
		body.lifeis {
			header {
				.logo {
					width: 90%;
					@include leader(0);
				}
				.fade {
					display: block;
				}
			}
			.lifebg {
				img {
					display: none;
				}
			}
		}
	}

// next
	body.project {
		section.next.lifeis {
			@media screen and (min-width: 641px) {
				img {
					width: 384px;
					height: 96px;
					@include leader(5.5);
				}
			}
			.peekbg {
				background: $pcolor url('/_img/lifeis/bg.png') no-repeat;
				background-size: 100%;
				background-position: 50% 40%;
			}
			@media screen and (max-width: 640px) {
				.peekbg {
					background-size: 150%;
					background-position: 50% 40%;
				}
			}
		}
	}
