

// Recent work styles
// ------------------------------------------------------------

	$pcolor:	$blk-4;
	$pcolorb:	#7e7e7e;
	body.recent {
		header {
			background: $wht url('/images/home/contactbg.jpg') no-repeat;
			background-size: 140%;
			background-position: 60% 100%;
			.fade {
				@include gradient-vert-d(rgba($pcolor, 0), 50%, $pcolor, 100%);
			}
		}
		.splash {
			display: none;
			.splashfade {
				opacity: 0.1;
			}
		}
		.arrow {
			@include arrow(27px, $pcolorb);
		}
		.base {
			background: $pcolorb;
		}
	}

// next
	body.project {
		section.next.recent {
			.peekbg {
				background: $pcolor url('/images/home/contactbg.jpg') no-repeat;
				background-size: 100%;
				background-position: 50% 100%;
				opacity: 0;
			}
			&:hover, &.active {
				.peek {
					background: $blk-4;
				}
			}
		}
	}
