

// Toggle TV styles
// ------------------------------------------------------------

	$pcolor:	#00345e;
	body.toggle {
		.base.project {
			background: $pcolor;
		}
		.arrow {
			@include arrow(27px, $pcolor);
		}
		.base {
			background: $pcolor;
		}
	}

// next
	body.project {
		section.next.toggle {
			&:hover, &.active {
				.peek {
					background: $pcolor;
				}
			}
		}
	}