doctype html
html
	head
		title Isaac Paavola | 2Old2Play
		link(rel="stylesheet", href="/_styles/project.css")
		link(rel="stylesheet", href="/_styles/style.css")
		include ../../_resource/head
		script(src="/_scripts/loaderp.js")

	body.project.toldtplay
		a#project
		include ../../projects/2old2play
		.navslide
			.slide
			.overlay
		.base.hide

	include ../../_resource/loader

	script(src="/_scripts/project.js")