extends ../html/layout-study

block title
	title Isaac Paavola | Coolhouse Labs

block body
	body.study.coolhouse

block header
	nav
		ul
			li#nava.nava
				a.initials.caps(href="#home")
					span P
					div
					span V
					div
					span L
				a.lastname.caps
					div
					span A
					span A
					div
					span O
					div
					span A
				h6 Isaac Paavola's creative
				h6 and design adventures!
			li.navb.caps
				a.nextstudy(data-nextstudy="threadmeup")
					span &#8249;
					| Last thingy
			li.navc.caps
				a.nextstudy(data-nextstudy="dostoros")
					| Next thingy
					span &#8250;
	header
		.wrap
			.logo
				span#logo(data-speed="5.55")
					img.fadeindownb(src="/images/coolhouse/logo.png")
			.title
				span#title(data-speed="2.85")
					h1.fadeinup Nunc rutrum mi molestie faucibus erat at feugiat erat.
		.awrap
			.rwrap
				.fade
	.push
		div

block overview
	.head
		span.fadeinleft
		h5.caps.fadeinup Overview
		span.fadeinright
	.wrap.hidden
		.overview
			.detail.two-col
				p Ullamcorper vel integer et condimentum vitae. Elit felis in. Commodo leo odio faucibus a nunc. Neque tempus luctus at tellus platea turpis etiam porta vel amet et. Dolor neque ipsum. Feugiat delectus lobortis vestibulum libero non vitae adipiscing tempor pede wisi nunc vitae.
				p Id varius pellentesque. Aliquet velit ut blandit pulvinar urna. In accumsan ipsum. Cursus et morbi. Nulla commodo vitae. Tellus urna in dictumst fringilla id laoreet felis cras mattis cursus congue. Voluptates consequat elit dui pellentesque sapien gravida in.
			.context
				div
					h6.caps Role:
					p aliquam eget lectus
				div
					h6.caps When:
					p summer 2014 <em>(3-month program)</em>
				div
					h6.caps With:
					p Coolhouse Labs, accelerator

block content
	.itemhead
		h2 Showreel
			span
	.visual
		.shot
			video#video(preload="auto", controls="true", poster="/images/coolhouse/showreel-poster.jpg")
				source(src="/images/coolhouse/showreel.webm", type="video/webm")
				source(src="/images/coolhouse/showreel.mp4", type="video/mp4")
	.detail
		p Mauris eleifend, libero vel pellentesque ornare, erat felis pharetra sapien, in tempus lectus urna nec dui. Nullam efficitur vestibulum iaculis. In semper non dolor vel eleifend. Duis tristique, ex a iaculis facilisis, urna nibh mollis turpis, vel tristique est dolor vitae leo. Pellentesque ut pretium ipsum, eu commodo sem metta libero nonda.
		p Libero vel pellentesque ornare, erat felis pharetra sapien, in tempus lectus urna nec dui. Nullam efficitur vestibulum iaculis. In semper non dolor vel eleifend duis tristique ex rapp.
	.itemhead
		h2 Localfu
			span
	.visual.full
		.browser.large
			.top
				ul
					li
					li
					li
				span localfu.com
			video(preload="auto", autoplay="true", loop="true", poster="/images/coolhouse/localfu-landing-poster.jpg")
				source(src="/images/coolhouse/localfu-landing.webm", type="video/webm")
				source(src="/images/coolhouse/localfu-landing.mp4", type="video/mp4")
	.detail
		p Mauris eleifend, libero vel pellentesque ornare, erat felis pharetra sapie, insta tempus lectus urna nec dui. Nullam efficitur vestibulum iaculis. Inn semper non dolor vel eleifend duis tristique ex rhoncus.
		p Qui velit etiam. Nisl turpis purus. Magna leo in. Et nullam neque montes aute urna. Nulla scelerisque et. Euismod dolor ipsum suspendisse malesuada justo nunc tellus eros pede et dui fermentum vitae at maxime turpis sagittis. Ut vivamus proin.
		p Velit ac ut quam at eget. Purus neque neque con risus quis. Odio suspendisse amet scelerisque sodales viverra. Congue pede est. Convallis a ac lacus <a class="texta" href="http://isaacpvl.com/localfu" target="_blank">hymenaeos eget lorem massa</a> cras donda.
	.visual.single
		.browser
			.top
				ul
					li
					li
					li
				span localfu.com
			video(preload="auto", autoplay="true", loop="true", poster="/images/coolhouse/localfu-cities-poster.jpg")
				source(src="/images/coolhouse/localfu-cities.webm", type="video/webm")
				source(src="/images/coolhouse/localfu-cities.mp4", type="video/mp4")
	.detail
		p Libero vel pellentesque ornare, erat felis pharetra sapien, in tempus lectus urna nec dui. Nullam efficitur vestibulum iaculis. In semper non dolor vel eleifend duis tristique ex rapp.
		a.button(href="http://isaacpvl.com/localfu", target="_blank") View the prototype
	.itemhead
		h2 Rex Pet Health
			span
	.visual.full
		.browser.large
			.top
				ul
					li
					li
					li
				span rexpethealth.com/search
			video(preload="auto", autoplay="true", loop="true", poster="/images/coolhouse/rex-search-poster.jpg")
				source(src="/images/coolhouse/rex-search.webm", type="video/webm")
				source(src="/images/coolhouse/rex-search.mp4", type="video/mp4")
	.detail
		p Nulla scelerisque et. Euismod dolor ipsum suspendisse malesuada justo nunc tellus eros pede et dui fermentum vitae at maxime turpis sagittis. Ut vivamus proin. Euismod nunc vel in litora diam. Porttitor urna leo neque sem velit ut blandit pulvinar urna vitae.
		p Mauris eleifend, libero vel pellentesque ornare, erat felis pharetra sapie, insta tempus lectus urna nec dui. Nullam efficitur vestibulum iaculis. Inn semper non dolor vel eleifend duis tristique ex rhoncus.
	.visual.single
		.browser
			.top
				ul
					li
					li
					li
				span rexpethealth.com/practice/heart-of-bklyn
			img(src="/images/coolhouse/rex-practice-vet.gif")
	.detail
		p Mauris eleifend, libero vel pellentesque ornare, erat felis pharetra sapien, in tempus lectus urna nec dui. Nullam efficitur vestibulum iaculis. In semper non dolor vel eleifend. Duis tristique, ex a iaculis facilisis, urna nibh mollis turpis, vel tristique est dolor vitae leo. Pellentesque ut pretium ipsum, eu commodo sem metta libero nonda.
	.itemhead
		h2 Outdoors.io
			span
	.visual.full
		.browser.large
			.top
				ul
					li
					li
					li
				span outdoors.io
			video(preload="auto", autoplay="true", loop="true", poster="/images/coolhouse/outdoors-landing-poster.jpg")
				source(src="/images/coolhouse/outdoors-landing.webm", type="video/webm")
				source(src="/images/coolhouse/outdoors-landing.mp4", type="video/mp4")
	.detail
		p Mauris eleifend, libero vel pellentesque ornare, erat felis pharetra sapien, in tempus lectus urna nec dui. Nullam efficitur vestibulum iaculis. In semper non dolor vel eleifend. Duis tristique, ex a iaculis facilisis, urna nibh mollis turpis, vel tristique est dolor vitae leo. Pellentesque ut pretium ipsum eu commodo sem.
	.visual.single
		.shot
			img(src="/images/coolhouse/outdoors-gear.jpg")
	.detail
		p Mauris eleifend, libero vel pellentesque ornare, erat felis pharetra, in tempus lectus urna nec dui nullam efficitur vestibulum.
		a.button(href="http://isaacpvl.com/outdoors", target="_blank") View the front-end design

block next
	section.next.dostoros.nextstudy(data-nextstudy="dostoros")
		.head
			h5.caps Next thingy
		.peek
			img(src="/images/dostoros/logo.png")
		.peekbg
