doctype html
html
	head
		title Isaac Paavola | SocialCrunch
		include ../../resource/head

	body.project.socialcrunch
		.twrap
			a#project
			include ../../projects/socialcrunch
		include ../../resource/base

	include ../../resource/loader

	script(src="/_scripts/plugins.js")
	script(src="/_scripts/project.js")