extends layout-study

block page
	body.study.coolhouse
		a#home
		.bar
		nav
			ul
				li#nava.nava
					a.initials.caps(href="#home")
						span P
						div
						span V
						div
						span L
					a.lastname.caps
						div
						span A
						span A
						div
						span O
						div
						span A
					h6 Isaac Paavola's creative
					h6 and design adventures!
				li.navb.caps
					a.nextstudy(data-nextstudy="threadmeup")
						span &#8249;
						| Last thingy
				li.navc.caps
					a.nextstudy(data-nextstudy="dostoros")
						| Next thingy
						span &#8250;

		header
			.wrap
				.logo
					span#logo(data-speed="5.55")
						img.fadeindownb(src="/images/coolhouse/logo.png")
				.title
					span#title(data-speed="2.85")
						h1.fadeinup Being a full-scale design team for a litter of startups.
			.awrap
				.rwrap
					.fade
		.push
			div

		section.work.bgfade
			.arrowb
			.head
				span.fadeinleft
				h5.caps.fadeinup Overview
				span.fadeinright
			.wrap.hidden
				.overview
					.detail.two-col
						p If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push in the first place? Uh... If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push then? Uh...
						p If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push in the first place? Uh... If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push then? Uh...
					.context
						div
							h6.caps Role:
							p project juggling spectacle
						div
							h6.caps When:
							p summer 2014 <em>(3-month program)</em>
						div
							h6.caps With:
							p Coolhouse Labs

				.itemhead
					h2 Showreel
						span
				.visual
					.shot
						video#video(preload="auto", controls="true", poster="/images/coolhouse/showreel-poster.jpg")
							source(src="/images/coolhouse/showreel.webm", type="video/webm")
							source(src="/images/coolhouse/showreel.mp4", type="video/mp4")
				.detail
					p If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So you might ask then, why did I push it in the first place? And to that I say... Uhmmm... Shit. You caught me right after I pushed a big update, but before I wrote the copy.
					p If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push in the first place? Uh... If you're reading this, you caught me right after I pushed a big update.
				.itemhead
					h2 Localfu Prototype
						span
				.visual.full
					.browser.large
						.top
							ul
								li
								li
								li
							span localfu.com
						video(preload="auto", autoplay="true", loop="true", poster="/images/coolhouse/localfu-landing-poster.jpg")
							source(src="/images/coolhouse/localfu-landing.webm", type="video/webm")
							source(src="/images/coolhouse/localfu-landing.mp4", type="video/mp4")
				.detail
					p If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push in the first place? Uh... If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push then? Uh...
					p If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push in the first place? Uh... If you're reading this, you caught me right after I pushed a big update.
				.visual.single
					.browser
						.top
							ul
								li
								li
								li
							span localfu.com
						video(preload="auto", autoplay="true", loop="true", poster="/images/coolhouse/localfu-cities-poster.jpg")
							source(src="/images/coolhouse/localfu-cities.webm", type="video/webm")
							source(src="/images/coolhouse/localfu-cities.mp4", type="video/mp4")
				.detail
					p If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push in the first place? Uh... If you're reading this, you caught me right after I pushed a big update.
					a.button(href="http://isaacpvl.com/localfu", target="_blank") View the prototype

				.itemhead
					h2 Rex Product
						span
				.visual.full
					.browser.large
						.top
							ul
								li
								li
								li
							span rexpethealth.com/search
						video(preload="auto", autoplay="true", loop="true", poster="/images/coolhouse/rex-search-poster.jpg")
							source(src="/images/coolhouse/rex-search.webm", type="video/webm")
							source(src="/images/coolhouse/rex-search.mp4", type="video/mp4")
				.detail
					p If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push in the first place? Uh... If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push then? Uh...
				.visual.single
					.browser
						.top
							ul
								li
								li
								li
							span rexpethealth.com/practice/heart-of-bklyn
						img(src="/images/coolhouse/rex-practice-vet.gif")
				.detail
					p If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push in the first place? Uh... If you're reading this, you caught me right after I pushed a big update.

				.itemhead
					h2 Outdoors Site
						span
				.visual.full
					.browser.large
						.top
							ul
								li
								li
								li
							span outdoors.io
						video(preload="auto", autoplay="true", loop="true", poster="/images/coolhouse/outdoors-landing-poster.jpg")
							source(src="/images/coolhouse/outdoors-landing.webm", type="video/webm")
							source(src="/images/coolhouse/outdoors-landing.mp4", type="video/mp4")
				.detail
					p If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push in the first place? Uh... If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push then? Uh...
				.visual.single
					.shot
						img(src="/images/coolhouse/outdoors-gear.jpg")
				.detail
					p If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push in the first place? Uh... If you're reading this, you caught me right after I pushed a big update.
					a.button(href="http://isaacpvl.com/outdoors", target="_blank") View the front-end design

		section.next.dostoros.nextstudy(data-nextstudy="dostoros")
			.head
				h5.caps Next thingy
			.peek
				img(src="/images/dostoros/logo.png")
			.peekbg

		.base
		.base.study