extends layout-study

block page
	body.study.dostoros
		a#home
		.bar
		nav
			ul
				li#nava.nava
					a.initials.caps(href="#home")
						span P
						div
						span V
						div
						span L
					a.lastname.caps
						div
						span A
						span A
						div
						span O
						div
						span A
					h6 Isaac Paavola's creative
					h6 and design adventures!
				li.navb.caps
					a.nextstudy(data-nextstudy="coolhouse")
						span &#8249;
						| Last thingy
				li.navc.caps
					a.nextstudy(data-nextstudy="huddlepass")
						| Next thingy
						span &#8250;

		header
			.wrap
				.logo
					span#logo(data-speed="5.55")
						img.fadeindownb(src="/images/dostoros/logo.png")
				.title
					span#title(data-speed="2.85")
						h1.fadeinup A restaurant website as weird and crazy as its owners.
			.awrap
				.rwrap
					.fade
		.push
			div

		section.work.bgfade
			.arrowb
			.head
				span.fadeinleft
				h5.caps.fadeinup Overview
				span.fadeinright
			.wrap.hidden
				.overview
					.detail.two-col
						p If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push in the first place? Uh... If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push then? Uh...
						p If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push in the first place? Uh... If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push then? Uh...
					.context
						div
							h6.caps Role:
							p storyteller <em>(deal with it <a class="texta" href="https://youtu.be/UlkIVIau1Nk", target="_blank">sagmeister</a>)</em>
						div
							h6.caps When:
							p early 2015
						div
							h6.caps With:
							p Metronome3, agency
					.live
						a.button(href="http://dostoros.com", target="_blank") Visit the live site

				.itemhead
					h2 A Tale of Two Brothers
						span
				.visual.full
					.browser.large
						.top
							ul
								li
								li
								li
							span dostoros.com
						video(preload="auto", autoplay="true", loop="true", poster="/images/dostoros/dostoros-totb-poster.jpg")
							source(src="/images/dostoros/dostoros-totb.webm", type="video/webm")
							source(src="/images/dostoros/dostoros-totb.mp4", type="video/mp4")
				.detail
					p If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So you might ask then, why did I push it in the first place? And to that I say... Uhmmm... Shit. You caught me right after I pushed a big update, but before I wrote the copy.
				.visual.two-col
					.browser
						.top
							ul
								li
								li
								li
							span dostoros.com
						video(preload="auto", autoplay="true", loop="true", poster="/images/dostoros/dostoros-view-guac-poster.jpg")
							source(src="/images/dostoros/dostoros-view-guac.webm", type="video/webm")
							source(src="/images/dostoros/dostoros-view-guac.mp4", type="video/mp4")
					.browser
						.top
							ul
								li
								li
								li
							span dostoros.com
						img(src="/images/dostoros/dostoros-view-chop.jpg")
				.visual.two-col
					.browser
						.top
							ul
								li
								li
								li
							span dostoros.com
						img(src="/images/dostoros/dostoros-view-meats.jpg")
					.browser
						.top
							ul
								li
								li
								li
							span dostoros.com
						video(preload="auto", autoplay="true", loop="true", poster="/images/dostoros/dostoros-view-culture-poster.jpg")
							source(src="/images/dostoros/dostoros-view-culture.webm", type="video/webm")
							source(src="/images/dostoros/dostoros-view-culture.mp4", type="video/mp4")
				.detail
					p If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push in the first place? Uh... If you're reading this, you caught me right after I pushed a big update.
				.visual.multiphone
					.phone
						.top
							.camera
								span
							.speaker
								span
						img.header(src="/images/dostoros/dostoros-mobile-header.png")
						.frame.scroll
							img(src="/images/dostoros/dostoros-mobile-01.jpg")
						.bottom
							div
								span
					.phone
						.top
							.camera
								span
							.speaker
								span
						img.header(src="/images/dostoros/dostoros-mobile-header.png")
						.frame.scroll
							img(src="/images/dostoros/dostoros-mobile-02.jpg")
						.bottom
							div
								span
					.phone
						.top
							.camera
								span
							.speaker
								span
						img.header(src="/images/dostoros/dostoros-mobile-header.png")
						.frame.scroll
							img(src="/images/dostoros/dostoros-mobile-03.jpg")
						.bottom
							div
								span

				.itemhead.small
					h2 Locations
						span
				.visual.full
					.browser.large
						.top
							ul
								li
								li
								li
							span dostoros.com/locations
						img(src="/images/dostoros/dostoros-locations.gif")

				.itemhead.small
					h2 Menu
						span
				.visual.full
					.browser.large
						.top
							ul
								li
								li
								li
							span dostoros.com/menu
						img(src="/images/dostoros/dostoros-menu.jpg")
				.detail
					p If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push in the first place? Uh... If you're reading this, you caught me right after I pushed a big update.
					a.button(href="http://dostoros.com", target="_blank") Visit the live site

		section.next.hpass.nextstudy(data-nextstudy="huddlepass")
			.head
				h5.caps Next thingy
			.peek
				img(src="/images/huddlepass/logo.png")
			.peekbg

		.base
		.base.study