doctype html
html
	head
		title Isaac Paavola's design adventures!
		include pieces/head

	body
		include pieces/nav
		include home/header
		include home/wall
			include blocks/threadmeup
			include blocks/dostoros
			include blocks/coolhouse
			include blocks/huddlepass
			include blocks/recent
			include blocks/past
			include blocks/dribbble
		include home/feelings
		include home/story
		include home/contact
		include pieces/base

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
	script(src="/_scripts/home.js")