doctype html
html
	head
		title Isaac Paavola
		include _pieces/head
		script(src="/_scripts/loader.js")

	body.home
		include home/nav
		include home/header
		include home/wall
			include home/projects/threadmeup
			include home/projects/dostoros
			include home/projects/coolhouse
			include home/projects/huddlepass
			include home/projects/recent
			include home/projects/past
			include home/projects/shots
		include home/about
		include home/contact
		include _pieces/base
	include _pieces/loader

	script(src="/_scripts/home.js")