extends layout-study

block page
	body.study.scrunch
		a#home
		.bar
		nav.dark
			ul
				li#nava.nava
					a.initials.caps(href="#home")
						span P
						div
						span V
						div
						span L
					a.lastname.caps
						div
						span A
						span A
						div
						span O
						div
						span A
					h6 Isaac Paavola's creative
					h6 and design adventures!
				li.navb.caps
					a.nextstudy(data-nextstudy="huddlepass")
						span &#8249;
						| Last thingy
				li.navc.caps
					a.nextstudy(data-nextstudy="lifeis")
						| Next thingy
						span &#8250;

		header.dark
			.wrap
				.logo
					span#logo(data-speed="5.55")
						img.fadeindownb(src="/images/socialcrunch/logob.png")
				.title
					span#title(data-speed="2.85")
						h1.fadeinup Learning everyting about people without being creepy.
		.push
			div

		section.work.bgfade
			.arrowb
			.head
				span.fadeinleft
				h5.caps.fadeinup Overview
				span.fadeinright
			.wrap.hidden
				.overview
					.detail.two-col
						p If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push in the first place? Uh... If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push then? Uh...
						p If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push in the first place? Uh... If you're reading this, you caught me right after I pushed a big update, but before I wrote the copy. So why'd I push then? Uh...
					.context
						div
							h6.caps My Role:
							p judging people
						div
							h6.caps When:
							p summer 2013
						div
							h6.caps With:
							p ÄKTA, agency

				.itemhead.small
					h2 Main feed (questions) page
						span
				.visual
					.browser.large
						.top
							ul
								li
								li
								li
							span socialcrunch.com/feed
						img(src="/images/socialcrunch/scrunch-01.jpg")
				.itemhead.small
					h2 Characteristics (profile) page
						span
				.visual
					.browser.large
						.top
							ul
								li
								li
								li
							span socialcrunch.com/profile
						img(src="/images/socialcrunch/scrunch-02.jpg")
				.itemhead.small
					h2 Mobile app design
						span
				.visual.multiphone
					.phone
						.top
							.camera
								span
							.speaker
								span
						.frame
							img(src="/images/socialcrunch/scrunch-03.jpg")
						.bottom
							div
								span
					.phone
						.top
							.camera
								span
							.speaker
								span
						.frame.vid
							video(preload="auto", autoplay="true", loop="true", poster="/images/socialcrunch/scrunch-mobile-poster.jpg")
								source(src="/images/socialcrunch/scrunch-mobile.webm", type="video/webm")
								source(src="/images/socialcrunch/scrunch-mobile.mp4", type="video/mp4")
						.bottom
							div
								span
					.phone
						.top
							.camera
								span
							.speaker
								span
						.frame
							img(src="/images/socialcrunch/scrunch-03c.jpg")
						.bottom
							div
								span

				.footlink
					p you can also check out <a class="texta" href="https://dribbble.com/isaacpvl/projects/152381-SocialCrunch", target="_blank">this project on dribbble</a>

		section.next.lifeis.nextstudy(data-nextstudy="lifeis")
			.head
				h5.caps Next thingy
			.peek
				img(src="/images/lifeis/logo.png")
			.peekbg

		.base
		.base.scrunch
		.base.study