doctype html
html
	head
		title Isaac Paavola | Life.is
		link(rel="stylesheet", href="/_styles/project.css")
		link(rel="stylesheet", href="/_styles/style.css")
		include ../../_resource/head
		script(src="/_scripts/loaderp.js")

	body.project.lifeis
		.twrap
			a#project
			include ../../projects/lifeis
		.navslide
			.slide.pslide
			.slide.hslide
			.overlay
		.base.hide

	include ../../_resource/loader

	script(src="/_scripts/project.js")