extends ../works

block title
	title Isaac Paavola | 2old2play

block body
	body.study.totp

block nav
	nav
		ul
			li#nava.nava
				include ../pieces/pvl
			li.navb.caps
				a.navlink(data-pathname="overdog")
					span &#8249;
					| Last Project
			li.navc.caps
				a.navlink(data-pathname="threadmeup")
					| Next Project
					span &#8250;

block header
	header
		.wrap
			.logo
				span#logo(data-speed="5.55")
					img.fadeindownb(src="/images/2old2play/logo.png")
			.title
				span#title(data-speed="2.85")
					h1.fadeinup A social hub that sparks community playing together.
	.push
		div

block overview
	.arrowbar
		.arrowb
	.head
		span.fadeinleft
		h5.caps.fadeinup Overview
		span.fadeinright
	.wrap.hidden
		.overview
			.detail.single
				p I took a large community's dated website and designed it to be a social hub that gats people to start playing together.
			.context
				div
					h6.caps My Role:
					p web design & brand
				div
					h6.caps When:
					p late 2013
				div
					h6.caps With:
					p just me, freelancing

block content
	.itemhead.small
		h2 Homepage & community feed
			span
	.visual
		.browser.large
			.top
				ul
					li
					li
					li
				span 2old2play.com
			img(src="/images/2old2play/2o2p-02.jpg")
	.itemhead.small
		h2 Alternate homepage
			span
	.visual
		.browser.large
			.top
				ul
					li
					li
					li
				span 2old2play.com
			img(src="/images/2old2play/2o2p-01.jpg")
	.footlink
		p you can also check out <a class="texta" href="https://dribbble.com/isaacpvl/projects/173459-2old2play", target="_blank">this project on dribbble</a>

block next
	section.next.tmu.navlink(data-pathname="threadmeup")
		.head
			h5.caps Next Project
		.peek
			img(src="/images/threadmeup/logo.png")
		.peekbg
