extends ../works

block title
	title Isaac Paavola | SocialCrunch

block body
	body.study.scrunch

block nav
	.bar
	nav.dark
		ul
			li#nava.nava
				include ../pieces/pvl
			li.navb.caps
				a.navlink(data-pathname="huddlepass")
					span &#8249;
					| Last Project
			li.navc.caps
				a.navlink(data-pathname="lifeis")
					| Next Project
					span &#8250;

block header
	header.dark
		.wrap
			.logo
				span#logo(data-speed="5.55")
					img.fadeindownb(src="/images/socialcrunch/logob.png")
			.title
				span#title(data-speed="2.85")
					h1.fadeinup An addictive data game of question & comparison.
	.push
		div

block overview
	.arrowbar
		.arrowb
	.head
		span.fadeinleft
		h5.caps.fadeinup Overview
		span.fadeinright
	.wrap.hidden
		.overview
			.detail
				p I made it easy for people to get addicted to giving this startup all kinds of data while they compare themselves to others.
			.context
				div
					h6.caps My Role:
					p web/UI design
				div
					h6.caps When:
					p summer 2013
				div
					h6.caps With:
					p AKTA, agency

block content
	.itemhead.small
		h2 Main feed (questions) page
			span
	.visual
		.browser.large
			.top
				ul
					li
					li
					li
				span socialcrunch.com/feed
			img(src="/images/socialcrunch/scrunch-01.jpg")
	.itemhead.small
		h2 Characteristics (profile) page
			span
	.visual
		.browser.large
			.top
				ul
					li
					li
					li
				span socialcrunch.com/profile
			img(src="/images/socialcrunch/scrunch-02.jpg")
	.itemhead.small
		h2 Mobile app design
			span
	.visual.multiphone
		.phone
			.top
				.camera
					span
				.speaker
					span
			.frame
				img(src="/images/socialcrunch/scrunch-03.jpg")
			.bottom
				div
					span
		.phone
			.top
				.camera
					span
				.speaker
					span
			.frame.vid
				video(preload="auto", autoplay="true", loop="true", poster="/images/socialcrunch/scrunch-mobile-poster.jpg")
					source(src="/images/socialcrunch/scrunch-mobile.webm", type="video/webm")
					source(src="/images/socialcrunch/scrunch-mobile.mp4", type="video/mp4")
			.bottom
				div
					span
		.phone
			.top
				.camera
					span
				.speaker
					span
			.frame
				img(src="/images/socialcrunch/scrunch-03c.jpg")
			.bottom
				div
					span
	.footlink
		p you can also check out <a class="texta" href="https://dribbble.com/isaacpvl/projects/152381-SocialCrunch", target="_blank">this project on dribbble</a>

block next
	section.next.lifeis.navlink(data-pathname="lifeis")
		.head
			h5.caps Next Project
		.peek
			img(src="/images/lifeis/logo.png")
		.peekbg
