

// Next styles
// ------------------------------------------------------------

body.study {
	section.next {
		height: 144px;
		@include padding-leader(3);
		cursor: pointer;
		color: $wht;
		background: $wht;
		&:hover {
			.head {
				opacity: 0;
				@include tmove(0, -24px);
			}
			.peek {
				top: 0;
			}
			.peekbg {
				top: 0;
			}
			img {
				opacity: 1;
				@include tmove(0, -24px);
			}
		}
		.head {
			margin: 0;
			z-index: 2;
			@include trans(.4s, 0s);
		}
		h5 {
			color: $wht;
			line-height: 84px;
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 3px;
		}
		.peek {
			position: absolute;
			z-index: 1;
			top: 36px;
			bottom: 0;
			left: 0;
			right: 0;
			background: $red;
			@include trans(.35s, 0s);
		}
		.peekbg {
			position: absolute;
			top: 36px;
			bottom: 0;
			left: 0;
			right: 0;
			@include trans(.35s, 0s);
		}
		img {
			opacity: .3;
			@include trans(.6s, 0s);
		}
	}
}