doctype html
html
	head
		title Isaac Paavola | Past work
		include ../../resource/head

	body.project.past
		.twrap
			a#project
			include ../../projects/past
		include ../../resource/base

	include ../../resource/loader

	script(src="/_scripts/plugins.js")
	script(src="/_scripts/project.js")