

// Weird shit styles
// ------------------------------------------------------------

body.weirdshit {
	.base.study {
		@include scrunchbg;
		@include animatereset(1.2s, 0s);
		@include fadein;
	}
	.base.weirdshit {
		box-shadow: none;
		@include scrunchbar;
	}
	.arrowb { @include arrow(24px, #fff3dd); }
	.bar {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		max-width: 1440px;
		margin: 0 auto;
		height: 9px;
		@include scrunchbar;
		@include trans(.2s, 0s);
	}
}
body.study.weirdshit.next, body.study.weirdshit.home {
	.base.study, .base.weirdshit { opacity: 0; }
	.bar { top: -9px; }
	.shadow { opacity: 0; }
}

// Next
body.study {
	section.next.weirdshit {
		&:hover {
			.peek { background: none; }
			img { @include tmove(0, -24px); }
		}
		img {
			margin: 52px 0 0 3%;
		}
		.peekbg {
			@include scrunchbar;
		}
	}
}