

// Work styles
// ------------------------------------------------------------

body.study {
	section.work {
		min-height: 1440px;
		@include leader(0);
		@include padding-trailer(15);
		background: $wht;
		.head {
			@include leader(15);
			@include trailer(2);
			h5 { @include animate(.5s, .7s); }
			span { @include animate(.7s, .9s); }
		}
		.wrap {
			width: 100%;
			max-width: 1282px;
			margin: auto;
			@include trans(.4s, 0s);
			@include animatereset(.8s, .8s);
			@include fadein;
		}
	}
	section.work.bgfade {
		box-shadow: none;
	}
}

.overview {
	position: relative;
	max-width: 1140px;
	margin: auto;
	@include padding-trailer(4);
	.detail.two-col {
		@include padding-leader(8);
		@include padding-trailer(4);
		em {
			font-style: italic;
			font-weight: 600;
		}
	}
	.detail.single {
		p {
			@include lineh(4);
			font-size: 24px;
		}
	}
	.context {
		div {
			display: inline-block;
			vertical-align: top;
			text-align: left;
			margin-right: 8%;
			em {
				font-size: 18px;
				letter-spacing: -0.02em;
				margin-right: 4px;
				opacity: 0.6;
			}
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
	.live {
		position: relative;
		width: 480px;
		margin: auto;
		@include padding-leader(6);
		.button {
			width: 100%;
		}
		p {
			display: block;
			width: 100%;
			height: 60px;
			@include leader(2);
			@include lineh(2.5);
			font-size: 18px;
			strong {
				@extend .caps;
				font-size: 16px;
			}
			span {
				display: block;
				@include leader(1);
				font-style: italic;
				opacity: 0.6;
			}
		}
	}
}

.itemhead {
	@include padding-leader(12);
	@include padding-trailer(3);
	h2 {
		position: relative;
		@include lineh(8);
		font-size: 48px;
		font-weight: 800;
		font-family: $caps;
		text-transform: uppercase;
	}
	span {
		position: absolute;
		bottom: -6px;
		left: 50%;
		width: 60px;
		height: 5px;
		margin-left: -30px;
		background: $blk;
	}
}
.itemhead.small {
	@include padding-leader(9);
	@include padding-trailer(2);
	h2 {
		@include lineh(6);
		font-size: 30px;
	}
	span {
		bottom: -4px;
		height: 4px;
	}
}

.detail {
	position: relative;
	@include padding-leader(6);
	@include padding-trailer(6);
	p {
		max-width: 680px;
		margin: auto;
		@include padding-trailer(2.5);
		&:last-of-type {
			@include padding-trailer(0);
		}
	}
	.button {
		@include leader(6);
		min-width: 35%;
	}
}
.detail.two-col {
	p {
		display: inline-block;
		vertical-align: top;
		width: 47.5%;
		&:last-of-type {
			margin-left: 5%;
		}
	}
}

.visual {
	position: relative;
	@include leader(3);
	@include trailer(3);
	.shot {
		position: relative;
		width: 100%;
		margin: auto;
		img, video {
			width: 100%;
			@include border(1px, $dark-l);
		}
	}
	.browser {
		margin: auto;
		video {
			width: 100%;
		}
	}
	#video {
		cursor: pointer;
	}
}
.visual.single {
	@include leader(2);
	@include trailer(2);
	.shot, .browser {
		max-width: 802px;
		&.small {
			max-width: 662px;
		}
	}
}
.visual.two-col {
	.shot {
		width: 48.5%;
		max-width: 546px;
		display: inline-block;
		vertical-align: top;
		&:first-of-type {
			margin-right: 3%;
		}
		&.last {
			@include leader(-10);
			max-width: 402px;
		}
	}
	.browser {
		width: 48.5%;
		display: inline-block;
		vertical-align: top;
		&:first-of-type {
			margin-right: 3%;
		}
		.frame {
			height: 420px;
		}
	}
}
.visual.multiphone {
	@include leader(4);
	@include trailer(4);
	.phone {
		position: relative;
		display: inline-block;
		width: 32%;
		min-width: none;
		max-width: 356px;
		@include padding-x(16px);
		margin-right: 2%;
		&:last-of-type {
			margin-right: 0;
		}
	}
}
.visual.gap {
	@include leader(6);
}

.footlink {
	@include leader(12);
	@include trailer(-8);
	p { text-align: center; }
}

// Media queries
@media screen and (max-width: 1240px) {
	.visual.multiphone {
		.phone {
			@include padding-x(14px);
			img.header {
				display: none;
			}
			.frame.scroll {
				height: 510px;
			}
		}
	}
}
@media screen and (max-width: 1080px) {
	.visual.multiphone {
		.phone {
			@include padding-x(12px);
			.frame.scroll {
				height: 504px;
			}
		}
	}
}
@media screen and (max-height: 900px) {
	.visual.full {
		.browser {
			max-width: 1142px;
		}
	}
}
@media screen and (max-height: 780px) {
	.visual.full {
		.browser {
			max-width: 1022px;
		}
	}
}

