

// Dos Toros styles
// ------------------------------------------------------------

	$pcolor:	$blk;
	body.dostoros {
		header {
			background: $pcolor url('/images/dostoros/bg.jpg') no-repeat;
			background-size: 100%;
			.fade {
				@include gradient-vert-d(rgba($pcolor, 0), 65%, $pcolor, 100%);
			}
		}
		.arrow {
			@include arrow(27px, $pcolor);
		}
		.base {
			background: $pcolor;
		}
	}

// next
	body.project {
		section.next.dostoros {
			img {
				width: 432px;
				height: 108px;
				@include leader(4);
			}
			.peekbg {
				background: $pcolor url('/images/dostoros/bg.jpg') no-repeat;
				background-size: 100%;
			}
		}
	}
