@import "settings/_extras";


// Study styles
// ------------------------------------------------------------

body.extra, header, nav, section { width: 100%; min-width: 960px; max-width: 1440px; }
body.extra {
	position: relative;
	height: 100%;
	margin: 0 auto;
	color: $drk;
	font-family: $serif;
	font-size: $basefont;
	line-height: $baseline;
	.base { background: $wht; }
	.base.extra { box-shadow: none; @include trans(0s, 0s); }
	header {
		z-index: 2; height: 93.5%; min-height: 600px; max-height: 900px; text-align: center; @include trans(0s, 0s);
		.wrap { position: absolute; width: 100%; padding: 0 6%; height: 100%; overflow: hidden; z-index: 2; }
		.logo {
			position: relative;
			width: 100%;
			height: 46%; min-height: 282px; max-height: 408px;
			span { position: absolute; bottom: 0; left: 0; right: 0; }
			img { width: 480px; height: 120px; @include animate(.8s, .5s); }
		}
		.title {
			position: relative;
			width: 100%;
			height: 38%; min-height: 264px; max-height: 294px;
			span { position: absolute; bottom: 0; left: 0; right: 0; }
			h1 { display: inline-block; max-width: 880px; margin: 0 auto; padding: 9px 22px 12px 22px; line-height: 60px; font-size: 54px; font-weight: 500; letter-spacing: 0px; @include animate(.8s, .5s); }
			h1:last-of-type { @include trailer(2); padding: 0 22px 15px 22px; font-size: 42px; }
			h3 { @include leader(1.5); color: $wht-8; line-height: 12px; font-weight: 400; @include animate(.8s, 1.3s); }
		}
	}
	.push {
		position: relative; z-index: 3; height: 93.5%; min-height: 600px; max-height: 900px; overflow: hidden;
		div { position: absolute; top: 100%; width: 100%; height: 105%; background: $wht; @include animatereset(.6s, .5s); @include sheaderin; }
	}
	.arrowb { @include animatereset(.35s, 1.05s); }
	section { @include trans(.4s, 0s); .head { @include ttiming(ease); } }
	section.work {
		min-height: 1400px;
		@include padding-trailer(8);
		background: $wht;
		.head { @include leader(10); @include trailer(5); h4 { @include animate(.5s, 1.2s); } span { @include animate(.7s, 1.4s); } }
		.wrap { @include animatereset(.8s, 1.3s); @include fadein; .head { @include leader(5); @include trailer(0); } }
		.wrapb { .head { @include leader(5); @include trailer(0); } }
		.head, .wrap, .wrapb { @include trans(.4s, 0s); }
		.offset { @include padding-trailer(4); }
	}
	section.work.bgfade { box-shadow: none; }
	section.next {
		height: 108px;
		padding-top: 24px;
		cursor: pointer;
		color: $wht;
		text-align: center;
		background: $wht;
		&:hover {
			.head { opacity: .5; @include tmove(0, -20px); }
			.peek { top: 0; }
			img { opacity: 1; @include tmove(0, -18px); }
		}
		.head { margin: 0; z-index: 2; @include trans(.4s, 0s); }
		h4 { line-height: 84px; font-weight: 600; letter-spacing: 4px; }
		.peek { position: absolute; top: 24px; bottom: 0; left: 0; right: 0; background: $red; @include trans(.35s, 0s); }
		img { opacity: .2; @include trans(.6s, 0s); }
	}
}
body.fade { header, .base.extra, .splash { opacity: 0; } }
body.extra.home {
	header, .shadow { opacity: 0; @include tmove(0, -900px); @include trans(.375s, 0s); }
	nav { @include navout; li.nava { h6 { opacity: 0; } } } nav.whitebg, nav.bluebg { background: none; }
	.base, .base.extra { background: $red; @include trans(.375s, 0s); }
	.splash { bottom: 0; height: 100%; min-height: 100%; max-height: 100%; opacity: 0; }
	section.work { opacity: 0; @include tmove(0, 900px); @include trans(.375s, 0s); }
	section.next { background: none; .head, .peek, .peekbg { @include tmove(0, 100%); @include trans(.375s, 0s); } }
	.splash { opacity: 0; .vid { video { display: none; } } }
	.browser { .vid { video.hidden { display: none; } } .poster { display: block; } }
}
body.extra.next {
	header, section, .shadow { @include tmove(0, 600px); @include trans(.375s, 0s); }
	section.work { opacity: 0; @include tmove(0, 600px); }
	header { .logo, .title { opacity: 0; @include trans(.375s, 0s); } }
	section.next { @include tmove(0, 100%); }
	nav { @include navout; } nav.whitebg, nav.bluebg { background: none; }
	.base.extra { opacity: 0; @include trans(.4s, 0s); }
	.splash { position: absolute; bottom: 0; height: 100%; min-height: 100%; max-height: 100%; opacity: 0; }
	section.work { .head, .wrap, .wrapb { opacity: 0; } }
	.splash { opacity: 0; .vid { video { display: none; } } }
	.browser { .vid { video.hidden { display: none; } } .poster { display: block; } }
}
// Media queries
	@media screen and (max-width: 1024px) { body.extra {
		nav { z-index: 3; }
		header { z-index: 2; }
		.base { z-index: 1; }
		section { z-index: 2; }
		.base { position: fixed; top: 0; bottom: 0; height: auto; }
		.push { display: none; }
	} }
	@media screen and (max-width: 960px) { body.extra {
		.wrap { display: block; }
	} }
	@media screen and (max-width: 640px) {
		nav { .navb, .navc, .navd { span:first-of-type, span:last-of-type { display: inline-block; } } }
	}


// Case styles
// ------------------------------------------------------------

body.extra {
	.overview {
		position: relative;
		width: 100%; max-width: 1280px;
		margin: 0 auto;
		padding-left: 6%; padding-right: 6%;
		line-height: 30px; font-size: 18px;
		a { text-decoration: underline; color: $drk; &:hover { color: $drk-l; img { opacity: .6; } } }
		p {
			display: inline-block; vertical-align: top;
			width: 47.5%;
			line-height: 36px; font-size: 20px;
			&:last-of-type { margin-left: 5%; }
		}
		.details {
			@include padding-trailer(1);
			text-align: left;
			div { display: inline-block; vertical-align: top; @include padding-leader(3); @include padding-trailer(0); text-align: left; }
			div:first-of-type { width: 47.5%; margin: 0 1% 0 4%; span { white-space: nowrap; } }
			div:nth-of-type(3n+2) { width: 25%; text-align: left; span { img { opacity: .3 } } }
			div:last-of-type { width: 20%; }
			h6 { @include trailer(.75); margin-right: 10px; font-size: 16px; font-weight: 400; color: $drk; }
			img { margin: 0 0 -5px 0; padding-right: 8px; }
		}
		.live {
			width: 100%;
			@include leader(3);
			text-align: center;
		}
		.button {
			width: 400px;
			margin: 0 auto;
			text-decoration: none;
			&:hover { color: $wht; }
		}
	}
	.mainpiece {
		width: 100%; max-width: 1280px;
		margin: 0 auto;
		@include padding-leader(9); padding-left: 6%; padding-right: 6%;
		div { padding: 0 16% 0 4%; }
		h3 { font-weight: 600; }
		p { font-size: 20px; line-height: 36px; @include trailer(4); }
		a { text-decoration: underline; font-weight: 500; }
		h3:last-of-type { @include leader(5); @include trailer(1); font-size: 36px; }
		p:last-of-type { font-size: 24px; line-height: 48px; }
	}
	.footlink {
		width: 100%;
		@include leader(10);
		padding: 0 4%;
		text-align: center;
		a { text-decoration: underline; font-weight: 500; }
		h4 { @include leader(3); font-weight: 400; color: $drk-l; }
	}
}
@media screen and (max-width: 1180px) { body.extra {
	.phone {
		width: 33%; min-width: 220px;
		img.header { display: none; }
	}
}}
@media screen and (max-width: 1160px) { body.extra {
	.overview {
		.details {
			div:first-of-type { width: 47.5%; margin: 0 5% 0 0; }
		}
	}
} }
@media screen and (max-width: 960px) { body.extra {
	section.work { text-align: left; .info { text-align: left; } }
} }


// Coolhouse styles
// ------------------------------------------------------------

body.coolhouse {
	.base.extra { background: #033f64 url('/coolhouse/images/bg.jpg') no-repeat; }
	header {
		.logo { height: 60%; min-height: 400px; max-height: 500px; img { width: 320px; height: 320px; } }
		.title { height: 39%; min-height: 246px; max-height: 300px; h1 { background: rgba($blk, .6); } }
	}
	.arrowb { @include arrow(24px, #033f64); }
	section.work { box-shadow: 0 -96px 84px -54px #033f64; }
// Header
	header {
		.title {
		}
	}
// Next
	section.next {
		&:hover {
			.peek { background: $red-l; }
			img { @include tmove(0, -24px); }
		}
		img { width: 384px; height: 96px; margin: 66px 0 0 2.5%; }
	}
}

@media screen and (max-width: 640px) { body.coolhouse {
	section.work { box-shadow: 0 -1px 0 0 rgba($blk, .15); }
	.splash { display: none; }
} }



// Fountain styles
// ------------------------------------------------------------

body.fountain {
	width: 100%; max-width: 1280px;
	margin: 0 auto;
	background: $wht;
}
.belowpage {
	position: absolute; top: 840px; z-index: 999;
	width: 1280px; height: 1820px;
	background: url('/fountain/images/page.jpg') $wht;
	@include animate(1s, 7.9s); @include pageup;
}
.ftn-frame {
	position: relative;
	width: 1280px;
	height: 840px;
	margin: 0 auto;
	overflow: hidden;
	background: url('/fountain/images/background.jpg') $wht;
}
.ftn-header {
	position: relative; z-index: 2;
	width: 100%;
	height: 108px;
	.logo { position: absolute; top: 36px; left: 36px; opacity: .7; cursor: pointer; }
	.account { position: absolute; top: 48px; right: 40px; opacity: .5; cursor: pointer; }
}
.ftn-content {
	position: relative; z-index: 2;
	width: 480px;
	height: 420px;
	margin: 108px 0 0 72px;
	div { @include animate(.8s, 1.3s); @include fadeinup; }
	span { @include animate(.8s, 1.3s); @include fadeinup; }
	img { @include animate(.8s, 7.3s); @include fadeoutup; }
	.text { position: absolute; top: 0; left: 0; pointer-events: none; }
	.buttons { position: absolute; bottom: 0; left: 0px; cursor: pointer; }
}
.ftn-hero {
	position: absolute; bottom: 0; right: 0; z-index: 1;
	overflow: visible;
	.canvas { position: relative; width: 860px; height: 720px; overflow: visible; @include tmovescale(.9, 60px, 44px); }
	div {
		position: absolute; bottom: 0;
		&.icard { right: 0; z-index: 5; @include animatereset(.6s, 1.4s); @include icard; }
		&.ilayershadow { left: 0; z-index: 4; @include animate(.4s, 1.7s); @include ilayershadow; }
		&.ienvelope { left: 0; z-index: 3; @include animate(.8s, 1.35s); @include ienvelope; }
		&.icardshadow { right: 0; z-index: 2; @include animate(1.2s, 1.4s); @include icardshadow; }
		&.ienvelopeshadow { left: 0; z-index: 1; @include animate(.8s, 1.35s); @include ienvelopeshadow; }

		&.ocard { right: 0; z-index: 5; }
		&.olayershadow { left: 0; z-index: 4; }
		&.oenvelope { left: 0; z-index: 3; }
		&.ocardshadow { right: 0; z-index: 2; }
		&.oenvelopeshadow { left: 0; z-index: 1; }
	}
	img {
		pointer-events: none;
		&.card {
			height: 692px;
			@include animateinf(5s, 1.2s); @include cardhover; @include atiming(ease-in-out);
		}
		&.layershadow {
			height: 496px;
			@include animateinf(5s, 1.2s); @include layershadowhover; @include atiming(ease-in-out);
		}
		&.envelope {
			height: 496px;
			@include animateinf(7s, 1.2s); @include envelopehover; @include atiming(ease-in-out);
		}
		&.cardshadow {
			height: 692px;
			@include animateinf(7s, 1.2s); @include cardshadowhover; @include atiming(ease-in-out);
		}
		&.envelopeshadow {
			height: 496px;
			@include animateinf(7s, 1.2s); @include envelopeshadowhover; @include atiming(ease-in-out);
		}
	}
}
.ocard { @include animate(.6s, 7.4s); @include ocard; }
.olayershadow { @include animate(.4s, 7.1s); @include olayershadow; }
.oenvelope { @include animate(.8s, 7.45s); @include oenvelope; }
.ocardshadow { @include animate(1.2s, 7.4s); @include ocardshadow; }
.oenvelopeshadow { @include animate(.8s, 7.45s); @include oenvelopeshadow; }


// Showreel styles
// ------------------------------------------------------------

body.showreel {
	background: $drk-d; width: 100%; max-width: 100%; text-align: center;
	.reel {
		margin: 0 auto;
		width: 100%;
		height: 100%;
		video {
			width: 100%; max-width: 1920px;
			height: 100%; max-height: 1080px;
			margin: 0 auto;
			background-color: $drk;
		}
	}
}