section.about
	.arrowb#about
	.head
		h5.caps I have feelings
	.pitch
		h1 I'm all about designing for emotions,<br> so naturally I have a lot of them.
		p I believe that the path to great, truly original creative work starts with living a life full of unique experiences. I believe it needs you to allow yourself to feel deeply, even for the emotions of others. And I believe it requires you to be authentic, and act on your feelings, bypassing the "what will people think?" filter.
		p It's indirect, sure, but I believe that's the source of the inspiration and the character that kind of work comes from. I think that's what it takes to create unique things that people actually feel a connection to. Those things are what I'm working towards. All my design and tech skills are just tools in the toolbox.
	.bfade