section.about.skills
	.arrowb#about
	.head
		h5 I express myself
	.overview
		.detail.two-col
			p.large Identity is a powerful thing. A distinct, authentic personality that flows out of even the tiniest details of a product is what brings it to life and makes people believe in it. A &ldquo;clean, usable interface&rdquo; is only the bare minimum of what a designer can do.
			p.large A designer who creates a truly unique identity and applies it practically across a vast digital platform needs creative firepower, seasoned design ability, and eagerness to get their hands dirty in development. I&rsquo;ve worked relentlessly to become that designer.
		p.lead But there&rsquo;s a couple important things to understand...
	.point
		h5.lead As you may have noticed...
		h2 Some of my work is a little crazy,<br> but always <em>thoughtfully</em> so.
		p There&rsquo;s a time and place for everything. I understand where a more creative, even &lsquo;crazy&rsquo; approach has the potential to achieve project goals in a way nothing else could. I also understand where it&rsquo;s a completely pointless waste of time while something much more simple would&rsquo;ve done just as well.
		p So no, I don&rsquo;t try to do something completely outside of what people are used to with every project, in fact I still enjoy design that needs a more practical focus, and I intend to continue doing that type of work as well.
		p I will admit however, I certainly have a history of intentionally seeking out projects where that more creative, crazy approach is exactly what&rsquo;s needed. That&rsquo;s just my personal creative drive, it&rsquo;s been a part of me as long as I can remember and it wakes up with me every day.
	.point
		h5.lead Which I can do because...
		h2 While I started as just a designer,<br> now I pretty much do <em>everything.</em>
		p Design was my original passion, I strived to be a designer and nothing more for a very long time. As I gained more experience and felt both the joy and heartbreak that comes with suceeding or failing in the creation of something you&rsquo;ve poured your heart into, I cared less about being &lsquo;a designer&rsquo;, and more about being <em>whatever it took to actually create the things I aspired to.</em>
		p With that mindset, I&rsquo;ve expanded my skillset far beyond I&rsquo;d ever thought I even wanted to. Most importantly I&rsquo;ve gradually honed sharp front-end development skills, without which my efforts to push design boundaries would end in miserable failure. These also contribute more than I can express to my abilities in branding, animation, and more.
		p I&rsquo;ve done it all and I do it all, because I see myself simply as <em>someone who creates things.</em> It doesn&rsquo;t mean I need to take over <em>every role</em> in a project, just that I&rsquo;ve done so before and I understand the complete process, allowing me to work with teams even more effectively.
	.point
		h5.lead But the funny thing is that...
		h2 After working with every process<br> there is, I <em>no longer really have one.</em>
		p At this point I&rsquo;ve worked with just about every type of design process there is to see in this field. I&rsquo;ve worked with multiple acclaimed digital agencies, multiple small botique studios, a ridiculous amount of startups both large and small, and of course I&rsquo;ve done a ton of solo freelance work with unlimited variety.
		p I&rsquo;ve learned so much from everything that it&rsquo;s been a while since I&rsquo;ve felt like I needed to fall back on a particular process or strategy for a project. I approach every project within itself, and dynamically adjust how I approach every step based on the situation. I&rsquo;ve found that this flexibility allows for greater results than a rigid process.
		p.lead With that being said, on a more personal note...
	.fade
section.about.story
	.photo
		img(src="/_img/home/aboutbg.jpg")
	.bio
		.point
			h5.lead I&rsquo;ve always believed that...
			h1 Being passionate isn&rsquo;t a cliche. <strong>It&rsquo;s a dope-ass super power.</strong>
			p When I was 16 years-old, I dropped out of high school to go full-time with the freelance design work I was already doing. Since then, I&rsquo;ve moved around the country, worked for a few different agencies, and went through the wringer in the startup world. I now live/work independently between NYC & Chicago.
			p Part of me lives for unique experiences. Having strangers crash at my place through couchsurfing.com, practicing public improv challenges, climbing urban structures, etc. My typical weekend involves skateboarding all over the city covered in glitter and dressed head to toe as Spider-Man, eyes open for opportunities to explore new places and meet new people.
			p I&rsquo;m always open to hearing from anyone interested in working together, but regardless, I&rsquo;d never say no to a chance to meet someone new and climb a tree together or something.
	.head
		h5 Featured in
	ul.cred
		li
			a(href="http://www.creativebloq.com/responsive-web-design/net-awards-2013-top-10-young-designers-3132966", target="_blank")
				img(src="/_img/home/rec-netawards.png")
		li
			a(href="http://www.awwwards.com/best-websites/isaac-paavola-1", target="_blank")
				img(src="/_img/home/rec-awwwards.png")
		li
			a(href="http://www.portfoliotips.co/design-tips-from-isaac-paavolas-portfolio/", target="_blank")
				img(src="/_img/home/rec-ptreview.png")
		li
			a(href="http://abduzeedo.com/sites-week-stripe-squarespace-stories-isaac-paavola-and-more", target="_blank")
				img(src="/_img/home/rec-abduzeedo.png")
		br
		li
			a(href="http://blog.typekit.com/2014/08/01/sites-we-like-kevin-clark-evan-kerrigan-isaac-paavola/", target="_blank")
				img(src="/_img/home/rec-typekit.png")
		li
			a(href="http://www.csswinner.com/details/isaac-paavola/5452/", target="_blank")
				img(src="/_img/home/rec-csswinner.png")
		li
			a(href="http://www.fromupnorth.com/web-design-inspiration-815", target="_blank")
				img(src="/_img/home/rec-fupnorth.png")
		li
			a#newslink
				img(src="/_img/home/rec-dbugle.png")