section.about.skills
	.arrowb#about
	.head
		h5 I have feelings
	.overview
		.detail.two-col
			p.large It's Pride weekend here in Chicago and it's simply wonderful outside. I'll be skating all over the city, taking in the energy. I'll also be finalizing my big 2016 update to this site, and pushing it live by Tuesday. If you're reading this now, check back then!
			p.large It's Pride weekend here in Chicago and it's simply wonderful outside. I'll be skating all over the city, taking in the energy. I'll also be finalizing my big 2016 update to this site, and pushing it live by Tuesday... If you're reading this now, check back then!
		p.lead And I know it seems silly to put up any of this nonsense in the meantime...
	.point
		h5.lead But keep in mind...
		h2 I have no idea what I'm doing yo,<br> I just run around in circles.
		p It's Pride weekend here in Chicago and it's simply wonderful outside. I'll be skating all over the city, taking in the energy. I'll also be finalizing my big 2016 update to this site, and pushing it live by Tuesday... If you're reading this now, check back then!
		p It's Pride weekend here in Chicago and it's simply wonderful outside. I'll be skating all over the city, taking in the energy. I'll also be finalizing my big 2016 update to this site, and pushing it live by Tuesday... If you're reading this now, check back then!
		p.lead And I know it seems silly to put up any of this nonsense in the meantime...
	.point
		h5.lead But that's ok because...
		h2 It's not like you're going to judge<br> me or anything... Right?
		p It's Pride weekend here in Chicago and it's simply wonderful outside. I'll be skating all over the city, taking in the energy. I'll also be finalizing my big 2016 update to this site, and pushing it live by Tuesday... If you're reading this now, check back then!
		p It's Pride weekend here in Chicago and it's simply wonderful outside. I'll be skating all over the city, taking in the energy. I'll also be finalizing my big 2016 update to this site, and pushing it live by Tuesday... If you're reading this now, check back then!
		p.lead And I know it seems silly to put up any of this nonsense in the meantime...
	.point
		h5.lead However I believe that...
		h2 If my heart tells me to upload a<br> thingy now, I must follow it.
		p It's Pride weekend here in Chicago and it's simply wonderful outside. I'll be skating all over the city, taking in the energy. I'll also be finalizing my big 2016 update to this site, and pushing it live by Tuesday... If you're reading this now, check back then!
		p It's Pride weekend here in Chicago and it's simply wonderful outside. I'll be skating all over the city, taking in the energy. I'll also be finalizing my big 2016 update to this site, and pushing it live by Tuesday... If you're reading this now, check back then!
		p.lead OK OK to be ever so slightly more serious for a moment...
	.fade
section.about.story
	.photo
		img(src="/_img/home/aboutbg.jpg")
	.bio
		.point
			h5.lead What I really believe is...
			h1 Being passionate isn't a cliche. <strong>It's a dope-ass super power.</strong>
			p It's Pride weekend here in Chicago and it's simply wonderful outside. I'll be skating all over the city, taking in the energy. I'll also be finalizing my big 2016 update to this site, and pushing it live by Tuesday... If you're reading this now, check back then!
			p It's Pride weekend here in Chicago and it's simply wonderful outside. I'll be skating all over the city, taking in the energy. I'll also be finalizing my big 2016 update to this site, and pushing it live by Tuesday... If you're reading this now, check back then!
			p I'll be finalizing my big 2016 update to this site, and pushing it live by Tuesday... If you're reading this now, check back then!
	.head
		h5 Featured in
	ul.cred
		li
			a(href="http://www.creativebloq.com/responsive-web-design/net-awards-2013-top-10-young-designers-3132966", target="_blank")
				img(src="/_img/home/rec-netawards.png")
		li
			a(href="http://www.awwwards.com/best-websites/isaac-paavola-1", target="_blank")
				img(src="/_img/home/rec-awwwards.png")
		li
			a(href="http://www.portfoliotips.co/design-tips-from-isaac-paavolas-portfolio/", target="_blank")
				img(src="/_img/home/rec-ptreview.png")
		li
			a(href="http://abduzeedo.com/sites-week-stripe-squarespace-stories-isaac-paavola-and-more", target="_blank")
				img(src="/_img/home/rec-abduzeedo.png")
		br
		li
			a(href="http://blog.typekit.com/2014/08/01/sites-we-like-kevin-clark-evan-kerrigan-isaac-paavola/", target="_blank")
				img(src="/_img/home/rec-typekit.png")
		li
			a(href="http://www.csswinner.com/details/isaac-paavola/5452/", target="_blank")
				img(src="/_img/home/rec-csswinner.png")
		li
			a(href="http://www.fromupnorth.com/web-design-inspiration-815", target="_blank")
				img(src="/_img/home/rec-fupnorth.png")
		li
			a#newslink
				img(src="/_img/home/rec-dbugle.png")