section.about
	a#about
	.arrowb
	.head
		h5.caps I have feelings
	.pitch
		h1 I'm all about designing for emotions,<br> so naturally I have a lot of them.
		p I believe that the path to great, truly original creative work starts with living a life full of unique experiences. I believe it needs you to allow yourself to feel deeply, even for the emotions of others. And I believe it requires you to be authentic, and act on your feelings, bypassing the "what will people think?" filter.
		p It's indirect, sure, but I believe that's the source of the inspiration and the character that kind of work comes from. I think that's what it takes to create unique things that people actually feel a connection to. Those things are what I'm working towards. All my design and tech skills are just tools in the toolbox.
	.bfade
section.aboutme
	.bio
		h1 Being passionate isn't a cliche. <strong>It's a dope-ass super power.</strong>
		p When I was 16 years-old, I dropped out of high school to go full-time with the freelance design work I was doing. Since then, I've moved around the country, worked for a few different agencies, and went through the wringer in the startup world. I currently live and work independently between NYC and Chicago.
		p Part of me lives for unique experiences. I invite strangers to crash at my place through couchsurfing.com, practice public improv challenges, and climb urban structures. My typical weekend involves skateboarding all over the city covered in glitter and dressed head to toe as Spider-Man, eyes open for opportunities to explore new places and meet new people.
		p I'm always open to hearing from anyone interested in working together, but regardless, I'd never say no to a chance to meet someone new and climb a tree together or something.
	ul.cred
		h5.caps Featured in
		li
			a(href="http://www.creativebloq.com/responsive-web-design/net-awards-2013-top-10-young-designers-3132966", target="_blank")
				img(src="/images/home/rec-netawards.png", width="292", height="60")
		li
			a(href="http://www.awwwards.com/best-websites/isaac-paavola-1", target="_blank")
				img(src="/images/home/rec-awwwards.png", width="182", height="60")
		li
			a(href="http://www.portfoliotips.co/design-tips-from-isaac-paavolas-portfolio/", target="_blank")
				img(src="/images/home/rec-ptreview.png", width="142", height="60")
		li
			a(href="http://abduzeedo.com/sites-week-stripe-squarespace-stories-isaac-paavola-and-more", target="_blank")
				img(src="/images/home/rec-abduzeedo.png", width="106", height="60")
		br
		li
			a(href="http://blog.typekit.com/2014/08/01/sites-we-like-kevin-clark-evan-kerrigan-isaac-paavola/", target="_blank")
				img(src="/images/home/rec-typekit.png", width="150", height="60")
		li
			a(href="http://www.csswinner.com/details/isaac-paavola/5452/", target="_blank")
				img(src="/images/home/rec-csswinner.png", width="160", height="60")
		li
			a(href="http://www.fromupnorth.com/web-design-inspiration-815", target="_blank")
				img(src="/images/home/rec-fupnorth.png", width="204", height="60")
		li
			a#dbugle-link
				img(src="/images/home/rec-dbugle.png", width="188", height="60")
	.fade
		img(src="/images/home/aboutfade.png")
	.bg
		img(src="/images/home/aboutbg.jpg")