section.contact
	.arrowc#contact
	.head
		h5.caps Talk to me
	.container.method.left
		a(href="mailto:isaac@isaacpvl.com")
			span
				img(src="/images/home/mail.png", width="44", height="44")
				h5 isaac@isaacpvl.com
	.container.method.middle
		a(href="skype:isaacpvl?userinfo", target="_blank")
			span
				span.social g
				h5.skype isaacpvl
	.container.social.right
		a(href="http://twitter.com/isaacpvl", target="_blank")
			span a
		a(href="http://dribbble.com/isaacpvl", target="_blank")
			span D
		a(href="http://linkedin.com/in/isaacpvl", target="_blank")
			span j
	.head.visit
		h5.caps Randomly Visit
		h6 (seriously it'd be dope)
	.container.office
		a(href="https://www.google.com/maps?q=154+Grand+St,+New+York,+New+York,+10013", target="_blank")
			span
				img(src="/images/home/office.png", width="44", height="44")
				h5 154 Grand St 2N-15
		span.digits
			img(src="/images/home/phone.png", width="44", height="44")
			h5 616.558.5203