section.contact
	.arrowc#contact
	.head
		h5 Talk to me
	.col.method
		a(href="mailto:isaac@isaacpvl.com")
			img(src="/_img/home/mail.png", width="44", height="44")
			h4 <strong>isaac</strong>@isaacpvl.com
	.col.method
		a(href="skype:isaacpvl?userinfo", target="_blank")
			span.social g
			h4.skype isaacpvl
	.col.social
		a(href="http://twitter.com/isaacpvl", target="_blank")
			span a
		a(href="http://dribbble.com/isaacpvl", target="_blank")
			span D
		a(href="http://linkedin.com/in/isaacpvl", target="_blank")
			span j
	.head.visit
		h5 Randomly visit
		h6 (seriously it'd be dope)
	.col.office
		a(href="https://www.google.com/maps?q=154+Grand+St,+New+York,+New+York,+10013", target="_blank")
			img(src="/_img/home/office.png", width="44", height="44")
			h4 154 Grand St 2N-15
		span.digits
			img(src="/_img/home/phone.png", width="44", height="44")
			h4 616.558.5203