section.about
	a#about
	.arrowc
	.head
		span
		h5.caps I have feelings
		span
	.pitch
		h1 Etiam mattis lacus est mauris amet,<br>ut aliquam arcu fermentum id eget.
		p Turpis gravida posuere non duis nullam. Elit vel ligula. Est arcu luctus tincidunt vestibulum amet aliquet ligula sit elit vel varius. Et porttitor magna diam fringilla est taciti semper ultrices. Velit suscipit pellentesque. Duis et dolor. Ornare in con. Tristique mattis felis dui pellen enim, felis erat accum ultricies nam.
		p Scelerisque blandit mollis. Est nulla esse sit at neque. Nunc deserunt curabitur proin ut dolor. Feugiat nonummy nulla. Ac sed ante augue nunc placerat. Facilisis sit a mi etiam sed. Ultrices semper quam. Placerat placerat proident mi massa ac dui fermentum vitae eleifend at nec quis.
	.bfade