header
	.wrap.hide
		#tagline.tagline.caps.smile(data-speed="2.75")
			span
				h1
					span#super super
					span#sweet sweet
					span#comma ,
				h1
					span#unique one-of-a-kind
				h1
					span#design digital design
		#speech.speech(data-speed="7")
			span
				.bubble
					h4 now with
					h1 Personality!
					img(src="/images/home/speech.png")
	.wrap.wrapm
		.taglinem.caps
			span
				h1 super sweet,
				h1 one-of-a-kind
				h1 digital design
.push.hide
	.bg