header.hide
	.wrap.hide
		.tagline#tagline(data-speed="3")
			span
				h1
					span#super Super
					span#sweet sweet
					span#comma ,
				h1
					span#unique one-of-a-kind
				h1
					span#design digital design
		.speech#speech(data-speed="4.5")
			span
				.bubble
					h4 now with
					h1 Personality!
					img(src="/_img/home/speech.png")
.push#push