a#home
nav.hide
	.twrap
		ul
			include ../_resource/pvl
			li.navb.caps
				a(data-scroll, data-options="speed: 1000", href="#work")
					span I make stuff
					span Work
			li.navc.caps
				a(data-scroll, data-options="speed: 1000", href="#about")
					span I have feelings
					span About
			li.navd.caps
				a(data-scroll, data-options="speed: 1000", href="#contact")
					span Talk to me
					span Talk
			li.social
				a(href="http://twitter.com/isaacpvl", target="_blank")
					span a
			li.social
				a(href="http://dribbble.com/isaacpvl", target="_blank")
					span D