nav.hide
	ul
		include ../resource/pvl
		li.nav.navb#navb
			a(data-scroll, data-options="speed: 1000", href="#work")
				span I make stuff
				span Work
		li.nav.navc#navc
			a(data-scroll, data-options="speed: 1000", href="#about")
				span I express myself
				span About
		li.nav.navd#navd
			a(data-scroll, data-options="speed: 1000", href="#contact")
				span Talk to me
				span Talk
		li.social
			a(href="http://twitter.com/isaacpvl", target="_blank")
				span a
		li.social
			a(href="http://dribbble.com/isaacpvl", target="_blank")
				span D