section.aboutme
	.bio
		h1 Etiam mattis lacus est sit amet. <strong>Ut aliquam arcu fermentum.</strong>
		p Mauris posuere tempus venenatis placerat vehicula sodales ut cras. Odio lacinia et. Tellus sapien tristique. Sapien orci vivamus nam ultrices lectus. Eu erat ut. Ullamcorper vehicula aliquam adipiscing pede nulla tellus odio aenean pede ac neque. Vitae dictumst lectus. Arcu quam sit commodo odio dolor.
		p Integer sem suscipit ut sit mattis vestibulum at quam pulvinar tortor et quis et id. Sed quisque mauris mi aliquid dapibus. Ut felis et in wisi habitasse etiam vulputate consectetuer. Luctus pellentesque dolor. Phasellus ligula pellentesque asperiores nulla sit. Nibh lorem vitae tristique mollis placerat fringilla pulvin quis et id.
		p Varius maecenas malesuada eum diam fugiat wisi dol praesent. Tortor ipsum porttitor placerat congue, vel risus integer, culpa sit accumsan posuere justo.
	ul.cred
		h5.caps Featured in
		li
			a(href="http://www.creativebloq.com/responsive-web-design/net-awards-2013-top-10-young-designers-3132966", target="_blank")
				img(src="/images/home/rec-netawards.png", width="292", height="60")
		li
			a(href="http://www.awwwards.com/best-websites/isaac-paavola-1", target="_blank")
				img(src="/images/home/rec-awwwards.png", width="182", height="60")
		li
			a(href="http://www.portfoliotips.co/design-tips-from-isaac-paavolas-portfolio/", target="_blank")
				img(src="/images/home/rec-ptreview.png", width="142", height="60")
		li
			a(href="http://abduzeedo.com/sites-week-stripe-squarespace-stories-isaac-paavola-and-more", target="_blank")
				img(src="/images/home/rec-abduzeedo.png", width="106", height="60")
		br
		li
			a(href="http://blog.typekit.com/2014/08/01/sites-we-like-kevin-clark-evan-kerrigan-isaac-paavola/", target="_blank")
				img(src="/images/home/rec-typekit.png", width="150", height="60")
		li
			a(href="http://www.csswinner.com/details/isaac-paavola/5452/", target="_blank")
				img(src="/images/home/rec-csswinner.png", width="160", height="60")
		li
			a(href="http://www.fromupnorth.com/web-design-inspiration-815", target="_blank")
				img(src="/images/home/rec-fupnorth.png", width="204", height="60")
		li
			a#dbugle-link
				img(src="/images/home/rec-dbugle.png", width="188", height="60")
	.fade
		img(src="/images/home/aboutfade.png")
	.bg
		img(src="/images/home/aboutbg.jpg")