section.wall#wall
	.arrowbar#arrow.hide
		.arrow#work
	.head
		h5 I make stuff
	.fade
	.wall
		.fade
			.fill
				img(src="/_img/home/wallposter.jpg")
		video(preload="auto", autoplay="true", loop="loop", muted="muted", poster="/_img/home/wallposter.jpg")
			source(src="/_img/home/wall.webm", type="video/webm")
			//- source(src="/_img/home/wall.mp4", type="video/mp4")