section.workwall
	a#work
	.arrowbar
		.arrowb
	.head
		span
		h5.caps My Stuff
		span
	.fade
	.bg
	.wall
		div
			span
		video(preload="auto", autoplay="true", loop="true", poster="/images/home/wallposter.jpg")
			source(src="/images/home/wall.mp4", type="video/mp4")
			source(src="/images/home/wall.webm", type="video/webm")
			source(src="/images/home/wall-iosp.mp4", type="video/mp4")
section.work
	.bg