section.wall#wall
	.arrowbar.hide
		.arrow#work
	.head
		h5.caps I make stuff
	.fade
	.wall
		.fade
		video(preload="auto", autoplay="true", loop="loop", muted="muted", poster="/images/home/wallposter.jpg")
			source(src="/images/home/wall.mp4", type="video/mp4")
			source(src="/images/home/wall.webm", type="video/webm")
			source(src="/images/home/wall-iosp.mp4", type="video/mp4")