section.work
	include projects/threadmeup
	include projects/dostoros
	include projects/coolhouse
	include projects/huddlepass
	.head
		h5 Also check out...
	include projects/recent
	include projects/past
	include projects/shots