section.work
	.bg
	include projects/threadmeup
	include projects/dostoros
	include projects/coolhouse
	include projects/huddlepass
	include projects/recent
	include projects/past
	include projects/shots