doctype html
html
	head
		title Isaac Paavola | Toggle TV
		include ../../resource/head

	body.project.toggle
		.twrap
			a#project
			include ../../projects/toggle
		include ../../resource/base

	include ../../resource/loader

	script(src="/_scripts/plugins.js")
	script(src="/_scripts/project.js")