.project
	.shield.small
		img(src="/images/2old2play/2old2play.jpg")
	a.studylink(data-pathname="2old2play")
		.preview.pright
			.browser
				.top
					ul
						li
						li
						li
					span life.is
				img(src="/images/2old2play/2old2play.jpg")
	.info.ileft
		h1 2Old2Play
		.role
			h6.caps Role:
			div
				span aliquam eget lectus
		p Nulla pharetra sagittis metus quisque luctus ipsum turpis, nec placerat sapien sodales vel, phasellus ac quam tempus luctor id.
		a.button.studylink(data-pathname="2old2play") Button text