.project
	.shield.small
		img(src="/images/coolhouse/fountain.jpg")
	a.studylink(data-pathname="coolhouse")
		.preview.pleft
			.multibrowser.cycle.stepa
				.browser.stack.stacka
					.top
						ul
							li
							li
							li
						span fountaingreetings.com
					img(src="/images/coolhouse/fountain.jpg")
				.browser.stack.stackb
					.top
						ul
							li
							li
							li
						span localfu.com
					img(src="/images/coolhouse/localfu.jpg")
				.browser.stack.stackc
					.top
						ul
							li
							li
							li
						span outdoors.io
					img(src="/images/coolhouse/outdoors.jpg")
				.browser.stack.stackd
					.top
						ul
							li
							li
							li
						span rexpethealth.com
					img(src="/images/coolhouse/rex.jpg")
				.browser.under
					.top
						ul
							li
							li
							li
						span coolhouselabs.com
					img(src="/images/coolhouse/localfu.jpg")
	.info.iright
		h1 Coolhouse
		.role
			h6.caps Role:
			div
				span aliquam eget lectus
		p Nulla pharetra sagittis metus quisque luctus ipsum turpis, nec placerat sapien sodales vel, phasellus ac quam tempus luctor id.
		a.button.studylink(data-pathname="coolhouse") Button text