.project.offset
	.shield
		img(src="/images/dostoros/dostoros.jpg")
	a.studylink(data-pathname="dostoros")
		.preview.pright
			.phone
				.top
					.camera
						span
					.speaker
						span
				img(src="/images/dostoros/dostorosb.jpg")
				.bottom
					div
						span
			.browser.cond
				.top
					ul
						li
						li
						li
					span dostoros.com
				img(src="/images/dostoros/dostoros.jpg")
	.info.ileft
		h1 Dos Toros
		.role
			h6.caps Role:
			div
				span storyteller <em>(deal with it <a class="texta" href="https://youtu.be/UlkIVIau1Nk", target="_blank">sagmeister</a>)</em>
		p Nulla pharetra sagittis metus quisque luctus ipsum turpis, nec placerat sapien sodales vel, phasellus ac quam tempus luctor id.
		a.button.studylink(data-pathname="dostoros") Button text
		a.button.livelink(href="http://dostoros.com", target="_blank") Button text