.project
	.shield.small
		img(src="/images/gennutrition/gennutrition.jpg")
	a.studylink(data-pathname="gennutrition")
		.preview.pright
			.browser
				.top
					ul
						li
						li
						li
					span life.is
				img(src="/images/gennutrition/gennutrition.jpg")
	.info.ileft
		h1 Gen. Nutrition
		.role
			h6.caps Role:
			div
				span aliquam eget lectus
		p Nulla pharetra sagittis metus quisque luctus ipsum turpis, nec placerat sapien sodales vel, phasellus ac quam tempus luctor id.
		a.button.studylink(data-pathname="gennutrition") Button text