.head
	span
	h5.caps Also check out
	span
.project
	.shield.small
		img(src="/images/recent/vouch.jpg")
	a(data-pathname="recent")
		.preview.pright
			.multibrowser.cycle.stepa
				.browser.stack.stacka
					.top
						ul
							li
							li
							li
						span localhost:8000
					img(src="/images/recent/analytics8.jpg")
				.browser.stack.stackb
					.top
						ul
							li
							li
							li
						span localhost:8000
					img(src="/images/recent/vouch.jpg")
				.browser.stack.stackc
					.top
						ul
							li
							li
							li
						span localhost:8000
					img(src="/images/recent/stump.jpg")
				.browser.stack.stackd
					.top
						ul
							li
							li
							li
						span localhost:8000
					img(src="/images/recent/justcapital.jpg")
				.browser.under
					.top
						ul
							li
							li
							li
						span isaacpvl.com
					img(src="/images/recent/vouch.jpg")
	.info.more.ileft
		//- h6.caps OMGNEW<span>!!!</span>
		h1 What I've been<br> up to recently
		p A more casual place for me to throw up a few quick looks of newer things I've been on, even if unorganized or unfinished.
		a.button.disabled(data-pathname="recent") Coming Soon