.head
	span
	h5.caps More of my work
	span
.project
	.shield.small
		img(src="/images/recent/vouch.jpg")
	a.studylink(data-pathname="recent")
		.preview.pright
			.multibrowser.cycle.stepa
				.browser.stack.stacka
					.top
						ul
							li
							li
							li
						span analytics8.com
					img(src="/images/recent/analytics8.jpg")
				.browser.stack.stackb
					.top
						ul
							li
							li
							li
						span vouch.com
					img(src="/images/recent/vouch.jpg")
				.browser.stack.stackc
					.top
						ul
							li
							li
							li
						span stump.social
					img(src="/images/recent/stump.jpg")
				.browser.stack.stackd
					.top
						ul
							li
							li
							li
						span justcapital.com
					img(src="/images/recent/justcapital.jpg")
				.browser.under
					.top
						ul
							li
							li
							li
						span isaacpvl.com
					img(src="/images/recent/vouch.jpg")
	.info.more.ileft
		h6.caps OMGNEW<span>!!!</span>
		h1 What I've been<br>up to recently.
		p Sed convallis mollis eros vel sagittis neque tristique ut, phasellus libero arcu imperdiet ut purus vitae.
		a.button.studylink(data-pathname="recent") Button text