.project.offset
	.shield
		img(src="/images/socialcrunch/socialcrunch.jpg")
	a.studylink(data-pathname="socialcrunch")
		.preview.pleft
			.phone.right
				.top
					.camera
						span
					.speaker
						span
				img(src="/images/socialcrunch/socialcrunchb.jpg")
				.bottom
					div
						span
			.browser.cond
				.top
					ul
						li
						li
						li
					span socialcrunch.com
				img(src="/images/socialcrunch/socialcrunch.jpg")
	.info.iright
		h1 SocialCrunch
		.role
			h6.caps Role:
			div
				span aliquam eget lectus
		p Nulla pharetra sagittis metus quisque luctus ipsum turpis, nec placerat sapien sodales vel, phasellus ac quam tempus luctor id.
		a.button.studylink(data-pathname="socialcrunch") Button text