doctype html
html
	head
		title Isaac Paavola | ThreadMeUp
		link(rel="stylesheet", href="/_styles/project.css")
		link(rel="stylesheet", href="/_styles/style.css")
		include ../../_resource/head
		script(src="/_scripts/loaderp.js")

	body.project.tmu
		a#project
		include ../../projects/threadmeup
		.base
		.base.project

	include ../../_resource/loader

	script(src="/_scripts/project.js")