

// Color palette
// ------------------------------------------------------------

// primary
	$red							: #d12b52;
	$red-l							: #ff577e;
	$red-d							: #941f3a;
	$red-n							: rgba($red, 0);

// secondary
	$blu							: #1589d6;
	$blu-l							: #45aef5;
	$blu-m1							: #0e78bf;
	$blu-m2							: #096daf;
	$blu-m3							: #0a6fb1;
	$blu-d							: #0768a8;
	$blu-n							: rgba($blu, 0);

// light
	$lgt							: #edf4f5;
	$lgt-l							: #fff;
	$lgt-d							: #c6cbcc;
	$lgt-n							: rgba($lgt, 0);

// dark
	$drk							: #666;
	$drk-l							: #999;
	$drk-d							: #333;
	$drk-n							: rgba($drk, 0);


// black & white scales
	$blk    						: #000;
	$wht    						: #fff;

	$blk-95  						: rgba($blk, 0.95);
	$blk-9  						: rgba($blk, 0.9);
	$blk-85  						: rgba($blk, 0.85);
	$blk-8  						: rgba($blk, 0.8);
	$blk-75  						: rgba($blk, 0.75);
	$blk-7  						: rgba($blk, 0.7);
	$blk-65  						: rgba($blk, 0.65);
	$blk-6  						: rgba($blk, 0.6);
	$blk-55  						: rgba($blk, 0.55);
	$blk-5  						: rgba($blk, 0.5);
	$blk-45  						: rgba($blk, 0.45);
	$blk-4  						: rgba($blk, 0.4);
	$blk-35  						: rgba($blk, 0.35);
	$blk-3  						: rgba($blk, 0.3);
	$blk-25  						: rgba($blk, 0.25);
	$blk-2  						: rgba($blk, 0.2);
	$blk-15  						: rgba($blk, 0.15);
	$blk-1  						: rgba($blk, 0.1);
	$blk-05  						: rgba($blk, 0.05);
	$blk-0  						: rgba($blk, 0);
	$blk-0  						: rgba($blk, 0);

	$wht-95  						: rgba($wht, 0.95);
	$wht-9  						: rgba($wht, 0.9);
	$wht-85  						: rgba($wht, 0.85);
	$wht-8  						: rgba($wht, 0.8);
	$wht-75  						: rgba($wht, 0.75);
	$wht-7  						: rgba($wht, 0.7);
	$wht-65  						: rgba($wht, 0.65);
	$wht-6  						: rgba($wht, 0.6);
	$wht-55  						: rgba($wht, 0.55);
	$wht-5  						: rgba($wht, 0.5);
	$wht-45  						: rgba($wht, 0.45);
	$wht-4  						: rgba($wht, 0.4);
	$wht-35  						: rgba($wht, 0.35);
	$wht-3  						: rgba($wht, 0.3);
	$wht-25  						: rgba($wht, 0.25);
	$wht-2  						: rgba($wht, 0.2);
	$wht-15  						: rgba($wht, 0.15);
	$wht-1  						: rgba($wht, 0.1);
	$wht-05  						: rgba($wht, 0.05);
	$wht-0  						: rgba($wht, 0);
