extends ../html/layout-study

block title
	title Isaac Paavola | HuddlePass

block body
	body.study.hpass

block header
	nav
		ul
			li#nava.nava
				a.initials.caps(href="#home")
					span P
					div
					span V
					div
					span L
				a.lastname.caps
					div
					span A
					span A
					div
					span O
					div
					span A
				h6 Isaac Paavola's creative
				h6 and design adventures!
			li.navb.caps
				a.nextstudy(data-nextstudy="dostoros")
					span &#8249;
					| Last thingy
			li.navc.caps
				a.nextstudy(data-nextstudy="socialcrunch")
					| Next thingy
					span &#8250;
	header
		.wrap
			.logo
				span#logo(data-speed="5.55")
					img.fadeindownb(src="/images/huddlepass/logo.png")
			.title
				span#title(data-speed="2.85")
					h1.fadeinup Herding all these fans into huddles with insiders.
	.push
		div

block overview
	.head
		span.fadeinleft
		h5.caps.fadeinup Overview
		span.fadeinright
	.wrap.hidden
		.overview
			.detail.single
				p I designed a place for fans who just can't consume enough about their teams to be on the inside with the coaches and players.
			.context
				div
					h6.caps My Role:
					p sports reporter
				div
					h6.caps When:
					p late 2013
				div
					h6.caps With:
					p just me, freelancing

block content
	.itemhead.small
		h2 Huddle communities
			span
	.visual.full
		.browser.large
			.top
				ul
					li
					li
					li
				span huddlepass.com/isu/football
			video(preload="auto", autoplay="true", loop="true", poster="/images/huddlepass/hpass-huddles-poster.jpg")
				source(src="/images/huddlepass/hpass-huddles.webm", type="video/webm")
				source(src="/images/huddlepass/hpass-huddles.mp4", type="video/mp4")
	.itemhead.small
		h2 Huddle community feed
			span
	.visual
		.browser.large
			.top
				ul
					li
					li
					li
				span huddlepass.com/isu/football
			img(src="/images/huddlepass/hpass-01.jpg")
	.itemhead.small
		h2 Landing page
			span
	.visual
		.browser.large
			.top
				ul
					li
					li
					li
				span huddlepass.com
			img(src="/images/huddlepass/hpass-02.jpg")
	.itemhead.small
		h2 Responsive for mobile
			span
	.visual.multiphone
		.phone
			.top
				.camera
					span
				.speaker
					span
			img.header(src="/images/huddlepass/hpass-04h.png")
			.frame.scroll
				img(src="/images/huddlepass/hpass-04.jpg")
			.bottom
				div
					span
		.phone
			.top
				.camera
					span
				.speaker
					span
			.frame.scroll.app
				img(src="/images/huddlepass/hpass-05.jpg")
			.bottom
				div
					span
		.phone
			.top
				.camera
					span
				.speaker
					span
			img.header(src="/images/huddlepass/hpass-04h.png")
			.frame.scroll
				img(src="/images/huddlepass/hpass-06.jpg")
			.bottom
				div
					span
	.itemhead.small
		h2 UI kit & style guide
			span
	.visual
		.shot
			img(src="/images/huddlepass/hpass-03.jpg")
	.footlink
		p you can also check out <a class="texta" href="https://dribbble.com/isaacpvl/projects/173459-HuddlePass", target="_blank">this project on dribbble</a>

block next
	section.next.scrunch.nextstudy(data-nextstudy="socialcrunch")
		.head
			h5.caps Next thingy
		.peek
			img(src="/images/socialcrunch/logo.png")
		.peekbg
