
block nav
	nav.hide
		ul
			include ../resource/pvl
			li.nav.navb#navb
				a#navlink(data-pathname="dostoros")
					span &#8249;
					| Prev
			li.nav.navc#navc
				a#navlink(data-pathname="huddlepass")
					| Next
					span &#8250;

block header
	header.hide
		.wrap
			.logo
				span#logo(data-speed="5.55")
					img(src="/_img/coolhouse/logo.png")
			.title
				span#title(data-speed="2.85")
					h1 A full-scale design team for a whole cohort of startups.
		.fade
		.slide
	.push#push

block work
	section.work.bgfade#content
		.arrowbar.hide#arrow
			.arrow#work
		.head
			h5 Overview
		.overview
			.detail.two-col
				p Other than being located in a coastal, northern Michigan resort town, Coolhouse Labs is an accelerator much like many others. The campers were 8 startup teams, and I left the big city for the summer to help them. <em>Especially with gaining the interest of investors and potential users.</em>
				p I learned about them and their missions and found the right voice for their brands. I designed the structure and interfaces that made sense to build as their first version products. I showed off their potential through landing pages and prototypes of the future.
			.context
				div
					h6 Role:
					p camp counselor
				div
					h6 When:
					p summer 2014 
						i (3-month program)
				div
					h6 With:
					p Coolhouse Labs 
						i (accelerator)
		.itemhead
			h2 Showreel
		.visual.fout.vport.premier.zoom
			.shot
				video#video(preload="auto", poster="/_img/coolhouse/showreel-poster.jpg")
					source(src="/_img/coolhouse/showreel.webm", type="video/webm")
					source(src="/_img/coolhouse/showreel.mp4", type="video/mp4")
				.fin
		.detail
			p After 6 full weeks of the program (the halfway point) I created a showreel for Coolhouse Labs itself to use to impress its own investors (it worked.) However, it features the design work that had been done so far on each of the startups themselves, showing off the new brands alongside prototypes of the in-progress, soon-to-be products.
			p I should note, I had next to nothing to do with the last couple projects in the video, especially Cotalented and LeaseMaid. Their need for my help wasn&rsquo;t nearly as heavy. <em class="sidenote">(or else I would&rsquo;ve died.)</em>
		.itemhead
			h2 Localfu
		.visual.fout.vport.premier
			.browser.large
				.top
					ul
						li
						li
						li
					span localfu.com
				video(autoplay="true", controls="true", preload="auto", loop="loop", muted="muted", poster="/_img/coolhouse/localfu-landing-poster.jpg")
					source(src="/_img/coolhouse/localfu-landing.webm", type="video/webm")
					source(src="/_img/coolhouse/localfu-landing.mp4", type="video/mp4")
				.fin
		.detail
			p Now this is a weird one, for which I designed an appropriately weird brand. Localfu gets you talking with a likeminded local of the place you&rsquo;re traveling to, with an interface to plan your trip around their advice.
			p The landing page cycles between the different &lsquo;fu&rsquo; characters, each who provides advice in the form of the app&rsquo;s actual UI elements. The goal was to communicate the concept of Localfu in a way that&rsquo;s so interesting people would actually give it a try.
			p It&rsquo;s all CSS animation. Yep, completely. That&rsquo;s just a screencap of a browser. I only built the scene though, and handed it off to the team to put into the real build. You can <a href="http://isaacpvl.com/localfu" target="_blank">check out my prototype version</a> anyways.
		.visual.single.premier
			.browser
				.top
					ul
						li
						li
						li
					span localfu.com
				video(autoplay="true", controls="true", preload="auto", loop="loop", muted="muted", poster="/_img/coolhouse/localfu-cities-poster.jpg")
					source(src="/_img/coolhouse/localfu-cities.webm", type="video/webm")
					source(src="/_img/coolhouse/localfu-cities.mp4", type="video/mp4")
		.detail
			p Down the page, I highlight users from popular destinations, where you can see the brand carry further into the UI. However the motion I added above was just a little eye-candy for their promotionals.
			a.button(href="http://isaacpvl.com/localfu", target="_blank") View The Prototype
		.itemhead
			h2 Rex Pet Health
		.visual.fout.vport.premier
			.browser.large
				.top
					ul
						li
						li
						li
					span rexpethealth.com/search
				video(autoplay="true", controls="true", preload="auto", loop="loop", muted="muted", poster="/_img/coolhouse/rex-search-poster.jpg")
					source(src="/_img/coolhouse/rex-search.webm", type="video/webm")
					source(src="/_img/coolhouse/rex-search.mp4", type="video/mp4")
				.fin
		.detail
			p Rex is more straightforward. Basically ZocDoc for pets (ZocDog if you will,) it&rsquo;s something people don&rsquo;t have to be convinced they want to use. And with no established competition, I just needed to design the product that would make it an instant winner in the space.
			p The search results (or simply browse) page was easily the most important, so I got feedback from a lot of different types of pet owners about what would be important to them in order to structure it this way.
		.visual.single.zoom
			.browser
				.top
					ul
						li
						li
						li
					span rexpethealth.com/practice/heart-of-bklyn
				img(src="/_img/coolhouse/rex-practice-vet.gif")
		.detail
			p A crucial need for them was to convince investors and especially potential partners in the vet industry that Rex was the most promising product being made to dominate the space. We talked with industry insiders to make sure it did the things they&rsquo;d care most about well, and I made a motion presentation of the core experience to show off.
		.itemhead
			h2 Outdoors.io
		.visual.fout.vport.premier
			.browser.large
				.top
					ul
						li
						li
						li
					span outdoors.io
				video(autoplay="true", controls="true", preload="auto", loop="loop", muted="muted", poster="/_img/coolhouse/outdoors-landing-poster.jpg")
					source(src="/_img/coolhouse/outdoors-landing.webm", type="video/webm")
					source(src="/_img/coolhouse/outdoors-landing.mp4", type="video/mp4")
				.fin
		.detail
			p Outdoors.io isn&rsquo;t just about renting gear from owners, it&rsquo;s about something broader: enabling and sharing outdoor experiences. Hence my logo design, get it? They open doors to the outdoors! But yeah, you can reserve not just equipment, but also the owner&rsquo;s time and experience to take you on an adventure with it.
		.visual.single.zoom
			.shot
				img(src="/_img/coolhouse/outdoors-gear.jpg")
		.detail
			p I built them a nice landing page and a front-end kit that includes crucial UI elements and a style guide to go along with the brand.
			a.button(href="http://isaacpvl.com/outdoors", target="_blank") View The Front-End
		.footlink

block next
	section.next.hide.huddlepass#navlink(data-pathname="huddlepass")
		.head
			h5 Next Project
		.peek#next
			img(src="/_img/huddlepass/logo.png")
