
block nav
	nav.hide
		ul
			include ../resource/pvl
			li.nav.navb#navb
				a#navlink(data-pathname="threadmeup")
					span &#8249;
					| Prev
			li.nav.navc#navc
				a#navlink(data-pathname="coolhouse")
					| Next
					span &#8250;

block header
	header.hide
		.wrap
			.logo
				span#logo(data-speed="5.55")
					img(src="/_img/dostoros/logo.png")
			.title
				span#title(data-speed="2.85")
					h1 A restaurant site as off the wall as its owners & culture.
		.fade
		.slide
	.push#push

block work
	section.work.bgfade
		.arrowbar#arrow.hide
			.arrow#work
		.head
			h5 Overview
		.overview
			.detail.two-col
				p Leo and Oliver Kremer are genuinely, fiercely passionate about their Mexican food. Before them, I thought there wasn&rsquo;t a restaurant site in the world I&rsquo;d want to do. Well I was wrong, because Dos Toros revolves around a true culture that isn&rsquo;t about selling burritos.
				p Their primary goal with the site was to tell their story and express the truly weird but passionate culture they have, they just had no idea how. That&rsquo;s where I came in, working closely with them and leading the design from first concepts to the full launched site.
			.context
				div
					h6 Role:
					p storyteller 
						i (deal with it <a href="https://youtu.be/UlkIVIau1Nk", target="_blank">sagmeister</a>)
				div
					h6 When:
					p early 2015
				div
					h6 With:
					p Metronome3 
						i (agency)
			.live
				a.button(href="http://dostoros.com", target="_blank") Visit The Live Site
		.itemhead
			h2 A Tale of<br> Two Brothers
		.visual.fout.vport.premier
			.browser.large
				.top
					ul
						li
						li
						li
					span dostoros.com
				video(autoplay="true", controls="true", preload="auto", loop="loop", muted="muted", poster="/_img/dostoros/dostoros-totb-poster.jpg")
					source(src="/_img/dostoros/dostoros-totb.webm", type="video/webm")
					source(src="/_img/dostoros/dostoros-totb.mp4", type="video/mp4")
				.fin
		.detail
			p Dos Toros started with two brothers who set out on a mission of passion, and I framed the homepage as &lsquo;A Tale of Two Brothers&rsquo; to tell their story. It goes on to explain how they went about their mission...
			p The whole page heavily utilizes scrolling in some crazy ways. Some pretty awesome animation sequences happen completely based on scroll. With the help of M3&rsquo;s developers (who built the site,) I was able to work directly in the front-end in order to get the details of these animation sequences right, and balance the pacing of the story as I saw fit.
		.visual.two-col
			.browser.small
				.top
					ul
						li
						li
						li
					span dostoros.com
				video(autoplay="true", controls="true", preload="auto", loop="loop", muted="muted", poster="/_img/dostoros/dostoros-view-guac-poster.jpg")
					source(src="/_img/dostoros/dostoros-view-guac.webm", type="video/webm")
					source(src="/_img/dostoros/dostoros-view-guac.mp4", type="video/mp4")
			.browser.small
				.top
					ul
						li
						li
						li
					span dostoros.com
				img(src="/_img/dostoros/dostoros-view-chop.jpg")
		.visual.two-col.quad
			.browser.small
				.top
					ul
						li
						li
						li
					span dostoros.com
				img(src="/_img/dostoros/dostoros-view-meats.jpg")
			.browser.small
				.top
					ul
						li
						li
						li
					span dostoros.com
				video(autoplay="true", controls="true", preload="auto", loop="loop", muted="muted", poster="/_img/dostoros/dostoros-view-culture-poster.jpg")
					source(src="/_img/dostoros/dostoros-view-culture.webm", type="video/webm")
					source(src="/_img/dostoros/dostoros-view-culture.mp4", type="video/mp4")
		.detail
			p What I love about those two is shown in their goals for the site. The normal business goals you&rsquo;d expect all come second, because what they really care about is expressing their true story, and their real culture.
			p They believe that in the long run, an authentic brand that stays true to a unique personality will impact their success more than anything. I think that&rsquo;s extremely wise of them.
		.visual.fout.multiphone
			.phone
				.top
					.camera
						span
					.speaker
						span
				img.header(src="/_img/dostoros/dostoros-mobile-header.png")
				.frame.scroll
					img(src="/_img/dostoros/dostoros-mobile-01.jpg")
				.bottom
					div
						span
			.phone
				.top
					.camera
						span
					.speaker
						span
				img.header(src="/_img/dostoros/dostoros-mobile-header.png")
				.frame.scroll
					img(src="/_img/dostoros/dostoros-mobile-02.jpg")
				.bottom
					div
						span
			.phone
				.top
					.camera
						span
					.speaker
						span
				img.header(src="/_img/dostoros/dostoros-mobile-header.png")
				.frame.scroll
					img(src="/_img/dostoros/dostoros-mobile-03.jpg")
				.bottom
					div
						span
			.fin
		.itemhead
			h3 Locations page
		.visual.fout.vport.zoom
			.browser.large
				.top
					ul
						li
						li
						li
					span dostoros.com/locations
				img(src="/_img/dostoros/dostoros-locations.gif")
				.fin
		.itemhead
			h3 Menu page
		.visual.fout.vport.zoom
			.browser.large
				.top
					ul
						li
						li
						li
					span dostoros.com/menu
				img(src="/_img/dostoros/dostoros-menu.jpg")
				.fin
		.detail
			p I can&rsquo;t show off how different the tale of two brothers homepage is here. You really gotta scroll it for yourself.
			a.button(href="http://dostoros.com", target="_blank") Visit The Live Site
		.footlink

block next
	section.next.hide.coolhouse#navlink(data-pathname="coolhouse")
		.head
			h5 Next Project
		.peek#next
			img(src="/_img/coolhouse/logo.png")
		.peekbg
