
block nav
	nav.hide
		ul
			include ../_resource/pvl
			li.navb.caps
				a.navlink(data-pathname="coolhouse")
					span &#8249;
					| Last Project
			li.navc.caps
				a.navlink(data-pathname="socialcrunch")
					| Next Project
					span &#8250;

block header
	header.hide
		.wrap
			.logo
				span#logo(data-speed="5.55")
					img(src="/images/huddlepass/logo.png")
			.title
				span#title(data-speed="2.85")
					h1 Putting fans inside the huddle with their coaches and players.
		.fade
		.slide
	.push

block work
	section.work.bgfade
		.arrowbar.hide
			.arrow
		.head
			h5.caps Overview
		.wrap
			.overview
				//- .detail.two-col
				//- 	p Ullamcorper vel integer et condimentum vitae. Elit felis in. Commodo leo odio faucibus a nunc. Neque tempus luctus at tellus platea turpis etiam porta vel amet et. Dolor neque ipsum. Feugiat delectus lobortis vestibulum libero non vitae adipiscing tempor pede wisi nunc vitae.
				//- 	p Id varius pellentesque. Aliquet velit ut blandit pulvinar urna. In accumsan ipsum. Cursus et morbi. Nulla commodo vitae. Tellus urna in dictumst fringilla id laoreet felis cras mattis cursus congue. Voluptates consequat elit dui pellentesque sapien gravida in.
				.detail
					p I designed a community platform for the fans who just can't get enough and want to be on the inside with coaches and players.
				.context
					div
						h6.caps My Role:
						p web/UI design & brand
					div
						h6.caps When:
						p late 2013
					div
						h6.caps With:
						p just me, freelancing
		.itemhead
			h2 Huddle communities
		.visual.full
			.browser.large
				.top
					ul
						li
						li
						li
					span huddlepass.com/isu/football
				video(preload="auto", autoplay="true", loop="loop", muted="muted", poster="/images/huddlepass/hpass-huddles-poster.jpg")
					source(src="/images/huddlepass/hpass-huddles.webm", type="video/webm")
					source(src="/images/huddlepass/hpass-huddles.mp4", type="video/mp4")
		.itemhead
			h3 Huddle community feed
		.visual
			.browser.large
				.top
					ul
						li
						li
						li
					span huddlepass.com/isu/football
				img(src="/images/huddlepass/hpass-01.jpg")
		.itemhead
			h3 Landing page
		.visual
			.browser.large
				.top
					ul
						li
						li
						li
					span huddlepass.com
				img(src="/images/huddlepass/hpass-02.jpg")
		.itemhead
			h3 Responsive for mobile
		.visual.multiphone
			.phone
				.top
					.camera
						span
					.speaker
						span
				img.header(src="/images/huddlepass/hpass-04h.png")
				.frame.scroll
					img(src="/images/huddlepass/hpass-04.jpg")
				.bottom
					div
						span
			.phone
				.top
					.camera
						span
					.speaker
						span
				.frame.scroll.app
					img(src="/images/huddlepass/hpass-05.jpg")
				.bottom
					div
						span
			.phone
				.top
					.camera
						span
					.speaker
						span
				img.header(src="/images/huddlepass/hpass-04h.png")
				.frame.scroll
					img(src="/images/huddlepass/hpass-06.jpg")
				.bottom
					div
						span
		.itemhead
			h3 UI kit & style guide
		.visual
			.shot
				img.frame(src="/images/huddlepass/hpass-03.jpg")
		.footlink
			p you can also check out <a class="texta" href="https://dribbble.com/isaacpvl/projects/173459-HuddlePass", target="_blank">this project on dribbble</a>

block next
	//- section.next.recent.navlink(data-pathname="recent")
		.head
			h5.caps Also check out
		.peek
			h1 Just recently...
		.peekbg
	section.next.socialcrunch.navlink(data-pathname="socialcrunch")
		.head
			h5.caps Next Project
		.peek
			img(src="/images/socialcrunch/logo.png")
		.peekbg
