
block nav
	nav.dark.hide
		ul
			include ../resource/pvl
			li.nav.navb#navb
				a#navlink(data-pathname="socialcrunch")
					span &#8249;
					| Prev
			li.nav.navc#navc
				a#navlink(data-pathname="overdog")
					| Next
					span &#8250;

block header
	header.dark.hide
		.wrap
			.logo
				span#logo(data-speed="5.55")
					img(src="/_img/lifeis/logob.gif")
			.title
				span#title(data-speed="2.85")
					h1 Branding the feeling of life into a web magazine.
		.lifebg
			img(src="/_img/lifeis/bg.png")
		.fade
		.slide
	.push#push

block work
	section.work.bgfade
		.arrowbar#arrow.hide
			.arrow#work
		.head
			h5 Overview
		.overview
			.detail
				p I did a happy feel-good brand for this new e-magazine and fundraising platform, and then carried those vibes onto the web.
			.context
				div
					h6 My Role:
					p web design & brand
				div
					h6 When:
					p late 2013
				div
					h6 With:
					p just me 
						i (freelancing)
		.itemhead
			h3 Brand & landing page
		.visual.fout.vport.premier
			.browser.large
				.top
					ul
						li
						li
						li
					span life.is
				video(autoplay="true", controls="true", preload="auto", loop="loop", muted="muted", poster="/_img/lifeis/life-menu-poster.jpg")
					source(src="/_img/lifeis/life-menu.webm", type="video/webm")
					source(src="/_img/lifeis/life-menu.mp4", type="video/mp4")
				.fin
		.visual.two-col.gap
			.shot.small
				img(src="/_img/lifeis/life-brand.gif")
			.shot.small
				img(src="/_img/lifeis/life-landing.jpg")
		.itemhead
			h3 Community<br> fundraiser page
		.visual.fout.zoom
			.browser.large
				.top
					ul
						li
						li
						li
					span life.is/fundraiser/ny-community-garden
				img(src="/_img/lifeis/life-03.jpg")
				.fin
		.itemhead
			h3 Fundraiser item<br> purchase page
		.visual.fout.zoom
			.browser.large
				.top
					ul
						li
						li
						li
					span life.is/fundraiser/ny-community-garden#buy
				img(src="/_img/lifeis/life-04.jpg")
				.fin
		.footlink
			p You can also check out <a href="https://dribbble.com/isaacpvl/projects/167510-life-is", target="_blank">this project on dribbble</a>

block next
	section.next.hide.overdog#navlink(data-pathname="overdog")
		.head
			h5 Next Project
		.peek#next
			img(src="/_img/overdog/logo.png")
