
block nav
	nav.hide
		ul
			include ../resource/pvl
			li.nav.navb#navb
				a#navlink(data-pathname="recent")
					span &#8249;
					| Prev
			li.nav.navc#navc
				a#navlink(data-pathname="socialcrunch")
					| Next
					span &#8250;

block header
	header.more.hide
		.wrap
			.logo#logo
			.title
				span#title(data-speed="2.85")
					h1 More projects I&rsquo;ve<br> done from the past.
		.splash
			.splashfade
				img(src="/_img/home/splashfadeblu.png")
			.vid
				video(preload="auto", autoplay="true", loop="true", muted="muted", poster="/_img/home/wallposter.jpg")
					source(src="/_img/home/wall.webm", type="video/webm")
					source(src="/_img/home/wall.mp4", type="video/mp4")
		.fade
		.slide
	.push#push

block work
	section.work.bgfade
		.arrowbar#arrow.hide
			.arrow#work
		.head
			h5 Basically...
		.overview
			.detail
				p This is a separate place for a bunch of random older projects from over 2 years ago that I keep around because why not.
		include ../home/projects/socialcrunch
		include ../home/projects/lifeis
		include ../home/projects/overdog
		include ../home/projects/gennutrition
		include ../home/projects/2old2play
		include ../home/projects/toggle
		.footlink
			p You can also check out what I&rsquo;ve <a href="https://dribbble.com/isaacpvl", target="_blank">put up on dribbble</a>

block next
	section.next.hide.socialcrunch#navlink(data-pathname="socialcrunch")
		.head
			h5 Next Project
		.peek#next
			img(src="/_img/socialcrunch/logo.png")
		.peekbg
