
block nav
	nav.hide
		ul
			include ../_resource/pvl
			li.navb.caps
				a.navlink(data-pathname="huddlepass")
					span &#8249;
					| Last Project
			li.navc.caps
				a.navlink(data-pathname="socialcrunch")
					| Next Project
					span &#8250;

block header
	header.more.hide
		.wrap
			.logo#logo
			.title
				span#title(data-speed="2.85")
					h1 More projects I've<br> done from the past.
		.splash
			.splashfade
				img(src="/images/home/splashfadeblu.png")
			.vid
				video(preload="auto", autoplay="true", loop="true", muted="muted", poster="/images/home/wallposter.jpg")
					source(src="/images/home/wall.mp4", type="video/mp4")
					source(src="/images/home/wall.webm", type="video/webm")
					source(src="/images/home/wall-iosp.mp4", type="video/mp4")
		.fade
		.slide
	.push

block work
	section.work.bgfade
		.arrowbar.hide
			.arrow
		.head
			h5.caps Overview
		.wrap
			.overview
				.detail.single
					p A separate place for a bunch of random older projects from over 2 years ago that I keep around because why not.
		.visual.gap
		include ../home/projects/socialcrunch
		include ../home/projects/lifeis
		include ../home/projects/overdog
		include ../home/projects/gennutrition
		include ../home/projects/2old2play
		include ../home/projects/toggle

block next
	section.next.socialcrunch.navlink(data-pathname="socialcrunch")
		.head
			h5.caps Next Project
		.peek
			img(src="/images/socialcrunch/logo.png")
		.peekbg
