
block nav
	nav.dark.hide
		ul
			include ../resource/pvl
			li.nav.navb#navb
				a#navlink(data-pathname="huddlepass")
					span &#8249;
					| Prev
			li.nav.navc#navc
				a#navlink(data-pathname="past")
					| Next
					span &#8250;

block header
	header.dark.more.hide
		.wrap
			.logo#logo
			.title
				span#title(data-speed="2.85")
					h1 What I've been<br> up to recently.
		.fade
		.slide
	.push#push

block work
	section.work.bgfade
		.arrowbar#arrow.hide
			.arrow#work
		.head
			h5 Basically...
		.overview
			.detail
				p This is a more casual place for me to throw up a few quick looks of newer things I've been on, even if unorganized or unfinished. 
				p You can click one of the shots below to jump to its respective section.
		.visual.two-col
			.shot.small
				a(data-scroll, data-options="speed: 800", href="#recenta")
					img(src="/_img/recent/vouch.jpg")
			.shot.small
				a(data-scroll, data-options="speed: 1200", href="#recentb")
					img(src="/_img/recent/justcapital.jpg")
		.visual.two-col.quad
			.shot.small
				a(data-scroll, data-options="speed: 1500", href="#recentc")
					img(src="/_img/recent/stump.jpg")
			.shot.small
				a(data-scroll, data-options="speed: 2000", href="#recentd")
					img(src="/_img/recent/analytics8.jpg")

		.visual.gap
		a#recenta
		.itemhead
			h2 Vouch
		.visual.fout.zoom
			.browser.large
				.top
					ul
						li
						li
						li
					span vouchwith.us
				img(src="/_img/recent/vouch-00.jpg")
				.fin
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.itemhead.short
			h3 Item interactions/grid
		.visual.single.zoom
			.shot
				img(src="/_img/recent/vouch-view.gif")
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.visual.single.zoom
			.shot
				img(src="/_img/recent/vouch-add.gif")
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.visual.single.zoom
			.shot
				img(src="/_img/recent/vouch-quotes.gif")
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.visual.single
			.shot
				img(src="/_img/recent/vouch-grid.gif")
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.itemhead.short
			h3 Item full view
		.visual.fout.vport.zoom
			.browser.large
				.top
					ul
						li
						li
						li
					span vouchwith.us
				img(src="/_img/recent/vouch-02.jpg")
				.fin
		.itemhead
			h3 Collection page
		.visual.fout.vport.zoom
			.browser.large
				.top
					ul
						li
						li
						li
					span vouchwith.us
				img(src="/_img/recent/vouch-03.jpg")
				.fin
		.itemhead
			h3 User profile
		.visual.fout.vport.zoom
			.browser.large
				.top
					ul
						li
						li
						li
					span vouchwith.us
				img(src="/_img/recent/vouch-04.gif")
				.fin
		.itemhead
			h3 Page template & elements
		.visual.fout.vport.zoom
			.browser.large
				.top
					ul
						li
						li
						li
					span vouchwith.us
				img(src="/_img/recent/vouch-07.jpg")
				.fin
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.

		.visual.gap
		a#recentb
		.itemhead
			h2 JUSTCapital
		.visual.fout.vport.premier
			.browser.large
				.top
					ul
						li
						li
						li
					span justcapital.com
				video(autoplay="true", controls="true", preload="auto", loop="loop", muted="muted", poster="/_img/recent/justcapital-poster.jpg")
					source(src="/_img/recent/justcapital.webm", type="video/webm")
					source(src="/_img/recent/justcapital.mp4", type="video/mp4")
				.fin
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.visual.two-col
			.shot
				video(autoplay="true", controls="true", preload="auto", loop="loop", muted="muted", poster="/_img/recent/justcapital-intro-poster.jpg")
					source(src="/_img/recent/justcapital-intro.webm", type="video/webm")
					source(src="/_img/recent/justcapital-intro.mp4", type="video/mp4")
			.shot
				video(autoplay="true", controls="true", preload="auto", loop="loop", muted="muted", poster="/_img/recent/justcapital-landing-poster.jpg")
					source(src="/_img/recent/justcapital-landing.webm", type="video/webm")
					source(src="/_img/recent/justcapital-landing.mp4", type="video/mp4")
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.itemhead.short
			h3 Social engagement<br> campaign quiz
		.visual.fout.zoom
			.browser.large
				.top
					ul
						li
						li
						li
					span justcapital.com/quiz
				img(src="/_img/recent/justcapital-01.jpg")
				.fin
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.visual.single
			.shot
				img(src="/_img/recent/justcapital-01-comp.gif")
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.

		.visual.gap
		a#recentc
		.itemhead
			h2 Stump
		.visual.fout.vport.zoom
			.browser.large
				.top
					ul
						li
						li
						li
					span stump.social
				img(src="/_img/recent/stump-06.jpg")
				.fin
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.itemhead.short
			h3 Landing page
		.visual.fout.vport.zoom
			.browser.large
				.top
					ul
						li
						li
						li
					span stump.social
				img(src="/_img/recent/stump-01.jpg")
				.fin
		.itemhead.short
			h3 Campaign page
		.visual.fout.vport.zoom
			.browser.large
				.top
					ul
						li
						li
						li
					span stump.social
				img(src="/_img/recent/stump-02.jpg")
				.fin
		.itemhead.short
			h3 Onboarding step
		.visual.fout.vport.zoom
			.browser.large
				.top
					ul
						li
						li
						li
					span stump.social
				img(src="/_img/recent/stump-05.jpg")
				.fin
		.itemhead.short
			h3 Dashboard &<br> user actions
		.visual.fout.vport.zoom
			.browser.large
				.top
					ul
						li
						li
						li
					span stump.social
				img(src="/_img/recent/stump-06.gif")
				.fin
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.

		.visual.gap
		a#recentd
		.itemhead
			h2 Analytics8
		.visual.fout.vport.premier
			.browser.large
				.top
					ul
						li
						li
						li
					span analytics8.com
				video(autoplay="true", controls="true", preload="auto", loop="loop", muted="muted", poster="/_img/recent/analytics8-poster.jpg")
					source(src="/_img/recent/analytics8.webm", type="video/webm")
					source(src="/_img/recent/analytics8.mp4", type="video/mp4")
				.fin
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.visual.fout.multiphone
			.phone
				.top
					.camera
						span
					.speaker
						span
				.frame
					img(src="/_img/recent/analytics8-01.jpg")
				.bottom
					div
						span
			.phone
				.top
					.camera
						span
					.speaker
						span
				.frame
					img(src="/_img/recent/analytics8-00.jpg")
				.bottom
					div
						span
			.phone
				.top
					.camera
						span
					.speaker
						span
				.frame
					img(src="/_img/recent/analytics8-02.jpg")
				.bottom
					div
						span
			.fin
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.footlink
			p You can also check out what I've <a href="https://dribbble.com/isaacpvl", target="_blank">put up on dribbble lately</a>

block next
	section.next.hide.past#navlink(data-pathname="past")
		.head
			h5 Also check out
		.peek#next
			h1 A long time ago...
		.peekbg
