
block nav
	nav.dark.hide
		ul
			include ../resource/pvl
			li.nav.navb#navb
				a#navlink(data-pathname="huddlepass")
					span &#8249;
					| Prev
			li.nav.navc#navc
				a#navlink(data-pathname="past")
					| Next
					span &#8250;

block header
	header.dark.more.hide
		.wrap
			.logo#logo
			.title
				span#title(data-speed="2.85")
					h1 What I've been<br> up to recently.
		.fade
		.slide
	.push#push

block work
	section.work.bgfade
		.arrowbar#arrow.hide
			.arrow#work
		.head
			h5 Overview
		.wrap
			.overview
				.detail
					p A more casual place for me to throw up a few quick looks of newer things I've been on, even if unorganized or unfinished. 
					p You can click one of the shots below to jump to its respective section.
		.visual.two-col
			.shot
				a(data-scroll, data-options="speed: 600", href="#recenta")
					img.frame(src="/images/recent/vouch.jpg")
			.shot
				a(data-scroll, data-options="speed: 1200", href="#recentb")
					img.frame(src="/images/recent/justcapital.jpg")
		.visual.two-col
			.shot
				a(data-scroll, data-options="speed: 1500", href="#recentc")
					img.frame(src="/images/recent/stump.jpg")
			.shot
				a(data-scroll, data-options="speed: 2000", href="#recentd")
					img.frame(src="/images/recent/analytics8.jpg")

		.visual.gap
		a#recenta
		.itemhead
			h2 Vouch
		.visual
			.browser.large
				.top
					ul
						li
						li
						li
					span vouchwith.us
				img(src="/images/recent/vouch-00.jpg")
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.itemhead.small
			h3 Item interactions/grid
		.visual.single
			.shot
				img(src="/images/recent/vouch-view.gif")
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.visual.single
			.shot
				img(src="/images/recent/vouch-add.gif")
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.visual.single
			.shot
				img(src="/images/recent/vouch-quotes.gif")
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.visual.single
			.shot
				img(src="/images/recent/vouch-grid.gif")
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.itemhead.small
			h3 Item full view
		.visual.full
			.browser.large
				.top
					ul
						li
						li
						li
					span vouchwith.us
				img(src="/images/recent/vouch-02.jpg")
		.itemhead.small
			h3 Collection page
		.visual.full
			.browser.large
				.top
					ul
						li
						li
						li
					span vouchwith.us
				img(src="/images/recent/vouch-03.jpg")
		.itemhead.small
			h3 User profile
		.visual.full
			.browser.large
				.top
					ul
						li
						li
						li
					span vouchwith.us
				img(src="/images/recent/vouch-04.gif")
		.itemhead.small
			h3 Page template & elements
		.visual.full
			.browser.large
				.top
					ul
						li
						li
						li
					span vouchwith.us
				img(src="/images/recent/vouch-07.jpg")
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.

		.visual.gap
		a#recentb
		.itemhead
			h2 JUSTCapital
		.visual.full
			.browser.large
				.top
					ul
						li
						li
						li
					span justcapital.com
				video(preload="auto", autoplay="true", loop="loop", muted="muted", poster="/images/recent/justcapital-poster.jpg")
					source(src="/images/recent/justcapital.webm", type="video/webm")
					source(src="/images/recent/justcapital.mp4", type="video/mp4")
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.visual.two-col
			.browser
				.top
					ul
						li
						li
						li
					span justcapital.com
				video(preload="auto", autoplay="true", loop="loop", muted="muted", poster="/images/recent/justcapital-intro-poster.jpg")
					source(src="/images/recent/justcapital-intro.webm", type="video/webm")
					source(src="/images/recent/justcapital-intro.mp4", type="video/mp4")
			.browser
				.top
					ul
						li
						li
						li
					span justcapital.com
				video(preload="auto", autoplay="true", loop="loop", muted="muted", poster="/images/recent/justcapital-landing-poster.jpg")
					source(src="/images/recent/justcapital-landing.webm", type="video/webm")
					source(src="/images/recent/justcapital-landing.mp4", type="video/mp4")
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.itemhead.small
			h3 Social engagement campaign quiz
		.visual
			.browser.large
				.top
					ul
						li
						li
						li
					span vouchwith.us
				img(src="/images/recent/justcapital-01.jpg")
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.visual.single
			.shot
				img(src="/images/recent/justcapital-01-comp.gif")
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.

		.visual.gap
		a#recentc
		.itemhead
			h2 Stump
		.visual.full
			.browser.large
				.top
					ul
						li
						li
						li
					span stump.pan.social
				img(src="/images/recent/stump-06.jpg")
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.itemhead.small
			h3 Landing page
		.visual.full
			.browser.large
				.top
					ul
						li
						li
						li
					span stump.pan.social
				img(src="/images/recent/stump-01.jpg")
		.itemhead.small
			h3 Campaign page
		.visual.full
			.browser.large
				.top
					ul
						li
						li
						li
					span stump.pan.social
				img(src="/images/recent/stump-02.jpg")
		.itemhead.small
			h3 Onboarding step
		.visual.full
			.browser.large
				.top
					ul
						li
						li
						li
					span stump.pan.social
				img(src="/images/recent/stump-05.jpg")
		.itemhead.small
			h3 Dashboard & user actions
		.visual.full
			.browser.large
				.top
					ul
						li
						li
						li
					span stump.pan.social
				img(src="/images/recent/stump-06.gif")
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.

		.visual.gap
		a#recentd
		.itemhead
			h2 Analytics8 heading
		.visual.full
			.browser.large
				.top
					ul
						li
						li
						li
					span analytics8.com
				video(preload="auto", autoplay="true", loop="loop", muted="muted", poster="/images/recent/analytics8-poster.jpg")
					source(src="/images/recent/analytics8.webm", type="video/webm")
					source(src="/images/recent/analytics8.mp4", type="video/mp4")
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.
		.visual.multiphone
			.phone
				.top
					.camera
						span
					.speaker
						span
				.frame
					img(src="/images/recent/analytics8-01.jpg")
				.bottom
					div
						span
			.phone
				.top
					.camera
						span
					.speaker
						span
				.frame
					img(src="/images/recent/analytics8-00.jpg")
				.bottom
					div
						span
			.phone
				.top
					.camera
						span
					.speaker
						span
				.frame
					img(src="/images/recent/analytics8-02.jpg")
				.bottom
					div
						span
		.detail
			p If you're reading this then you've caught me right as I'm updating my site. Expect explanations written and up within the next day or so.


block next
	section.next.past#navlink(data-pathname="past")
		.head
			h5 Also check out
		.peek#next
			h1 A long time ago...
		.peekbg
