
block nav
	nav.dark.hide
		ul
			include ../resource/pvl
			li.nav.navb#navb
				a#navlink(data-pathname="huddlepass")
					span &#8249;
					| Prev
			li.nav.navc#navc
				a#navlink(data-pathname="past")
					| Next
					span &#8250;

block header
	header.dark.more.hide
		.wrap
			.logo#logo
			.title
				span#title(data-speed="2.85")
					h1 What I've been<br> up to recently.
		.fade
		.slide
	.push#push

block work
	section.work.bgfade
		.arrowbar#arrow.hide
			.arrow#work
		.head
			h5 Overview
		.wrap
			.overview
				.detail.single
					p A more casual place for me to throw up a few quick looks of newer things I've been on, even if unorganized or unfinished.
		.visual.two-col
			.browser
				a(data-scroll, data-options="speed: 600", href="#recenta")
					.top
						ul
							li
							li
							li
						span dostoros.com
					img(src="/images/dostoros/dostoros-view-chop.jpg")
			.browser
				a(data-scroll, data-options="speed: 900", href="#recentb")
					.top
						ul
							li
							li
							li
						span dostoros.com
					img(src="/images/dostoros/dostoros-view-chop.jpg")
		.visual.two-col
			.browser
				a(data-scroll, data-options="speed: 1200", href="#recentc")
					.top
						ul
							li
							li
							li
						span dostoros.com
					img(src="/images/dostoros/dostoros-view-chop.jpg")
			.browser
				a(data-scroll, data-options="speed: 1500", href="#recentd")
					.top
						ul
							li
							li
							li
						span dostoros.com
					img(src="/images/dostoros/dostoros-view-chop.jpg")
		.detail
			p Mauris eleifend, libero vel pellentesque ornare, erat felis pharetra.


		a#recenta
		.itemhead
			h2 Vouch heading
		.visual.full
			.browser.large
				.top
					ul
						li
						li
						li
					span whateverrr.com/ugh
				img(src="/images/huddlepass/hpass-02.jpg")
		.detail
			p Mauris eleifend, libero vel pellentesque ornare, erat felis pharetra sapien, in tempus lectus urna nec dui. Nullam efficitur vestibulum iaculis. In semper non dolor vel eleifend. Duis tristique, exa iaculis facilisis.


		a#recentb
		.itemhead
			h2 Stump heading
		.visual.full
			.browser.large
				.top
					ul
						li
						li
						li
					span whateverrr.com/ugh
				img(src="/images/huddlepass/hpass-02.jpg")
		.detail
			p Mauris eleifend, libero vel pellentesque ornare, erat felis pharetra sapien, in tempus lectus urna nec dui. Nullam efficitur vestibulum iaculis. In semper non dolor vel eleifend. Duis tristique, exa iaculis facilisis.


		a#recentc
		.itemhead
			h2 JUST Capital heading
		.visual.full
			.browser.large
				.top
					ul
						li
						li
						li
					span whateverrr.com/ugh
				img(src="/images/huddlepass/hpass-02.jpg")
		.detail
			p Mauris eleifend, libero vel pellentesque ornare, erat felis pharetra sapien, in tempus lectus urna nec dui. Nullam efficitur vestibulum iaculis. In semper non dolor vel eleifend. Duis tristique, exa iaculis facilisis.


		a#recentd
		.itemhead
			h2 Analytics8 heading
		.visual.full
			.browser.large
				.top
					ul
						li
						li
						li
					span whateverrr.com/ugh
				img(src="/images/huddlepass/hpass-02.jpg")
		.detail
			p Mauris eleifend, libero vel pellentesque ornare, erat felis pharetra sapien, in tempus lectus urna nec dui. Nullam efficitur vestibulum iaculis. In semper non dolor vel eleifend. Duis tristique, exa iaculis facilisis.


block next
	section.next.past#navlink(data-pathname="past")
		.head
			h5 Also check out
		.peek#next
			h1 A long time ago...
		.peekbg
