
block nav
	nav.hide
		ul
			include ../resource/pvl
			li.nav.navb#navb.disabled
				a.disabled
					span &#8249;
					| Prev
			li.nav.navc#navc
				a#navlink(data-pathname="dostoros")
					| Next
					span &#8250;

block header
	header.hide
		.wrap
			.logo
				span#logo(data-speed="5.55")
					img(src="/_img/threadmeup/logo.png")
			.title
				span#title(data-speed="2.85")
					h1 Making it fun and engaging to design what you wear.
		.splash
			.splashfade
				img(src="/_img/threadmeup/splashfade.png")
			.vid
				video(preload="auto", autoplay="true", loop="loop", muted="muted", poster="/_img/threadmeup/splashbg.png")
					source(src="/_img/threadmeup/splash.webm", type="video/webm")
					source(src="/_img/threadmeup/splash.mp4", type="video/mp4")
		.fade
		.slide
	.push#push

block work
	section.work.bgfade
		.arrowbar#arrow.hide
			.arrow#work
		.head
			h5 Overview
		.overview
			.detail.two-col
				p This startup provides a platform to design and order pretty much anything you wear, as well as sell your designs to others, crowdfunding campaign style. With things like teespring already growing at the time, <em>our approach was a fantastic brand and infinitely more fun product.</em>
				p By pretty much everything, I mean I did the entire brand, app architecture, UI/visual design, and even built the front-end. It was the most unicorn I&rsquo;ll want to be ever again. I came on at the very beginning, and phased myself out after we first launched the full product.
			.context
				div
					h6 Role:
					p pretty much everything
				div
					h6 When:
					p early 2014
				div
					h6 With:
					p just me 
						i (freelancing full-time)
			.live
				a.button(href="http://isaacpvl.com/threadmeup/full", target="_blank") Visit <span>the </span>(front-end<span> only</span>) site
				p
					<b>Note:</b> this links to the front-end I built <i>(launched March 2014)</i>
					span Since the current threadmeup.com has changed, I host this myself so you can see the product I made as a front-end prototype even without the back-end.
		.itemhead
			h2 The &lsquo;Designer&rsquo;
		.visual.fout.vport.zoom
			.browser.large
				.top
					ul
						li
						li
						li
					span threadmeup.com/designer
				img(src="/_img/threadmeup/tmu-designer.gif")
				.fin
		.detail
			p The &lsquo;Designer&rsquo; is really the centerpiece of the entire platform, and definitely the most challenging and fun from a design perspective. I looked at the competition and felt underwhelmed, so the layout, flow, and almost all the interactions and features of the designer are completely original (and ended up testing quite nicely btw.) I wanted to do the in-browser designer better than anyone else had before.
		.visual.two-col
			.shot.small
				img(src="/_img/threadmeup/tmu-designer-objectui.gif")
			.shot.small
				img(src="/_img/threadmeup/tmu-designer-colorpicker.gif")
		.detail
			p I actually built the front-end for the various custom interactions within the designer, and in the process of doing so made sure the entire experience had a playful aspect of motion throughout. All the details feeling not just pleasant, but more importantly deliberate, drove users&rsquo; overall perception of ThreadMeUp as the place to go for custom apparel.
		.itemhead
			h2 Movements
		.visual.fout.vport.zoom
			.browser.large
				.top
					ul
						li
						li
						li
					span threadmeup.com/movements/timeless-responsibility
				img(src="/_img/threadmeup/tmu-movements.gif")
				.fin
		.detail
			p The other big part of the platform is the crowdfunding aspect, which manifests as a marketplace to order designs people have created campaigns (called movements) out of. The main goal here is obviously getting people to want to order these, so the display of the designs and the process of ordering had to be extremely appealing throughout.
		.visual.single
			.shot
				img(src="/_img/threadmeup/tmu-movements-modules.gif")
		.detail
			p Even the marketplace has some delightful little interactions that bring in that playful aspect of motion we talked about, but to get to the point where there&rsquo;s anything to order in the first place, I had to get users through the complicated, feature-packed process of creating a movement.
		.visual.single
			.shot
				img(src="/_img/threadmeup/tmu-create-movement.gif")
		.itemhead
			h3 Responsive for mobile
		.visual.fout.multiphone
			.phone
				.top
					.camera
						span
					.speaker
						span
				img.header(src="/_img/threadmeup/tmu-mobile-header.png")
				.frame.scroll
					img(src="/_img/threadmeup/tmu-mobile-movements.jpg")
				.bottom
					div
						span
			.phone
				.top
					.camera
						span
					.speaker
						span
				img.header(src="/_img/threadmeup/tmu-mobile-header.png")
				.frame.scroll
					img(src="/_img/threadmeup/tmu-mobile-movement.jpg")
				.bottom
					div
						span
			.phone
				.top
					.camera
						span
					.speaker
						span
				img.header(src="/_img/threadmeup/tmu-mobile-header.png")
				.frame.scroll
					img(src="/_img/threadmeup/tmu-mobile-checkout.jpg")
				.bottom
					div
						span
			.fin
		.itemhead
			h3 UI kit & style guide
		.visual.fout.vport.zoom
			.shot
				img(src="/_img/threadmeup/tmu-uikit.jpg")
				.fin
		.itemhead
			h2 Branding
		.visual.two-col
			.shot.small
				img(src="/_img/threadmeup/tmu-brand-logo.jpg")
			.shot.small
				img(src="/_img/threadmeup/tmu-brand-swag.jpg")
			.shot.last
				img(src="/_img/threadmeup/tmu-brand-heartbeat.gif")
		.detail
			p I designed a unique logo for them, set type, colors, and all the usual art direction stuff... But the most important branding work was done within the product itself. I think that&rsquo;s a cool concept.
		.footlink
			p You can also check out <a href="https://dribbble.com/isaacpvl/projects/174662-ThreadMeUp", target="_blank">this project on dribbble</a>

block next
	section.next.hide.dostoros#navlink(data-pathname="dostoros")
		.head
			h5 Next Project
		.peek#next
			img(src="/_img/dostoros/logo.png")
		.peekbg
