
block nav
	nav.hide
		ul
			include ../resource/pvl
			li.nav.navb#navb
				a#navlink(data-pathname="2old2play")
					span &#8249;
					| Prev
			li.nav.navc#navc
				a#navlink(data-pathname="threadmeup")
					| Next
					span &#8250;

block header
	header.hide
		.wrap
			.logo
				span#logo(data-speed="5.55")
					img(src="/_img/toggle/logo.png")
			.title
				span#title(data-speed="2.85")
					h1 A streaming experience for a new dedicated TV device.
		.fade
		.slide
	.push#push

block work
	section.work.bgfade
		.arrowbar#arrow.hide
			.arrow#work
		.head
			h5 Overview
		.overview
			.detail
				p I designed a native TV app for a dedicated device and built prototypes fleshing out unique but intuitive interactions.
			.context
				div
					h6 My Role:
					p web design & brand
				div
					h6 When:
					p late 2013
				div
					h6 With:
					p just me 
						i (freelancing)
		.itemhead
			h3 Browse UI
		.visual.fout.premier.zoom
			.shot
				video(autoplay="true", controls="true", preload="auto", loop="loop", muted="muted", poster="/_img/toggle/toggle-poster.jpg")
					source(src="/_img/toggle/toggle.webm", type="video/webm")
					source(src="/_img/toggle/toggle.mp4", type="video/mp4")
				.fin
		.itemhead
			h3 Universal menu
		.visual.single
			.shot
				video(autoplay="true", controls="true", preload="auto", loop="loop", muted="muted", poster="/_img/toggle/toggle-menu-poster.jpg")
					source(src="/_img/toggle/toggle-menu.webm", type="video/webm")
					source(src="/_img/toggle/toggle-menu.mp4", type="video/mp4")
		.itemhead
			h3 Web landing page
		.visual.fout.vport.zoom
			.browser.large
				.top
					ul
						li
						li
						li
					span toggletv.com
				img(src="/_img/toggle/toggle-landing.jpg")
				.fin
		.footlink
			p You can also check out <a href="https://dribbble.com/isaacpvl/projects/195013-Toggle-TV", target="_blank">this project on dribbble</a>

block next
	section.next.hide.threadmeup#navlink(data-pathname="threadmeup")
		.head
			h5 Next Project
		.peek#next
			img(src="/_img/threadmeup/logo.png")
