a#home
nav
	ul
		li#nava.nava
			include pvl
		li.navb.caps
			a(data-scroll, data-options="speed: 600", href="#work")
				span I make stuff
				span Stuff
		li.navc.caps
			a(data-scroll, data-options="speed: 600", href="#about")
				span I have feelings
				span Feels
		li.navd.caps
			a(data-scroll, data-options="speed: 600", href="#contact")
				span Talk to me
				span Contact
		li.social
			a(href="http://twitter.com/isaacpvl", target="_blank")
				span a
		li.social
			a(href="http://dribbble.com/isaacpvl", target="_blank")
				span D