a.initials.caps(data-scroll, data-options="speed: 700", href="#home")
	span P
	div
	span V
	div
	span L
a.lastname.caps
	div
	span A
	span A
	div
	span O
	div
	span A
h6 Isaac Paavola's creative
h6 and design adventures!