

// Browser styles
// ------------------------------------------------------------

	.browser {
		position: relative;
		width: 100%;
		border-radius: 4px 4px 2px 2px;
		@include border(1px, $drk-l);
		background: $drk-l;
		overflow: hidden;
		@include trans(0.5s);
		img {
			width: 100%;
			height: auto;
			margin-bottom: -1px;
			border-radius: 0 0 1px 1px;
			@include noselect;
		}
		.top {
			position: relative;
			width: 100%;
			height: 40px;
			border-radius: 3px 3px 0 0;
			background: $wht;
			@include innershadow(-1px, $drk-l);
			@include trans(0.5s);
			ul {
				position: absolute;
				top: 15px;
				left: 12px;
				li {
					float: left;
					width: 9px;
					height: 9px;
					margin-right: 5px;
					border-radius: 6px;
					background: $drk-l;
				}
			}
			span {
				position: absolute;
				top: 6px;
				bottom: 8px;
				left: 66px;
				right: 6px;
				padding-left: 8px;
				@include stroke(1px, $drk-l);
				border-radius: 2px;
				@include lineh(2.25);
				font-size: 12px;
				font-family: $caps;
				text-align: left;
				color: $drk;
			}
		}
		.frame {
			height: 780px;
			overflow-y: scroll;
		}
		.vid {
			position: relative;
			border-radius: 0 0 1px 1px;
			@include stroke(1px, $drk-l);
			@include trans(0s);
			@include animate(0s);
			video {
				position: relative;
				z-index: -1;
				width: 100%;
				height: auto;
				background-color: #f7e7e2 !important;
			}
		}
	}


// Media queries
// ------------------------------------------------------------

	@media screen and (min-width: 1080px) {
		.browser.large {
			border-radius: 6px 6px 4px 4px;
			img {
				border-radius: 0 0 3px 3px;
			}
			.top {
				height: 50px;
				border-radius: 5px 5px 0 0;
				ul {
					top: 19px;
					left: 16px;
					li {
						width: 11px;
						height: 11px;
						margin-right: 7px;
					}
				}
				span {
					top: 8px;
					bottom: 10px;
					left: 90px;
					right: 8px;
					padding-left: 12px;
					font-size: 14px;
					font-weight: 500;
					border-radius: 3px;
					line-height: 32px;
				}
			}
		}
	}
	@media screen and (max-width: 1080px) {
		.browser.small {
			border-radius: 3px 3px 2px 2px;
			.top {
				height: 28px;
				border-radius: 2px 2px 0 0;
				ul {
					top: 11px;
					left: 8px;
					li {
						width: 6px;
						height: 6px;
						margin-right: 3px;
					}
				}
				span {
					top: 5px;
					bottom: 6px;
					left: 42px;
					right: 5px;
					padding-left: 5px;
					font-size: 9px;
					font-weight: 500;
					border-radius: 1px;
					line-height: 18px;
				}
			}
		}
	}
	@media screen and (max-width: 640px) {
		.browser {
			border-radius: 3px 3px 2px 2px;
			overflow: hidden;
			.top {
				height: 28px;
				border-radius: 2px 2px 0 0;
				ul {
					top: 11px;
					left: 8px;
					li {
						width: 6px;
						height: 6px;
						margin-right: 3px;
					}
				}
				span {
					top: 5px;
					bottom: 6px;
					left: 42px;
					right: 5px;
					height: 17px;
					padding-left: 5px;
					font-size: 9px;
					font-weight: 500;
					border-radius: 1px;
					line-height: 18px;
				}
			}
		}
	}


// Multibrowser styles
// ------------------------------------------------------------

	.multibrowser {
		position: relative;
		width: 100%;
		height: 100%;
		.browser {
			width: 92.5%;
			max-width: 722px;
		}
		.browser.under {
			z-index: 1;
			opacity: 0 !important;
		}
		.browser.stack {
			position: absolute;
			top: 0;
			left: 2%;
		}
	}

	// cycle states
		$gap: 0.825;
		@mixin faded-itemr {
			z-index: 8;
			opacity: 0;
			@include tmove(-8%*$gap, 0%);
			@include trans(0.3s);
			@include ttimingcb(0.4, 0.7, 0.4, 0.9);
		}
		@mixin first-itemr {
			z-index: 6;
			opacity: 1;
			@include tmove(0%, 0%);
		}
		@mixin second-itemr {
			z-index: 4;
			opacity: 1;
			@include tmove(11.5%*$gap, 0%);
			img { opacity: 0.5; }
		}
		@mixin third-itemr {
			z-index: 2;
			opacity: 1;
			@include tmove(22%*$gap, 0%);
			img { opacity: 0.25; }
		}
		@mixin prep-itemr {
			z-index: 2;
			opacity: 0;
			@include tmove(29%*$gap, 0%);
			@include trans(0s);
			img { opacity: 0; }
		}
		@mixin faded-iteml {
			z-index: 8;
			opacity: 0;
			@include tmove(8%*$gap, 0%);
			@include trans(0.3s);
			@include ttimingcb(0.4, 0.7, 0.4, 0.9);
		}
		@mixin first-iteml {
			z-index: 6;
			opacity: 1;
			@include tmove(0%, 0%);
		}
		@mixin second-iteml {
			z-index: 4;
			opacity: 1;
			@include tmove(-11.5%*$gap, 0%);
			img { opacity: 0.5; }
		}
		@mixin third-iteml {
			z-index: 2;
			opacity: 1;
			@include tmove(-22%*$gap, 0%);
			img { opacity: 0.25; }
		}
		@mixin prep-iteml {
			z-index: 2;
			opacity: 0;
			@include tmove(-29%*$gap, 0%);
			@include trans(0s);
			img { opacity: 0; }
		}

	// cycle sequence
		.multibrowser.cycle {
			.browser {
				@include trans(1s);
				@include ttimingcb(0.1, 0.7, 0.3, 1);
				background: $lgt-d;
			}
		}
		.preview.pleft {
			.multibrowser {
				.browser.stack {
					left: 5%;
				}
			}
			.multibrowser.cycle {
				&.stepa {
					.stacka { @include first-iteml; }
					.stackb { @include second-iteml; }
					.stackc { @include third-iteml; }
					.stackd { @include faded-iteml; }
				}
				&.prepb {
					.stackd { @include prep-iteml; }
				}
				&.stepb {
					.stacka { @include faded-iteml; }
					.stackb { @include first-iteml; }
					.stackc { @include second-iteml; }
					.stackd { @include third-iteml; }
				}
				&.prepc {
					.stacka { @include prep-iteml; }
				}
				&.stepc {
					.stacka { @include third-iteml; }
					.stackb { @include faded-iteml; }
					.stackc { @include first-iteml; }
					.stackd { @include second-iteml; }
				}
				&.prepd {
					.stackb { @include prep-iteml; }
				}
				&.stepd {
					.stacka { @include second-iteml; }
					.stackb { @include third-iteml; }
					.stackc { @include faded-iteml; }
					.stackd { @include first-iteml; }
				}
				&.prepa {
					.stackc { @include prep-iteml; }
				}
			}
		}
		.preview.pright {
			.multibrowser.cycle {
				&.stepa {
					.stacka { @include first-itemr; }
					.stackb { @include second-itemr; }
					.stackc { @include third-itemr; }
					.stackd { @include faded-itemr; }
				}
				&.prepb {
					.stackd { @include prep-itemr; }
				}
				&.stepb {
					.stacka { @include faded-itemr; }
					.stackb { @include first-itemr; }
					.stackc { @include second-itemr; }
					.stackd { @include third-itemr; }
				}
				&.prepc {
					.stacka { @include prep-itemr; }
				}
				&.stepc {
					.stacka { @include third-itemr; }
					.stackb { @include faded-itemr; }
					.stackc { @include first-itemr; }
					.stackd { @include second-itemr; }
				}
				&.prepd {
					.stackb { @include prep-itemr; }
				}
				&.stepd {
					.stacka { @include second-itemr; }
					.stackb { @include third-itemr; }
					.stackc { @include faded-itemr; }
					.stackd { @include first-itemr; }
				}
				&.prepa {
					.stackc { @include prep-itemr; }
				}
			}
		}

	// responsive cycle states
		$gapb: 0.5;
		@mixin faded-itemlb {
			z-index: 8;
			opacity: 1;
			@include tmove(180%*$gapb, 0%);
			@include trans(0.75s);
			@include ttimingcb(0.4, 0.7, 0.4, 0.9);
		}
		@mixin first-itemlb {
			z-index: 6;
			opacity: 1;
			@include tmove(0%, 0%);
		}
		@mixin second-itemlb {
			z-index: 4;
			opacity: 1;
			@include tmove(-11.5%*$gapb, 0%);
			img { opacity: 0.5; }
		}
		@mixin third-itemlb {
			z-index: 2;
			opacity: 1;
			@include tmove(-22%*$gapb, 0%);
			img { opacity: 0.25; }
		}
		@mixin prep-itemlb {
			z-index: 2;
			opacity: 0;
			@include tmove(-29%*$gapb, 0%);
			@include trans(0s);
			img { opacity: 0; }
		}
		@mixin faded-itemrb {
			z-index: 8;
			opacity: 1;
			@include tmove(-180%*$gapb, 0%);
			@include trans(0.75s);
			@include ttimingcb(0.4, 0.7, 0.4, 0.9);
		}
		@mixin first-itemrb {
			z-index: 6;
			opacity: 1;
			@include tmove(0%, 0%);
		}
		@mixin second-itemrb {
			z-index: 4;
			opacity: 1;
			@include tmove(11.5%*$gapb, 0%);
			img { opacity: 0.5; }
		}
		@mixin third-itemrb {
			z-index: 2;
			opacity: 1;
			@include tmove(22%*$gapb, 0%);
			img { opacity: 0.25; }
		}
		@mixin prep-itemrb {
			z-index: 2;
			opacity: 0;
			@include tmove(29%*$gapb, 0%);
			@include trans(0s);
			img { opacity: 0; }
		}

	// media queries
		@media screen and (max-width: 640px) {
			.preview.pleft, .preview.pright {
				.multibrowser.cycle {
					&.stepa {
						.stacka { @include first-itemlb; }
						.stackb { @include second-itemlb; }
						.stackc { @include third-itemlb; }
						.stackd { @include faded-itemlb; }
					}
					&.prepb {
						.stackd { @include prep-itemlb; }
					}
					&.stepb {
						.stacka { @include faded-itemlb; }
						.stackb { @include first-itemlb; }
						.stackc { @include second-itemlb; }
						.stackd { @include third-itemlb; }
					}
					&.prepc {
						.stacka { @include prep-itemlb; }
					}
					&.stepc {
						.stacka { @include third-itemlb; }
						.stackb { @include faded-itemlb; }
						.stackc { @include first-itemlb; }
						.stackd { @include second-itemlb; }
					}
					&.prepd {
						.stackb { @include prep-itemlb; }
					}
					&.stepd {
						.stacka { @include second-itemlb; }
						.stackb { @include third-itemlb; }
						.stackc { @include faded-itemlb; }
						.stackd { @include first-itemlb; }
					}
					&.prepa {
						.stackc { @include prep-itemlb; }
					}
				}
			}
		}


// Phone styles
// ------------------------------------------------------------

	.phone {
		position: absolute;
		z-index: 1;
		top: 24%;
		width: 30%;
		// max-width: 220px;
		padding: 0 10px;
		border-radius: 15px;
		@include border(1px, $drk-l);
		background: $wht;
		text-align: center;
		@include trans(0.6s);
		img {
			width: 100%;
			height: auto;
			@include noselect;
		}
		div {
			position: absolute;
			left: 0;
			right: 0;
		}
		span {
			display: block;
			margin: 0 auto;
			background: $drk-l;
		}
		.top {
			position: relative;
			width: 100%;
			height: 54px;
			.camera {
				top: 15px;
				span {
					width: 8px;
					height: 8px;
					border-radius: 4px;
				}
			}
			.speaker {
				top: 32px;
				span {
					width: 34px;
					height: 4px;
					border-radius: 2px;
				}
			}
		}
		.bottom {
			position: relative;
			width: 100%;
			height: 54px;
			span {
				@include border(1px, $drk-l);
				background: none;
			}
			div {
				top: 9px;
				span {
					width: 34px;
					height: 34px;
					border-radius: 17px;
				}
			}
		}
	}


// Media queries
// ------------------------------------------------------------

	@media screen and (max-width: 1200px) {
		.phone {
			top: 22%;
			right: 0;
		}
	}
	@media screen and (max-width: 959px) {
		.phone {
			top: 21%;
		}
	}
	@media screen and (max-width: 839px) {
		.phone {
			top: 18%;
		}
	}
	@media screen and (max-width: 640px) {
		.phone {
			top: 15%;
			width: 30%;
			padding: 0 1%;
			border-radius: 12px;
			.top {
				height: 36px;
				.camera {
					top: 11px;
					span {
						width: 5px;
						height: 5px;
						border-radius: 2.5px;
					}
				}
				.speaker {
					top: 22px;
					span {
						width: 24px;
						height: 3px;
					}
				}
			}
			.bottom {
				height: 36px;
				div {
					top: 4px;
					span {
						width: 26px;
						height: 26px;
						border-radius: 13px;
					}
				}
			}
		}
	}
	@media screen and (max-width: 420px) {
		.phone {
			top: 22%;
			width: 30%;
			padding: 0 1%;
			border-radius: 9px;
			.top {
				height: 26px;
				.camera {
					top: 8px;
					span {
						width: 4px;
						height: 4px;
						border-radius: 2px;
					}
				}
				.speaker {
					top: 16px;
					span {
						width: 18px;
						height: 2px;
					}
				}
			}
			.bottom {
				height: 26px;
				div {
					top: 4px;
					span {
						width: 18px;
						height: 18px;
						border-radius: 9px;
					}
				}
			}
		}
	}


// Multiphone styles
// ------------------------------------------------------------

	.multiphone {
		position: relative;
		width: 100%;
		.phone.under {
			position: relative;
			z-index: 1;
			opacity: 0 !important;
		}
		.phone.stack {
			position: absolute;
			top: 0;
		}
		.phone {
			width: 50%;
			min-width: 220px;
			max-width: 288px;
			padding: 0 12px;
			border-radius: 24px;
			.top {
				height: 78px;
				.camera {
					top: 25px;
					span {
						width: 9px;
						height: 9px;
						border-radius: 4.5px;
					}
				}
				.speaker {
					top: 47px;
					span {
						width: 40px;
						height: 5px;
						border-radius: 2.5px;
					}
				}
			}
			.bottom {
				height: 78px;
				div {
					top: 14px;
					span {
						width: 48px;
						height: 48px;
						border-radius: 24px;
					}
				}
			}
			img {
				max-width: 322px;
			}
		}
		.stacka {
			left: 0;
			z-index: 3;
			@include trans(0.8s);
		}
		.stackb {
			left: 32.5%;
			z-index: 2;
			@include trans(0.7s);
		}
		.stackc {
			right: 0;
			z-index: 1;
			@include trans(0.6s);
		}
	}

	// media queries
		@media screen and (max-width: 640px) {
			.multiphone {
				.phone {
					width: 45%;
					min-width: 0;
					max-width: 252px;
					padding: 0 6px;
					border-radius: 14px;
					.top {
						height: 44px;
						.camera {
							top: 14px;
							span {
								width: 6px;
								height: 6px;
								border-radius: 3px;
							}
						}
						.speaker {
							top: 27px;
							span {
								width: 30px;
								height: 3px;
							}
						}
					}
					.bottom {
						height: 44px;
						div {
							top: 6px;
							span {
								width: 32px;
								height: 32px;
								border-radius: 16px;
							}
						}
					}
				}
				.stackb {
					left: 30%;
				}
			}
		}
		@media screen and (max-width: 420px) {
			.multiphone {
				.phone {
					width: 42%;
					max-width: 228px;
					padding: 0 4px;
					.top {
						height: 40px;
						.camera {
							top: 12px;
							span {
								width: 6px;
								height: 6px;
								border-radius: 3px;
							}
						}
						.speaker {
							top: 24px;
							span {
								width: 26px;
								height: 3px;
							}
						}
					}
					.bottom {
						height: 40px;
						div {
							top: 6px;
							span {
								width: 28px;
								height: 28px;
								border-radius: 14px;
							}
						}
					}
				}
			}
		}
