

// UI styles
// ------------------------------------------------------------

// links
	a, a img {
		text-decoration: underline;
		cursor: pointer;
		color: $blk;
		@include trans(0.3s);
		&:hover {
			color: $red;
			@include trans(0.15s);
		}
		&:active {
			color: $red-d;
			@include trans(0.1s);
		}
		&.disabled {
			cursor: default;
		}
	}

// buttons
	.button {
		display: inline-block;
		height: 72px;
		@include padding-x(48px);
		@include lineh(6);
		text-align: center;
		font-size: 20px;
		text-decoration: none;
		white-space: nowrap;
		color: $wht;
		background: $blk;
		box-shadow: inset 0 0 0 1px $blk, inset 0 0px $wht, 0 0px $blk;
		@extend .caps-l;
		@include noselect;
		&:hover {
			color: $blk;
			box-shadow: inset 0 0 0 1px $blk, inset 0 72px $wht, 0 4px $blk;
			@include tmove(0, -4px);
			@include trans(0.15s);
		}
		&:active, &.active {
			color: $blk;
			box-shadow: inset 0 0 0 1px $blk, inset 0 72px $wht-8, 0 -4px $blk;
			@include tmove(0, 1px);
			@include trans(0.05s);
		}
	}
	.button.disabled {
		cursor: default;
		font-weight: 500;
		opacity: 0.3;
		&:hover, &:active, &.active {
			color: $wht;
			background: $blk;
			box-shadow: inset 0 0 0 1px $blk, inset 0 0px $wht, 0 0px $blk;
			@include tmove(0, 0);
		}
	}


// Media queries
// ------------------------------------------------------------

	@media screen and (max-width: 640px) {
		.button {
			height: 54px;
			@include padding-x(24px);
			@include lineh(4.5);
			font-size: 14px;
			&:hover {
				box-shadow: inset 0 0 0 1px $blk, inset 0 54px $wht, 0 3px $blk;
				@include tmove(0, -3px);
			}
			&:active, &.active {
				box-shadow: inset 0 0 0 1px $blk, inset 0 54px $wht-8, 0 -3px $blk;
				@include tmove(0, 1px);
			}
		}
	}
