

// Color palette
// ------------------------------------------------------------

$red							: #d12b52;
$red-l							: #ff577e;
$red-d							: #941f3a;
$red-n							: rgba($red, 0);
$red-ln							: rgba($red-l, 0);
$red-dn							: rgba($red-d, 0);

$blue							: #1589d6;
$blue-l							: #45aef5;
$blue-d							: #0768a8;
$blue-n							: rgba($blue, 0);
$blue-ln						: rgba($blue-l, 0);
$blue-dn						: rgba($blue-d, 0);

$wht-l							: rgba(255, 255, 255, 0.8);
$wht-f							: rgba(255, 255, 255, 0.5);
$wht-d							: rgba(255, 255, 255, 0.05);
$wht-n							: rgba(255, 255, 255, 0);

$blk-l							: rgba(0, 0, 0, 0.4);
$blk-f							: rgba(0, 0, 0, 0.25);
$blk-d							: rgba(0, 0, 0, 0.1);
$blk-n							: rgba(0, 0, 0, 0);

$blk    						: #000;
$blk-9  						: rgba($blk, .9);
$blk-8  						: rgba($blk, .8);
$blk-7  						: rgba($blk, .7);
$blk-6  						: rgba($blk, .6);
$blk-5  						: rgba($blk, .5);
$blk-4  						: rgba($blk, .4);
$blk-3  						: rgba($blk, .3);
$blk-2  						: rgba($blk, .2);
$blk-1  						: rgba($blk, .1);
$blk-0  						: rgba($blk, 0);

$wht    						: #fff;
$wht-9  						: rgba($wht, .9);
$wht-8  						: rgba($wht, .8);
$wht-7  						: rgba($wht, .7);
$wht-6  						: rgba($wht, .6);
$wht-5  						: rgba($wht, .5);
$wht-4  						: rgba($wht, .4);
$wht-3  						: rgba($wht, .3);
$wht-2  						: rgba($wht, .2);
$wht-1  						: rgba($wht, .1);
$wht-0  						: rgba($wht, 0);

$dark							: #666;
$dark-l							: #999;
$dark-d							: #333;

$light					   		: #edf4f5;
$light-l						: #fff;
$light-d						: #c6cbcc;
$light-n                        : rgba($light, 0);
$light-ln                       : rgba($light-l, 0);
$light-dn                       : rgba($light-d, 0);


// Type guide
// ------------------------------------------------------------

$serif							: "utopia-std-subhead",serif;
$caps							: "jaf-facitweb",sans-serif;
$script							: "bistro-script-web",cursive;
$socicon						: "socicon" !important;

h1 { font-size: 60px; line-height: 84px; }
h2 { font-size: 48px; line-height: 72px; }
h3 { font-size: 36px; line-height: 60px; }
h4 { font-size: 28px; line-height: 54px; }
h5 { font-size: 22px; line-height: 42px; }
h6 { font-size: 16px; line-height: 24px; }

p {
	line-height: 42px;
	font-size: 22px;
	text-align: left;
}

b { font-weight: 600; }
i { font-style: italic; }
strong { font-weight: 600; }
em {
	font-style: italic;
	letter-spacing: -0.02em;
}
.strikethru {
	text-decoration: line-through;
}

.caps {
	font-family: $caps;
	letter-spacing: 1px;
	text-transform: uppercase;
}
h6.caps {
	font-weight: 600;
}
.social {
	font-family: $socicon;
}

@font-face {
    font-family: 'socicon';
    src: url('/fonts/socicon-webfont.eot');
    src: url('/fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/socicon-webfont.woff') format('woff'),
         url('/fonts/socicon-webfont.ttf') format('truetype'),
         url('/fonts/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a.texta {
	text-decoration: underline;
	&:hover {
		color: $red;
	}
	&:active {
		color: $blk-6;
	}
}


// Sizing
// ------------------------------------------------------------

$basefont						: 18px; 				// Sets the browser default size.
$baseline						: 12px;					// Baseline grid. Set to a sensible, small size.
$relative-font-sizing			: false;				// Set to false if you want to use absolute pixels in sizing your typography.
$round-to-nearest-half-line		: true;  				// Round the line height to the nearest half line height.


// Media queries
// ------------------------------------------------------------

@media screen and (min-width: em-font(480px)) {
	.container { width: 95%; }
}
@media screen and (min-width: em-font(800px)) {
	.container { min-width: em-font(780px);	}

}
@media screen and (min-width: em-font(1080px)) {
	.container { max-width: em-font(1080px); }
}

// iOS specifics
@media screen and (max-width: 769px) {
	-webkit-text-size-adjust:none;
}