extends ../html/layout-study

block title
	title Isaac Paavola | Dos Toros

block body
	body.study.dostoros

block header
	nav
		ul
			li#nava.nava
				a.initials.caps(href="#home")
					span P
					div
					span V
					div
					span L
				a.lastname.caps
					div
					span A
					span A
					div
					span O
					div
					span A
				h6 Isaac Paavola's creative
				h6 and design adventures!
			li.navb.caps
				a.nextstudy(data-nextstudy="coolhouse")
					span &#8249;
					| Last thingy
			li.navc.caps
				a.nextstudy(data-nextstudy="huddlepass")
					| Next thingy
					span &#8250;
	header
		.wrap
			.logo
				span#logo(data-speed="5.55")
					img.fadeindownb(src="/images/dostoros/logo.png")
			.title
				span#title(data-speed="2.85")
					h1.fadeinup Faucibus erat at feugiat erat nunc rutrum mi molestie.
		.awrap
			.rwrap
				.fade
	.push
		div

block overview
	.head
		span.fadeinleft
		h5.caps.fadeinup Overview
		span.fadeinright
	.wrap.hidden
		.overview
			.detail.two-col
				p Ullamcorper vel integer et condimentum vitae. Elit felis in. Commodo leo odio faucibus a nunc. Neque tempus luctus at tellus platea turpis etiam porta vel amet et. Dolor neque ipsum. Feugiat delectus lobortis vestibulum libero non vitae adipiscing tempor pede wisi nunc vitae.
				p Id varius pellentesque. Aliquet velit ut blandit pulvinar urna. In accumsan ipsum. Cursus et morbi. Nulla commodo vitae. Tellus urna in dictumst fringilla id laoreet felis cras mattis cursus congue. Voluptates consequat elit dui pellentesque sapien gravida in.
			.context
				div
					h6.caps Role:
					p storyteller <em>(deal with it <a class="texta" href="https://youtu.be/UlkIVIau1Nk", target="_blank">sagmeister</a>)</em>
				div
					h6.caps When:
					p early 2015
				div
					h6.caps With:
					p Metronome3, agency
			.live
				a.button(href="http://dostoros.com", target="_blank") Visit the live site

block content
	.itemhead
		h2 A Tale of Two Brothers
			span
	.visual.full
		.browser.large
			.top
				ul
					li
					li
					li
				span dostoros.com
			video(preload="auto", autoplay="true", loop="true", poster="/images/dostoros/dostoros-totb-poster.jpg")
				source(src="/images/dostoros/dostoros-totb.webm", type="video/webm")
				source(src="/images/dostoros/dostoros-totb.mp4", type="video/mp4")
	.detail
		p Velit ac ut quam at eget. Purus neque neque con risus quis. Odio suspendisse amet scelerisque sodales viverra. Congue pede est. Convallis a ac lacus hymenaeos eget lorem massa cras...
		p Qui velit etiam. Nisl turpis purus. Magna leo in. Et nullam neque montes aute urna. Nulla scelerisque et. Euismod dolor ipsum suspendisse malesuada justo nunc tellus eros pede et dui fermentum vitae at maxime turpis sagittis. Ut vivamus proin. Euismod nunc vel in litora diam. Porttitor urna leo neque sem velit ut blandit pulvinar urna vitae!
	.visual.two-col
		.browser
			.top
				ul
					li
					li
					li
				span dostoros.com
			video(preload="auto", autoplay="true", loop="true", poster="/images/dostoros/dostoros-view-guac-poster.jpg")
				source(src="/images/dostoros/dostoros-view-guac.webm", type="video/webm")
				source(src="/images/dostoros/dostoros-view-guac.mp4", type="video/mp4")
		.browser
			.top
				ul
					li
					li
					li
				span dostoros.com
			img(src="/images/dostoros/dostoros-view-chop.jpg")
	.visual.two-col
		.browser
			.top
				ul
					li
					li
					li
				span dostoros.com
			img(src="/images/dostoros/dostoros-view-meats.jpg")
		.browser
			.top
				ul
					li
					li
					li
				span dostoros.com
			video(preload="auto", autoplay="true", loop="true", poster="/images/dostoros/dostoros-view-culture-poster.jpg")
				source(src="/images/dostoros/dostoros-view-culture.webm", type="video/webm")
				source(src="/images/dostoros/dostoros-view-culture.mp4", type="video/mp4")
	.detail
		p Mauris eleifend, libero vel pellentesque ornare, erat felis pharetra sapie, insta tempus lectus urna nec dui. Nullam efficitur vestibulum iaculis. Inn semper non dolor vel eleifend duis tristique ex rhoncus.
		p Mauris eleifend, libero vel pellentesque ornare, erat felis pharetra sapien, in tempus lectus urna nec dui. Nullam efficitur vestibulum iaculis. In semper non dolor vel eleifend.
	.visual.multiphone
		.phone
			.top
				.camera
					span
				.speaker
					span
			img.header(src="/images/dostoros/dostoros-mobile-header.png")
			.frame.scroll
				img(src="/images/dostoros/dostoros-mobile-01.jpg")
			.bottom
				div
					span
		.phone
			.top
				.camera
					span
				.speaker
					span
			img.header(src="/images/dostoros/dostoros-mobile-header.png")
			.frame.scroll
				img(src="/images/dostoros/dostoros-mobile-02.jpg")
			.bottom
				div
					span
		.phone
			.top
				.camera
					span
				.speaker
					span
			img.header(src="/images/dostoros/dostoros-mobile-header.png")
			.frame.scroll
				img(src="/images/dostoros/dostoros-mobile-03.jpg")
			.bottom
				div
					span
	.itemhead.small
		h2 Locations
			span
	.visual.full
		.browser.large
			.top
				ul
					li
					li
					li
				span dostoros.com/locations
			img(src="/images/dostoros/dostoros-locations.gif")
	.itemhead.small
		h2 Menu
			span
	.visual.full
		.browser.large
			.top
				ul
					li
					li
					li
				span dostoros.com/menu
			img(src="/images/dostoros/dostoros-menu.jpg")
	.detail
		p I can't show off how different the tale of two brothers homepage is here. You really gotta scroll it for yourself.
		a.button(href="http://dostoros.com", target="_blank") Visit the live site

block next
	section.next.hpass.nextstudy(data-nextstudy="huddlepass")
		.head
			h5.caps Next thingy
		.peek
			img(src="/images/huddlepass/logo.png")
		.peekbg
