@import "_resource/_all";
@import "project/_all";
@import "project/projects/_all";


// Layout styles
// ------------------------------------------------------------

body.project, header, nav, section {
	width: 100%;
	min-width: 960px;
	max-width: 1600px;
}

body.project {
	text-align: center;
	.base.hide {
		background: $wht;
	}
	section {
		@include trans(.375);
		.head {
			@include trans(.375);
		}
	}
	.navslide {
		.slide {
			background: $red;
			@include dropshadow-x(36px, $blk-1);
			@include homeslidein;
		}
	}
}
body.project.navreturn {
	nav {
		@include navout;
		li.nava {
			h6 {
				opacity: 0;
			}
		}
	}
	.navslide {
		display: block;
		.slide {
			@include dropshadow-x(15px, $blk-1);
		}
	}
}


body.project.next {
	nav {
		@include navout;
	}
	header {
		.logo, .title {
			opacity: 0;
			@include trans(.375s);
		}
		.logo {
			@include tmove(0, -96px);
		}
		.title {
			@include tmove(0, 84px);
		}
		.slide {
			@include animate(.375s);
			@include slidein;
		}
	}
	.arrow {
		opacity: 0;
		@include tmove(0, -127px);
		@include trans(.1s);
	}
	section.work {
		.head, .itemhead, .wrap, .visual, .detail, .footlink {
			opacity: 0;
			@include tmove(0, 240px);
			@include trans(.375s);
			@include ttimingcb(.7, .3, .7, .3);
		}
	}
	section.next {
		.head, .peek, .peekbg {
			@include tmove(0, 144px);
			@include trans(.375s);
		}
	}
}
body.project.fold {
	.arrow {
		@include tmove(0, -27px);
		@include trans(.2s);
	}
}


// Media queries
@media screen and (min-width: 1601px) {
	body.project {
		section {
			@include padding-x(5%);
		}
		nav {
			ul {
				@include padding-x(5%);
			}
			li.nava {
				left: 5%;
			}
		}
	}
}
@media screen and (max-width: 959px) {
	body.project {
		nav {
			z-index: 3;
		}
		header {
			z-index: 2;
		}
		.push {
			display: none;
		}
		section {
			z-index: 2;
		}
		.base {
			position: fixed;
			top: 0;
			bottom: 0;
			height: auto;
		}
	}
}
