@import "_resource/_all";
@import "home/_all";


// Base styles
// ------------------------------------------------------------

a, a img {
	text-decoration: none;
	cursor: pointer;
	color: $blk;
	@include trans(.3s);
	&:hover {
		color: $blk;
		@include trans(.15s);
	}
	&:active {
		color: $blk;
		@include trans(.1s);
	}
}
.hidden {
	display: none;
}


// Layout styles
// ------------------------------------------------------------

html {
	height: 100%;
	font-size: 100%;
	background: $lgt-d;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialised;
	-ms-font-smoothing: antialised;
	-o-font-smoothing: antialised;
	font-smoothing: antialiased;
}
body {
	position: relative;
	width: 100%;
	min-width: 320px;
	max-width: 1600px;
	height: 100%;
	margin: auto;
	color: $blk;
	font-family: $serif;
	font-size: $basefont;
	line-height: $baseline;
}
section {
	position: relative;
	z-index: 2;
	width: 100%;
	@include padding-x(5%);
	overflow: hidden;
	@include trans(.6s, .2s);
	.head {
		position: relative;
		width: 100%;
		@include leader(16);
		@include trailer(7);
		text-align: center;
		@include trans(.375s);
		h5 {
			display: inline-block;
			letter-spacing: 0.075em;
			font-weight: 600;
			color: $blk-7;
			&::after {
				content:'';
				position: absolute;
				bottom: -15px;
				left: 50%;
				width: 50px;
				height: 3px;
				margin-left: -25px;
				background: $blk-6;
			}
		}
	}
}
.base {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: -1;
	width: 100%;
	min-width: 320px;
	max-width: 1600px;
	margin: auto;
	box-shadow: 18px 0 $blk-1, 1px 0 $blk-1, -18px 0 $blk-1, -1px 0 $blk-1;
	background: $red;
	@include trans(.5s);
}
.navslide {
	display: none;
	position: fixed;
	z-index: 999;
	top: 0;
	width: 100%;
	max-width: 1600px;
	height: 100%;
	overflow: hidden;
	.slide {
		position: relative;
		z-index: 999;
		width: 100%;
		height: 100%;
		@include animate(.75s, .2s);
		@include atimingcb(.7, .3, .7, .3);
	}
	.overlay {
		position: fixed;
		z-index: 998;
		top: 0;
		width: 100%;
		height: 100%;
		background: $blk-6;
		@include animate(.95s);
		@include fadein;
	}
}


body.home {
	header {
		background: $red;
	}
	.navslide {
		.slide {
			background: $wht;
			@include dropshadow-x(-36px, $blk-1);
			@include animate(.75s, .225s);
			@include projectslidein;
			@include atimingcb(.7, .3, .7, .3);
		}
	}
}
body.home.navgo {
	nav {
		@include navout;
	}
	.navslide {
		display: block;
		.slide {
			@include dropshadow-x(-15px, $blk-1);
		}
	}
}

body.fold {
	header {
		.wrap {
			opacity: .3;
			@include tscale(.92);
		}
		.tagline:not(.face) {
			>span, >span:hover {
				@include trans(.2s);
				h1:nth-of-type(1) {
					@include tmove(-24px, -42px);
				}
				h1:nth-of-type(2) {
					@include tmovescale(.96, -42px, -33px);
				}
				h1:nth-of-type(3) {
					@include tmovescale(.92, -56px, -24px);
				}
			}
		}
	}
	.arrow {
		@include trans(.25s);
	}
	section.workwall {
		.wall {
			opacity: 1;
			@include trans(.8s);
		}
	}
}
body.home.fold {
	header, .base {
		background: $red-d;
		@include trans(.25s);
	}
	.arrow {
		@include arrow(27px, $red-d);
	}
}

// body.out {
// 	.base {
// 		background: $wht;
// 		@include trans(.375s);
// 	}
// 	header {
// 		opacity: 0;
// 		@include trans(.375s);
// 	}
// 	nav {
// 		@include navout;
// 	}
// 	nav.bluebg {
// 		background: none;
// 		box-shadow: none;
// 	}
// 	section.workwall {
// 		.wall {
// 			opacity: 0;
// 			@include trans(.375s);			
// 		}
// 	}
// 	.project, .head {
// 		opacity: 0;
// 		@include tmove(0, 240px);
// 		@include trans(.375s);
// 		@include ttimingcb(.7, .3, .7, .3);
// 	}
// 	section.about {
// 		opacity: 0;
// 		@include trans(.375);
// 	}
// 	.arrow {
// 		display: none;
// 	}
// }


// Media queries
@media screen and (min-width: 1601px) {
	section, .loader {
		@include padding-x(6%);
	}
}
@media screen and (max-width: 959px) {
	.base {
		z-index: -999;
	}
	section.work, section.about, section.aboutme, section.contact {
		z-index: 999;
	} 
	section, .loader {
		@include padding-x(5%);
		.head {
			@include leader(12);
			@include trailer(6);
		}
	}
}
@media screen and (max-width: 640px) {
	section {
		@include padding-x(2%);
		.head {
			@include leader(8);
			@include trailer(2);
			h5 {
				font-size: 18px;
				&::after {
					bottom: -9px;
					width: 40px;
					height: 3px;
					margin-left: -20px;
				}
			}
		}
	}
}


// Animation styles
.fadein { @include fadein; }
.fadeinup { @include fadeinup; }
.fadeindown { @include fadeindown; }


// Loader styles
nav.hide,
.arrowbar.hide,
.tagline.hide,
.taglinem.hide,
header .wrap.hide,
.overview.hide,
header.hide {
	display: none;
}

