

// Settings
@import "settings/reset";
@import "settings/mixins";
@import "settings/colors";
@import "settings/type";

// Resources
@import "resource/animations";
@import "resource/transitions";
@import "resource/ui";
@import "resource/frames";
@import "resource/loader";
@import "resource/content";

// Layout
@import "layout/nav";
@import "layout/header";
@import "layout/tagline";
@import "layout/wall";
@import "layout/work";
@import "layout/about";
@import "layout/contact";
@import "layout/project";


// Base styles
// ------------------------------------------------------------

	html {
		height: 100%;
		font-size: 100%;
		background: $lgt-d;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialised;
		-ms-font-smoothing: antialised;
		-o-font-smoothing: antialised;
		font-smoothing: antialiased;
	}
	body {
		position: relative;
		width: 100%;
		min-width: 320px;
		max-width: $max-width;
		height: 100%;
		margin: auto;
		color: $blk;
		font-family: $serif;
		font-size: $basefont;
		line-height: $baseline;
	}
	section {
		position: relative;
		z-index: 2;
		width: 100%;
		min-width: 320px;
		max-width: $max-width;
		margin: auto;
		overflow: hidden;
	}
	.base {
		position: fixed;
		top: 0;
		bottom: 0;
		z-index: -1;
		width: 100%;
		min-width: 320px;
		max-width: $max-width;
		margin: auto;
		box-shadow: 18px 0 $blk-1, -18px 0 $blk-1;
		background: $red;
		@include trans(0.5s);
	}

	nav ul, header, section, section .project {
		@include padding-x(5%);
	}
	body.home, body.past {
		section.work {
			@include padding-x(0%);
			overflow: visible;
		}
	}


// Media queries
// ------------------------------------------------------------

	@media screen and (min-width: $max-width+1) {
		nav ul, header, section, section.project {
			@include padding-x(6.5%);
		}
	}
	@media screen and (max-width: 959px) {
		section.work, section.about, section.aboutme, section.contact {
			z-index: 9;
		}
		.base {
			z-index: -9;
		}
	}
