link(rel="stylesheet", href="/_styles/style.css")
meta(name="description", content="Isaac Paavola's creative and design adventures!")
meta(name="author", content="Isaac Paavola")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
link(rel="icon", type="image/ico", href="http://isaacpvl.com/favicon.ico")
script(type="text/javascript" src="/_scripts/analytics.js")
script(src="//use.typekit.net/csr4glb.js")
<script>try{Typekit.load();}catch(e){}</script>
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
script(src="/_scripts/loader.js")