li.nav.nava#nava(data-scroll, data-options="speed: 1000", href="#home")
	a.initials
		span P
		div
		span V
		div
		span L
	a.lastname
		div
		span A
		span A
		div
		span O
		div
		span A
	h6 Isaac Paavola's creative
	h6 and design adventures!